.add-a-new5,
.please-fill-out2 {
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.add-a-new5 {
  width: 1050px;
  font-size: var(--font-size-37xl);
  font-weight: 800;
  font-family: var(--body-m);
  color: var(--color-gray-200);
  text-align: left;
  height: 70px;
  z-index: 0;
}
.please-fill-out2 {
  width: 297px;
  font-size: var(--font-size-5xl);
  font-weight: 100;
  color: var(--color-black);
  height: 25px;
  z-index: 1;
}
.client-name12,
.please-fill-out2,
.text5 {
  font-family: var(--body-m);
  text-align: left;
}
.client-name12 {
  width: 207px;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 110%;
  display: flex;
  font-weight: 600;
  color: var(--color-black);
  align-items: center;
  height: 34px;
  flex-shrink: 0;
  z-index: 2;
}
.text5 {
  position: absolute;
  top: 13px;
  left: 16px;
  font-size: var(--body-m-size);
  line-height: 140%;
  color: var(--coolgray-60);
  display: inline-block;
  width: 114px;
}
.field7 {
  width: 671px;
  position: relative;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  height: 47px;
  z-index: 3;
}
.company-name1 {
  width: 207px;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 110%;
  display: flex;
  font-weight: 600;
  font-family: var(--body-m);
  color: var(--color-black);
  text-align: left;
  align-items: center;
  height: 34px;
  flex-shrink: 0;
  z-index: 4;
}
.field8 {
  width: 671px;
  position: relative;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  height: 47px;
  z-index: 5;
}
.contact-info {
  width: 161px;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 110%;
  display: flex;
  font-weight: 600;
  font-family: var(--body-m);
  color: var(--color-black);
  text-align: left;
  align-items: center;
  height: 34px;
  flex-shrink: 0;
  z-index: 6;
}
.field9 {
  width: 671px;
  position: relative;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  height: 47px;
  z-index: 7;
}
.email-address {
  width: 183px;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 110%;
  display: flex;
  font-weight: 600;
  font-family: var(--body-m);
  color: var(--color-black);
  text-align: left;
  align-items: center;
  height: 34px;
  flex-shrink: 0;
  z-index: 8;
}
.field10 {
  width: 671px;
  position: relative;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  height: 47px;
  z-index: 9;
}
.country {
  width: 106px;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 110%;
  display: flex;
  font-weight: 600;
  font-family: var(--body-m);
  color: var(--color-black);
  text-align: left;
  align-items: center;
  height: 34px;
  flex-shrink: 0;
  z-index: 10;
}
.field11 {
  width: 671px;
  position: relative;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  height: 46px;
  z-index: 11;
}
.icon-ionicons-outline-cl4 {
  width: 48px;
  position: absolute;
  margin: 0 !important;
  top: 11px;
  left: 1050px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 12;
}
.add-a-new-contact-parent {
  margin: 0;
  position: absolute;
  top: 50px;
  left: 87px;
  width: 1098px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
}
.add-a-new6 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 110%;
  font-weight: 800;
  font-family: var(--body-m);
  color: var(--color-base-white);
  text-align: left;
}
.add-a-new-contact-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-mini) var(--padding-11xl);
  background-color: var(--color-mediumslateblue);
  position: absolute;
  top: 736px;
  left: 498px;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
.add-a-new-contact {
  width: 100%;
  position: relative;
  background-color: var(--color-base-white);
  height: 1024px;
  overflow: hidden;
}
