.logo-icon1 {
  height: 30px;
  width: 67px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.content-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
}
.icon-tabler-icons-user-cir1 {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: 0 !important;
  right: 29px;
  bottom: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--typography-desktop-h5-size);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navigation-links {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon10,
.navigation-links,
.projects-icon1 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.projects-icon1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--typography-desktop-h5-size);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame6 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.employees-icon1,
.frame6,
.icon11 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.employees-icon1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--typography-desktop-h5-size);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame7 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contacts1,
.frame7,
.icon12 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.contacts1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--typography-desktop-h5-size);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame8,
.leads-pipeline1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame8 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
}
.leads-pipeline1 {
  padding: var(--padding-base) var(--padding-10xl-5);
}
.frame9,
.icon13,
.leads-pipeline1 {
  align-self: stretch;
  flex: 1;
}
.icon13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--typography-desktop-h5-size);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame9 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
  flex-direction: row;
}
.frame9,
.home1,
.main-links,
.sidebar1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home1 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.main-links,
.sidebar1 {
  flex-direction: column;
}
.main-links {
  margin: 0;
  align-self: stretch;
  flex: 1;
  gap: var(--gap-5xs);
}
.sidebar1 {
  height: 983px;
  width: 83px;
  border-radius: var(--br-11xl);
  background-color: var(--neutrals-neutrals-5);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-18xl) 0 var(--padding-552xl);
  position: relative;
  gap: var(--gap-14xl);
}
.dashboard1,
.project-completion-child {
  width: 324px;
  position: relative;
  max-width: 100%;
}
.dashboard1 {
  margin: 0;
  height: 72px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.project-completion-child {
  height: 265px;
  border-radius: var(--br-xl);
  background-color: var(--washedpurple-washedpurple-400);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25), 0 5px 6px rgba(0, 0, 0, 0.25);
  display: none;
}
.deal-closure-rate,
.total-projects-done {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.total-projects-done {
  width: 125px;
  height: 18px;
  line-height: 88.4px;
  min-width: 125px;
}
.deal-closure-rate {
  width: 56px;
  line-height: 70px;
  min-width: 56px;
}
.target-achieved {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 111px;
  z-index: 1;
}
.goal-attainment {
  width: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xs);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.deal-progress {
  width: 259px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.in-this-month {
  align-self: stretch;
  height: 18px;
  position: relative;
  line-height: 88.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 96px;
  z-index: 2;
}
.time-indicator {
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.subtract-icon1 {
  height: 75px;
  width: auto;
  position: relative;
}
.subtract {
  position: relative;
  background-color: var(--primaryblue-primaryblue-500);
  z-index: 1;
}
.chart,
.union-icon {
  position: absolute;
  top: 0;
}
.chart {
  left: 13px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs-3) 0 0 var(--padding-12xs-3);
  z-index: 1;
}
.union-icon {
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.empty {
  position: absolute;
  top: 5px;
  left: 3px;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 29px;
  z-index: 3;
}
.additional-metrics {
  position: absolute;
  top: 38px;
  left: 0;
  width: 35px;
  height: 34.5px;
}
.chart-container {
  height: 100px;
  flex: 1;
  position: relative;
  color: var(--color-black);
}
.monthly-performance,
.target-status {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.monthly-performance {
  flex-direction: row;
  gap: var(--gap-3xl);
  margin-top: -6px;
  font-size: var(--font-size-sm);
}
.target-status {
  flex-direction: column;
  font-size: var(--font-size-29xl);
}
.project-completion,
.staffing-overview-child {
  border-radius: var(--br-xl);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25), 0 5px 6px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.project-completion {
  align-self: stretch;
  background-color: var(--washedpurple-washedpurple-400);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-4xl) var(--padding-sm)
    var(--padding-5xl);
  box-sizing: border-box;
  color: var(--brand-brand-dark);
}
.staffing-overview-child {
  height: 182px;
  width: 324px;
  position: relative;
  background-color: var(--white);
  display: none;
}
.recruitment-summary,
.total-employees-working {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.total-employees-working {
  align-self: stretch;
  height: 20px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.recruitment-summary {
  flex: 1;
  line-height: 78px;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.hiring-trends {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl) 0 var(--padding-14xl);
  margin-top: -11px;
  font-size: var(--font-size-29xl);
}
.currently {
  flex: 1;
  position: relative;
  line-height: 15px;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 2;
}
.employment-status {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-sm) 0 var(--padding-mini);
  margin-top: -11px;
}
.employee-count {
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.empty1,
.total-employees-hired {
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-employees-hired {
  align-self: stretch;
  height: 20px;
  position: relative;
  line-height: 15px;
  flex-shrink: 0;
  z-index: 2;
}
.empty1 {
  width: 56px;
  position: absolute;
  margin: 0 !important;
  top: -66px;
  left: calc(50% - 28px);
  line-height: 78px;
  z-index: 1;
}
.this-month {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 15px;
  z-index: 2;
}
.employee-count-inner,
.empty-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.empty-parent {
  flex: 1;
  justify-content: flex-start;
  position: relative;
}
.employee-count-inner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-sm) 0 var(--padding-mini);
  font-size: var(--font-size-29xl);
}
.employee-count1 {
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 56px;
}
.project-completion-item,
.staffing-overview {
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25), 0 5px 6px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.staffing-overview {
  align-self: stretch;
  height: 182px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-19xl) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-2xl);
}
.project-completion-item {
  width: 324px;
  height: 265px;
  position: relative;
  display: none;
}
.total-deals-made {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  z-index: 2;
}
.separator {
  height: 70px;
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 88.4px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 56px;
  z-index: 1;
}
.in-this-month1 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 96px;
  z-index: 2;
}
.total-deals-made-parent {
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.deals-closing {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
  z-index: 1;
}
.union-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.empty2 {
  position: absolute;
  top: 5px;
  left: 2.1px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  min-width: 31px;
  z-index: 2;
}
.union-parent {
  height: 34.5px;
  flex: 1;
  position: relative;
}
.deals-closing-parent,
.frame-wrapper6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper6 {
  width: 98.2px;
  flex-direction: row;
  padding: 0 var(--padding-12xl);
  box-sizing: border-box;
  text-align: center;
}
.deals-closing-parent {
  width: 125px;
  flex-direction: column;
  gap: var(--gap-6xs);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 0 4px 7.6px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.frame-child4,
.rectangle-parent {
  height: 13px;
  border-radius: var(--br-xl);
}
.frame-child4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-red);
  width: 50.7px;
  z-index: 2;
}
.rectangle-parent {
  align-self: stretch;
  position: relative;
  background-color: var(--white);
  box-shadow: 0 4px 7.6px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  z-index: 1;
}
.frame-parent5,
.key-metrics,
.project-completion1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent5 {
  align-self: stretch;
  gap: 3.5px;
}
.key-metrics,
.project-completion1 {
  max-width: 100%;
}
.project-completion1 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25), 0 5px 6px rgba(0, 0, 0, 0.25);
  padding: var(--padding-4xl) var(--padding-5xl) var(--padding-17xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: left;
}
.key-metrics {
  width: 324px;
  gap: var(--gap-13xl);
  min-width: 324px;
}
.project-summary-container-child {
  align-self: stretch;
  height: 418px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25), 0 5px 6px rgba(0, 0, 0, 0.25);
  display: none;
}
.title {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 500;
  font-family: inherit;
}
.graph-icon {
  width: 75%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: -20px;
  top: 0;
  transform: scale(1);
}
.graph-icon1 {
  width: 75%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 33px;
  top: 0;
  transform: scale(1);
}
.wrapper-graph {
  width: 820px;
  height: 335px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container6 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  gap: var(--gap-xs);
  max-width: 100%;
  z-index: 1;
}
.title1 {
  align-self: stretch;
  height: 24px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.data,
.metric,
.title1 {
  overflow: hidden;
}
.data {
  width: 53px;
  height: 36px;
  position: relative;
  font-size: var(--typography-desktop-h3-size);
  line-height: 36px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.metric {
  flex: 1;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  gap: var(--gap-9xs);
  min-width: 152px;
  max-width: 155px;
}
.data1,
.title2 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.title2 {
  align-self: stretch;
  height: 24px;
  line-height: 24px;
}
.data1 {
  width: 53px;
  height: 36px;
  font-size: var(--typography-desktop-h3-size);
  line-height: 36px;
  font-weight: 500;
  color: var(--color-black);
}
.metric1 {
  flex: 1;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  gap: var(--gap-9xs);
  min-width: 152px;
  max-width: 155px;
}
.data2,
.title3 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.title3 {
  align-self: stretch;
  height: 24px;
  line-height: 24px;
}
.data2 {
  width: 53px;
  height: 36px;
  font-size: var(--typography-desktop-h3-size);
  line-height: 36px;
  font-weight: 500;
  color: var(--color-black);
}
.metric2 {
  flex: 1;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  gap: var(--gap-9xs);
  min-width: 152px;
  max-width: 155px;
}
.data3,
.title4 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.title4 {
  align-self: stretch;
  height: 24px;
  line-height: 24px;
}
.data3 {
  width: 37px;
  height: 36px;
  font-size: var(--typography-desktop-h3-size);
  line-height: 36px;
  font-weight: 500;
  color: var(--color-black);
}
.metric3 {
  flex: 1;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  gap: var(--gap-9xs);
  min-width: 152px;
  max-width: 155px;
}
.data4,
.title5 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.title5 {
  align-self: stretch;
  height: 24px;
  line-height: 24px;
}
.data4 {
  width: 37px;
  height: 36px;
  font-size: var(--typography-desktop-h3-size);
  line-height: 36px;
  font-weight: 500;
  color: var(--color-black);
}
.container7,
.list,
.metric4 {
  display: flex;
  box-sizing: border-box;
}
.metric4 {
  flex: 1;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-gray-600);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  gap: var(--gap-9xs);
  min-width: 152px;
  max-width: 155px;
}
.container7,
.list {
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.list {
  flex: 1;
  align-items: center;
  padding: var(--padding-xl) var(--padding-4xs);
  gap: var(--gap-xl);
}
.container7 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  z-index: 1;
  font-size: var(--font-size-base);
  color: var(--color-gray-1300);
}
.chart-background,
.project-summary-container {
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25), 0 5px 6px rgba(0, 0, 0, 0.25);
}
.project-summary-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
  max-width: 100%;
}
.chart-background {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.title6,
.title7 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.title6 {
  margin: 0;
  width: 802px;
  font-size: inherit;
  line-height: 28px;
  font-family: inherit;
  max-width: 100%;
}
.title7 {
  line-height: 18px;
  min-width: 83px;
}
.chart-legend {
  width: 733px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  font-size: var(--font-size-xs);
}
.sales-chart-container,
.sales-chart-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.sales-chart-details {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-16xl) var(--padding-xl) 55px var(--padding-16xl);
  position: relative;
  gap: 240px;
  min-height: 376px;
}
.sales-chart-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-4xs);
}
.title8 {
  width: 101px;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  transform: rotate(-90deg);
}
.feedback-header {
  height: 136.5px;
  width: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 35.5px 0 0;
  box-sizing: border-box;
}
.comparison-labels,
.customer-quotes {
  position: relative;
  display: inline-block;
}
.customer-quotes {
  width: 25.7px;
}
.comparison-labels {
  flex: 1;
  min-width: 18.3px;
}
.metric-comparison {
  width: 32.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) var(--padding-8xs-2) var(--padding-5xs-3);
  box-sizing: border-box;
}
.div11 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 18.3px;
}
.metric-comparison1 {
  width: 32.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) var(--padding-8xs-2) var(--padding-5xs-3);
  box-sizing: border-box;
}
.div12 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 18.3px;
}
.metric-comparison2 {
  width: 32.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) var(--padding-8xs-2) var(--padding-5xs-3);
  box-sizing: border-box;
}
.div13,
.quote-attribution {
  position: relative;
  display: inline-block;
  min-width: 9.8px;
}
.div13 {
  width: 9.8px;
}
.quote-attribution {
  flex: 1;
}
.quote-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 18.3px;
  text-align: center;
}
.brand-icon,
.brand-logos-icon {
  position: absolute;
  top: 188px;
  left: 7.3px;
  width: 1px;
  height: 6px;
}
.brand-logos-icon {
  left: 0;
  width: 7.3px;
  height: 1px;
  z-index: 2;
}
.brand-logos-icon1,
.brand-logos-icon2,
.brand-logos-icon3,
.brand-logos-icon4 {
  position: absolute;
  top: 148px;
  left: 0;
  width: 7.3px;
  height: 1px;
  z-index: 2;
}
.brand-logos-icon2,
.brand-logos-icon3,
.brand-logos-icon4 {
  top: 108px;
}
.brand-logos-icon3,
.brand-logos-icon4 {
  top: 68px;
}
.brand-logos-icon4 {
  top: 28px;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  top: 188px;
  left: 0.4px;
  width: 730.5px;
  height: 1px;
}
.vector-icon1 {
  top: 28px;
  width: 1px;
  height: 160px;
  z-index: 1;
}
.group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.additional-logos {
  position: absolute;
  width: calc(100% - 10.5px);
  top: 0;
  right: 3.6px;
  left: 6.9px;
  height: 189px;
}
.group-icon1 {
  position: absolute;
  top: 25px;
  left: 3.6px;
  width: 737.8px;
  height: 156.4px;
  z-index: 4;
}
.social-proof {
  width: 741.4px;
  height: 194px;
  position: absolute;
  margin: 0 !important;
  top: -180.3px;
  right: -729.2px;
}
.quote-source {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 7.2px;
}
.quote-highlight {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 15.9px;
}
.customer-feedback,
.feedback-metrics,
.quote-highlight {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.feedback-metrics {
  flex: 1;
  flex-direction: column;
  gap: 20.8px;
  margin-left: -4.7px;
  text-align: right;
  font-family: var(--font-inter);
}
.customer-feedback {
  width: 67.8px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 10.5px 0 0;
  box-sizing: border-box;
  text-align: left;
  font-family: var(--font-roboto);
}
.performance-symbols-icon {
  height: 6px;
  width: 1px;
  position: relative;
}
.metric-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 2.6px 0 var(--padding-9xs);
}
.indicator-labels {
  width: 7.3px;
  position: relative;
  display: inline-block;
  min-width: 7.3px;
}
.performance-indicators {
  width: 17.9px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs-5);
}
.vector-icon2 {
  height: 6px;
  width: 1px;
  position: relative;
}
.vector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs-9) 0 var(--padding-8xs);
}
.div14 {
  width: 9.8px;
  position: relative;
  display: inline-block;
  min-width: 9.8px;
}
.performance-indicators1 {
  width: 19.1px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs-5);
}
.vector-icon3 {
  height: 6px;
  width: 1px;
  position: relative;
}
.vector-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs-9) 0 var(--padding-8xs);
}
.div15 {
  width: 9.8px;
  position: relative;
  display: inline-block;
  min-width: 9.8px;
}
.performance-indicators2 {
  width: 19.1px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs-5);
}
.vector-icon4 {
  height: 6px;
  width: 1px;
  position: relative;
}
.vector-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs-9) 0 var(--padding-8xs);
}
.div16 {
  width: 9.8px;
  position: relative;
  display: inline-block;
  min-width: 9.8px;
}
.performance-indicators3 {
  width: 19.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs-5);
}
.vector-icon5 {
  height: 6px;
  width: 1px;
  position: relative;
  z-index: 1;
}
.vector-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs);
}
.div17 {
  width: 9.8px;
  position: relative;
  display: inline-block;
  min-width: 9.8px;
}
.performance-indicators4 {
  width: 19.1px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs-5);
}
.vector-icon6 {
  height: 6px;
  width: 1px;
  position: relative;
  z-index: 1;
}
.vector-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs-9) 0 var(--padding-8xs);
}
.div18 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  min-width: 9.8px;
}
.performance-indicators5 {
  width: 19.7px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs-5);
}
.vector-icon7 {
  height: 6px;
  width: 1px;
  position: relative;
  z-index: 1;
}
.vector-wrapper3 {
  width: 8.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 3.3px 0 var(--padding-9xs);
  box-sizing: border-box;
}
.div19 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  min-width: 8.6px;
}
.performance-indicators6 {
  width: 18.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 9.9px 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs-5);
}
.vector-icon8 {
  height: 6px;
  width: 1px;
  position: relative;
  z-index: 1;
}
.vector-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs-9) 0 var(--padding-8xs);
}
.div20 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  min-width: 9.8px;
}
.performance-indicators7 {
  width: 19.1px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 9.3px 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs-5);
}
.vector-icon9 {
  height: 6px;
  width: 1px;
  position: relative;
  z-index: 1;
}
.vector-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs-9) 0 var(--padding-8xs);
}
.div21 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  min-width: 9.8px;
}
.performance-indicators8 {
  width: 15.4px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 5.6px 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs-5);
}
.vector-icon10 {
  height: 6px;
  width: 1px;
  position: relative;
  z-index: 1;
}
.vector-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs-5) 0 var(--padding-4xs);
}
.div22 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  min-width: 17.1px;
}
.performance-indicators9 {
  width: 17.1px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs-5);
}
.vector-icon11 {
  height: 6px;
  width: 1px;
  position: relative;
}
.vector-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 3.1px 0 var(--padding-2xs);
}
.div23 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  min-width: 14.7px;
}
.performance-indicators10 {
  width: 14.7px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs-5);
}
.chart1 {
  width: 841px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.5px var(--padding-8xl) 5.5px;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
  margin-top: -283px;
  text-align: center;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
}
.project-details,
.sales-insights {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.sales-insights {
  align-self: stretch;
  align-items: flex-start;
  min-height: 376px;
}
.project-details {
  flex: 1;
  align-items: flex-end;
  gap: 37px;
  min-width: 576px;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}
.stats-overview {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-29xl);
  max-width: 88%;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-krub);
}
.dashboard,
.info-cards,
.stats-overview,
.work-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-cards {
  align-self: stretch;
  flex-direction: column;
  gap: 42px;
  max-width: 100%;
  text-align: left;
  font-size: var(--typography-desktop-h1-size);
  color: var(--brand-brand-washedpurple);
  font-family: var(--typography-desktop-p);
}
.dashboard,
.work-area {
  box-sizing: border-box;
}
.work-area {
  width: 1258px;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  max-width: 100%;
}
.dashboard {
  width: 100%;
  position: relative;
  background-color: var(--brand-brand-dark);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-xs) var(--padding-2xl);
  gap: 50px;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (max-width: 1350px) {
  .dashboard {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1150px) {
  .sidebar1 {
    padding-top: var(--padding-5xl);
    padding-bottom: var(--padding-352xl);
    box-sizing: border-box;
  }
  .key-metrics {
    flex: 1;
  }
  .sales-chart-details {
    gap: 120px;
  }
  .stats-overview {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .sidebar1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-222xl);
    box-sizing: border-box;
  }
  .dashboard1 {
    font-size: var(--font-size-17xl);
  }
  .deal-closure-rate,
  .empty1,
  .recruitment-summary,
  .separator {
    font-size: var(--font-size-19xl);
    line-height: 71px;
  }
  .list {
    flex-wrap: wrap;
  }
  .project-details {
    min-width: 100%;
  }
  .stats-overview {
    gap: var(--gap-5xl);
  }
  .info-cards {
    gap: var(--gap-2xl);
  }
  .dashboard {
    gap: 25px;
  }
}
@media screen and (max-width: 450px) {
  .dashboard1 {
    font-size: var(--font-size-8xl);
  }
  .deal-closure-rate,
  .empty1,
  .recruitment-summary,
  .separator {
    font-size: var(--font-size-10xl);
    line-height: 53px;
  }
  .key-metrics {
    gap: var(--gap-base);
  }
  .title {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .data,
  .data1,
  .data2,
  .data3,
  .data4 {
    font-size: var(--typography-desktop-h4-size);
    line-height: 29px;
  }
  .title6 {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .sales-chart-details {
    gap: 60px;
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
  .project-details {
    gap: var(--gap-lg);
  }
}
