.desktop-1-child,
.desktop-1-inner,
.desktop-1-item,
.ellipse-section {
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  height: 515px;
  opacity: 0.23;
}
.desktop-1-child {
  top: 2692px;
  left: 628px;
  background-color: var(--primarypurple-primarypurple-700);
  width: 515px;
}
.desktop-1-inner,
.desktop-1-item,
.ellipse-section {
  width: 1098px;
}
.desktop-1-item {
  top: 1750px;
  left: 137px;
  background-color: var(--primarypurple-primarypurple-700);
}
.desktop-1-inner,
.ellipse-section {
  left: 171px;
}
.desktop-1-inner {
  top: 925px;
  background-color: var(--primarypurple-primarypurple-700);
}
.ellipse-section {
  top: 101px;
  background-color: rgba(80, 0, 181, 0.67);
}
.frame-child {
  width: 14px;
  position: relative;
  border-radius: 50%;
  background-color: var(--washedblue-washedblue-500);
  height: 13.9px;
  transform: rotate(-89.8deg);
}
.ellipse-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.subtract-icon {
  width: 5.5px;
  position: relative;
  margin: 0 !important;
  height: 5.5px;
  object-fit: cover;
}
.frame-parent,
.logo-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  gap: var(--gap-5xs);
}
.logo-inner {
  background-color: var(--neutrals-neutrals-6);
  overflow: hidden;
  padding: var(--padding-11xs);
}
.cypress {
  position: relative;
}
.logo,
.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo-wrapper {
  flex: 1;
  height: 36px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.link1 {
  position: relative;
  font-weight: 500;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.button-cta,
.link-parent {
  font-size: var(--typography-desktop-p-size);
  font-family: var(--typography-desktop-p);
  text-align: left;
}
.link-parent {
  margin: 0;
  width: 374px;
  border-radius: var(--br-11xl);
  border: 1px solid var(--neutrals-neutrals-6);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--color-base-white);
}
.button-cta {
  position: relative;
  background: linear-gradient(-86.85deg, #d9d9d9, #8d8c95);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button,
.link-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  cursor: pointer;
  border: 1px solid #201f30;
  padding: var(--padding-9xs) var(--padding-2xl);
  background-color: transparent;
  border-radius: var(--br-5xs);
  background: linear-gradient(180deg, #302e3e, #282637);
  box-sizing: border-box;
  height: 32px;
  justify-content: flex-start;
}
.link-group {
  flex: 1;
  justify-content: flex-end;
  gap: 11px;
  font-size: var(--typography-desktop-p-size);
}
.nav-bar,
.section-title {
  font-family: var(--typography-desktop-p);
  text-align: left;
}
.nav-bar {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid var(--neutrals-neutrals-5);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) 45px;
  font-size: var(--typography-desktop-h5-size);
  color: var(--color-base-white);
}
.section-title {
  position: relative;
  font-size: var(--typography-desktop-p-size);
  color: var(--washedpurple-washedpurple-400);
}
.pill,
.pill1 {
  cursor: pointer;
  background-color: transparent;
}
.pill {
  border: 1px solid var(--color-royalblue-100);
  padding: var(--padding-5xs) var(--padding-xs);
  position: absolute;
  top: 147px;
  left: calc(50% - 92px);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pill1 {
  top: 1001px;
  left: calc(50% - 38px);
}
.pill1,
.pill2,
.pill3 {
  position: absolute;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-royalblue-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.pill2 {
  cursor: pointer;
  background-color: transparent;
  top: 1780px;
  left: calc(50% - 49px);
}
.pill3 {
  top: 2571px;
  left: calc(50% - 50px);
  text-align: left;
  color: var(--washedpurple-washedpurple-400);
}
.all-in-one-collaboration-and {
  margin: 0;
}
.all-in-one-collaboration-and-container,
.keep-track-of-container,
.trusted-by-all,
.trusted-by-all1 {
  margin: 0;
  position: absolute;
  top: 198px;
  left: calc(50% - 321px);
  font-size: var(--typography-desktop-h1-size);
  font-weight: 700;
  font-family: inherit;
}
.keep-track-of-container,
.trusted-by-all,
.trusted-by-all1 {
  top: 1049px;
  left: calc(50% - 194px);
  font-size: var(--typography-desktop-h3-size);
}
.trusted-by-all,
.trusted-by-all1 {
  top: 1828px;
  left: calc(50% - 91px);
}
.trusted-by-all1 {
  top: 2619px;
  left: calc(50% - 92px);
}
.button-cta1 {
  position: relative;
  font-size: var(--typography-desktop-p-size);
  font-family: var(--typography-desktop-p);
  color: var(--brand-brand-washedpurple);
  text-align: left;
}
.button1 {
  cursor: pointer;
  border: 1px solid #7000ff;
  padding: var(--padding-9xs) var(--padding-smi);
  background-color: transparent;
  position: absolute;
  top: 334px;
  left: calc(50% - 61px);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-icon {
  position: absolute;
  top: 446px;
  left: 256px;
  width: 928px;
  height: 291px;
  object-fit: cover;
}
.company-logo-4-icon,
.company-logo-icon {
  width: 98px;
  position: relative;
  height: 32px;
  object-fit: cover;
}
.company-logo-4-icon {
  width: 126px;
}
.company-logo-4-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.company-logo-3-icon {
  width: 134px;
  position: relative;
  height: 40px;
  object-fit: cover;
}
.company-logo-1-icon,
.company-logo-2-icon {
  width: 184px;
  position: relative;
  height: 48px;
  object-fit: cover;
}
.company-logo-1-icon {
  width: 142px;
  height: 40px;
}
.company-logo-parent,
.frame-div {
  width: 824px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-div {
  position: absolute;
  top: 799px;
  left: 0;
  width: 1440px;
  justify-content: center;
}
.capture-your-ideas-container,
.join-thousands-of-container,
.join-thousands-of-container1 {
  position: absolute;
  top: 1136px;
  left: calc(50% - 160px);
  color: var(--washedpurple-washedpurple-700);
}
.join-thousands-of-container,
.join-thousands-of-container1 {
  top: 1879px;
  left: calc(50% - 199px);
}
.join-thousands-of-container1 {
  top: 2670px;
  left: calc(50% - 200px);
}
.frame-item,
.unsplashrdeovte7vos-icon {
  width: 74px;
  position: relative;
  height: 74px;
}
.frame-item {
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.unsplashrdeovte7vos-icon {
  border-radius: var(--br-81xl);
  object-fit: cover;
  margin-top: -76px;
}
.ellipse-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.webprodigies {
  position: relative;
  color: var(--washedpurple-washedpurple-700);
}
.web-prodigies-parent {
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.this-platform-has {
  width: 314px;
  position: relative;
  color: var(--washedpurple-washedpurple-800);
  text-align: left;
  display: inline-block;
}
.testimonial-card {
  width: 432px;
  border-radius: var(--br-mini);
  background: linear-gradient(180deg, #030014, #161427);
  border: 1px solid var(--neutrals-neutrals-5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl);
  gap: var(--gap-mini);
}
.testimonial-card-group,
.testimonial-card-parent {
  position: absolute;
  top: 1983px;
  left: calc(50% - 859px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-38xl);
  text-align: center;
  font-size: var(--typography-desktop-p-size);
  color: var(--brand-brand-washedpurple);
  font-family: var(--typography-desktop-p);
}
.testimonial-card-group {
  top: 2243px;
  left: calc(50% - 1028px);
}
.pro-plan {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.pro-plan-wrapper {
  width: 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
  z-index: 0;
  font-size: var(--typography-desktop-h4-size);
}
.div,
.mo {
  position: relative;
}
.div {
  width: 44px;
  display: inline-block;
  flex-shrink: 0;
}
.mo {
  font-size: var(--typography-desktop-p-size);
  color: var(--neutrals-neutrals-4);
}
.parent {
  width: 73px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  font-size: var(--typography-desktop-h5-size);
  color: var(--neutrals-neutrals-2);
}
.billed-monthly1 {
  position: relative;
  margin-top: -1px;
}
.billed-monthly-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  color: var(--neutrals-neutrals-4);
}
.button2 {
  cursor: pointer;
  border: 1px solid var(--washedblue-washedblue-900);
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  background: linear-gradient(180deg, #302e3e, #282637);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.vector-stroke-icon {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: cover;
}
.unlimited-blocks-for {
  width: 164px;
  position: relative;
  background: linear-gradient(-86.85deg, #d9d9d9, #8d8c95);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  height: 20px;
  flex-shrink: 0;
}
.button3 {
  border-radius: var(--br-5xs);
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-6xs);
}
.everything-in-free-parent {
  height: 181px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 4;
}
.iconexglassheart {
  width: 24px;
  position: absolute;
  margin: 0 !important;
  top: 20px;
  left: 245px;
  height: 20px;
  object-fit: cover;
  z-index: 5;
}
.pricing-card {
  position: absolute;
  top: 2770px;
  left: calc(50% + 26px);
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  backdrop-filter: blur(4px);
  border: 1px solid var(--washedblue-washedblue-900);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-15xl);
  gap: var(--gap-xs);
  text-align: left;
  color: var(--neutrals-neutrals-1);
}
.free-plan-wrapper {
  width: 95px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
  font-size: var(--typography-desktop-h4-size);
}
.billed-monthly-group,
.free-plan-wrapper,
.wrapper {
  display: flex;
  justify-content: flex-start;
}
.wrapper {
  width: 73px;
  flex-direction: row;
  align-items: center;
  font-size: var(--typography-desktop-h5-size);
  color: var(--neutrals-neutrals-2);
}
.billed-monthly-group {
  flex-direction: column;
  align-items: flex-start;
  color: var(--neutrals-neutrals-4);
}
.button-cta3 {
  position: relative;
  background: linear-gradient(-86.85deg, #d9d9d9, #8d8c95);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button7 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background: linear-gradient(180deg, #302e3e, #282637);
  border: 1px solid var(--washedblue-washedblue-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-5xs);
}
.vector-stroke-icon4 {
  width: 24px;
  position: relative;
  height: 24px;
}
.button-parent,
.pricing-card1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button-parent {
  height: 181px;
  justify-content: space-between;
}
.pricing-card1 {
  position: absolute;
  top: 2770px;
  left: calc(50% - 291px);
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  backdrop-filter: blur(4px);
  border: 1px solid var(--neutrals-neutrals-6);
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-15xl);
  gap: var(--gap-xs);
  text-align: left;
  color: var(--neutrals-neutrals-1);
}
.calendar-1-icon {
  position: absolute;
  top: 1205px;
  left: 446px;
  width: 547px;
  height: 408px;
  object-fit: cover;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--neutrals-neutrals-6);
  height: 3723px;
  overflow: hidden;
  text-align: center;
  font-size: var(--typography-desktop-p-size);
  color: var(--brand-brand-washedpurple);
  font-family: var(--typography-desktop-p);
}
