.add-a-new4,
.employee-name2,
.please-fill-out1 {
  margin: 0;
  position: relative;
  line-height: 110%;
  display: flex;
  font-family: var(--font-roboto);
  text-align: left;
  align-items: center;
}
.add-a-new4 {
  align-self: stretch;
  height: -2.1px;
  font-size: var(--font-size-37xl);
  font-weight: 800;
  color: var(--color-gray-300);
  flex-shrink: 0;
}
.employee-name2,
.please-fill-out1 {
  font-style: italic;
  color: var(--color-black);
}
.please-fill-out1 {
  width: 297px;
  height: 25px;
  font-size: var(--font-size-5xl);
  font-weight: 100;
  flex-shrink: 0;
}
.employee-name2 {
  width: 207px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  white-space: nowrap;
}
.icon-jam-icons-outline-l6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.ref-square {
  width: 114px;
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 140%;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon-jam-icons-outline-l7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.field3 {
  align-self: stretch;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-3xs);
  gap: var(--gap-5xs);
}
.designation2 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 110%;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.icon-jam-icons-outline-l8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.size-x {
  width: 114px;
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 140%;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon-jam-icons-outline-l9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.field4 {
  align-self: stretch;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-3xs);
  gap: var(--gap-5xs);
}
.contact-info1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 110%;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.icon-jam-icons-outline-l10 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text2 {
  width: 114px;
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 140%;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon-jam-icons-outline-l11 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.field5 {
  align-self: stretch;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-3xs);
  gap: var(--gap-5xs);
}
.email-address {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 110%;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.icon-jam-icons-outline-l12 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.angledownsolid {
  width: 114px;
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 140%;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon-jam-icons-outline-l13 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.field6 {
  align-self: stretch;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-3xs);
  gap: var(--gap-5xs);
}
.salary {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 110%;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  min-width: 90px;
}
.icon-jam-icons-outline-l14 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.screen-shot {
  width: 114px;
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 140%;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon-jam-icons-outline-l15 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.field7 {
  align-self: stretch;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-3xs);
  gap: var(--gap-5xs);
}
.country {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 110%;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  min-width: 106px;
}
.icon-jam-icons-outline-l16 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.follow-us {
  width: 114px;
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 140%;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon-jam-icons-outline-l17 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.field8 {
  align-self: stretch;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-4xs);
  gap: var(--gap-5xs);
}
.gender {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 110%;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  min-width: 97px;
}
.icon-jam-icons-outline-l18 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.tool-box {
  width: 114px;
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 140%;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon-jam-icons-outline-l19 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.field9 {
  align-self: stretch;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-3xs);
  gap: var(--gap-5xs);
}
.input-fields {
  width: 671px;
  gap: var(--gap-xs);
}
.content-area1,
.form-container,
.input-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.form-container {
  align-self: stretch;
  gap: 44.1px;
}
.content-area1 {
  flex: 1;
  padding: var(--padding-10xl) 0 0;
  box-sizing: border-box;
  min-width: 682px;
}
.icon-ionicons-outline-cl3 {
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.main-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
}
.add-a-new5 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 110%;
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--white);
  text-align: left;
}
.add-a-new-employee-wrapper,
.header-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.add-a-new-employee-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-smi) var(--padding-10xl);
  background-color: var(--color-mediumslateblue);
  border-radius: var(--br-xl);
  flex-wrap: wrap;
  justify-content: flex-start;
  white-space: nowrap;
}
.add-a-new-employee-wrapper:hover {
  background-color: var(--color-dodgerblue-200);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.header-area {
  width: 1058px;
  justify-content: center;
  max-width: 100%;
}
.employee-add-a-new-employee {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-68xl) var(--padding-47xl);
  box-sizing: border-box;
  gap: var(--gap-15xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .add-a-new4 {
    font-size: var(--typography-desktop-h1-size);
    line-height: 49px;
  }
  .contact-info1,
  .country,
  .designation2,
  .email-address,
  .employee-name2,
  .gender,
  .salary {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
  .content-area1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .form-container {
    gap: var(--gap-3xl);
  }
  .employee-add-a-new-employee {
    gap: var(--gap-mid);
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-24xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .add-a-new4 {
    font-size: var(--font-size-15xl);
    line-height: 37px;
  }
  .contact-info1,
  .country,
  .designation2,
  .email-address,
  .employee-name2,
  .gender,
  .please-fill-out1,
  .salary {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .employee-add-a-new-employee {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
