.logo-icon3 {
    height: 30px;
    width: 67px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .sidebar-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xs);
  }
  .icon-tabler-icons-user-cir3 {
    width: 24px;
    height: 24px;
    position: absolute;
    margin: 0 !important;
    right: 29px;
    bottom: 32px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .home3 {
    padding: var(--padding-base) var(--padding-10xl-5);
  }
  .navigation-menu1 {
    margin: 0;
    align-self: stretch;
    flex: 1;
    gap: var(--gap-5xs);
    text-align: center;
    font-size: var(--typography-desktop-h5-size);
    color: var(--color-black);
    font-family: var(--font-roboto);
  }
  .navigation-menu1,
  .sidebar-wrapper,
  .sidebar3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar3 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-11xl);
    background-color: var(--color-gray-1100);
    border: 1px solid var(--color-gray-1000);
    overflow: hidden;
    padding: var(--padding-18xl) 0 var(--padding-552xl);
    position: relative;
    gap: var(--gap-14xl);
  }
  .sidebar-wrapper {
    height: 986px;
    width: 83px;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
  }
  .data-visualization .employees-chart {
    color: var(--brand-brand-washedpurple);
    /* Specify the color you want */
}

  .employees-chart {
    margin: 0;
    height: 72px;
    flex: 1;
    position: relative;
    font-size: inherit;
    line-height: 110%;
    font-weight: 800;
    font-family: inherit;
    display: flex;
    align-items: center;
    max-width: 100%;
  color: var(--brand-brand-washedpurple);

    
  }
  .data-visualization {
    /* width: 582px; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-4xl);
    box-sizing: border-box;
    /* max-width: 100%; */
    width: 100%;
    
  }
  .icon-ionicons-outline-ad3 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
  }
  .add-a-new3 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xl);
    letter-spacing: 0.01em;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--color-black);
    text-align: left;
  }
  .add-employee-button {
    cursor: pointer;
    border: 1px solid var(--color-black);
    padding: var(--padding-3xs) var(--padding-6xs);
    background-color: var(--color-gainsboro-200);
    width: 228px;
    border-radius: var(--br-xl);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
  }
  .add-employee-button:hover {
    background-color: var(--color-silver-100);
    border: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
  }
  .icon-jam-icons-outline-l4 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
  }
  .search-input1 {
    width: calc(100% - 56px);
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 23px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
    font-family: var(--font-roboto);
    font-size: var(--font-size-base);
    color: var(--color-dimgray-100);
    min-width: 300px;
    max-width: 100%;
  }
  .icon-jam-icons-outline-l5 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    min-height: 24px;
  }
  .field2 {
    flex: 1;
    border-radius: var(--br-xl);
    background-color: var(--coolgray-10);
    border-bottom: 1px solid var(--coolgray-30);
    box-sizing: border-box;
    padding: var(--padding-2xs) var(--padding-base) var(--padding-3xs);
    gap: var(--gap-5xs);
    min-width: 502px;
  }
  .action-panel,
  .data-manipulation,
  .field2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .action-panel {
    flex: 1;
    gap: var(--gap-9xl);
  }
  .data-manipulation {
    /* width: 1061px; */
    width: 100%;
    padding: 0 var(--padding-base);
    box-sizing: border-box;
  }
  .more-action {
    align-self: stretch;
    width: 145px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -0.8px;
  }

  .data-visualization-parent,
.employees
 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-visualization-parent {
  flex-direction: column;
  gap: var(--gap-12xl);
  /* max-width: 100%; */
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
  width: 200%;
  overflow-x: auto;
}
.employees {
  position: relative;
  background-color: var(--white);
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-mid) 0 var(--padding-2xl) var(--padding-8xs);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  row-gap: 20px;
}
@media screen and (max-width: 1350px) {
  .employees {
    flex-wrap: wrap;
    padding-right: var(--padding-8xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .sidebar3 {
    padding-top: var(--padding-5xl);
    padding-bottom: var(--padding-352xl);
    box-sizing: border-box;
  }
  .action-panel {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .sidebar3 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-222xl);
    box-sizing: border-box;
  }
  .employees-chart {
    font-size: var(--typography-desktop-h1-size);
    line-height: 49px;
  color: var(--brand-brand-washedpurple);

  }
  .field2 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .data-visualization-parent {
    gap: var(--gap-mini);
  }
}
@media screen and (max-width: 450px) {
  .employees-chart {
    font-size: var(--font-size-15xl);
    line-height: 37px;
  }
} 





