#hiddenSubmitButton {
  position: absolute;
  left: -9999px;
}
.logo-icon {
  height: 30px;
  width: 67px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.f-r-a-m-e-t-o-p-l-e-v-e-l {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
}
.icon-tabler-icons-user-cir {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: 0 !important;
  right: 29px;
  bottom: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame,
.icon1,
.projects-icon {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.projects-icon {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame1 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.employees-icon,
.frame1,
.icon2 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.employees-icon {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame2 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contacts,
.frame2,
.icon3 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.contacts {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon3 {
  position: relative;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame3 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame3,
.icon4,
.leads-pipeline1 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.leads-pipeline1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon4 {
  position: relative;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame4 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  flex-direction: row;
}
.frame4,
.home,
.projects-icon-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home {
  flex-direction: row;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.projects-icon-parent {
  margin: 0;
  flex-direction: column;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.leads-pipeline2,
.sidebar {
  position: relative;
  display: flex;
}
.sidebar {
  height: 983px;
  width: 83px;
  border-radius: var(--br-11xl);
  background-color: var(--neutrals-neutrals-5);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-18xl) 0 var(--padding-552xl);
  gap: var(--gap-14xl);
}
.leads-pipeline2 {
  margin: 0;
  height: 72px;
  flex: 1;
  font-size: inherit;
  line-height: 110%;
  font-weight: 800;
  font-family: inherit;
  align-items: center;
  max-width: 100%;
}
.leads-pipeline-wrapper {
  width: 564px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
  max-width: 100%;
}
.add-a-new {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.add-a-new-client-wrapper,
.frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-a-new-client-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-9xs) var(--padding-mini);
  background-color: var(--color-gainsboro-200);
  border-radius: var(--br-xl);
  white-space: nowrap;
}
.add-a-new-client-wrapper:hover {
  background-color: #4a8aff;
  border: 1px solid #333;
  box-sizing: border-box;
}
.frame-wrapper {
  padding: 0 var(--padding-sm);
}
.column-name {
  flex: 1;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  color: whitesmoke;
}
.column-header {
  margin-left: -24px;
  width: 312px;
  background-color: var(--neutrals-neutrals-5);
  border-bottom: 1px solid var(--color-gray-10);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--spacing-md) var(--spacing-2xl) var(--padding-3xs);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-base-black);
}
.frame-child {
  width: 3px;
  flex: 1;
  position: relative;
  border-radius: var(--br-9980xl);
  background-color: var(--color-base-main);
}
.rectangle-wrapper {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
}
.john-m {
  flex: 1;
  position: relative;
  line-height: 22px;
  color: #e6e6e8;
  font-weight: 500;
}
.title-priority {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-ionicons-sharp-elli {
  height: 20px;
  width: 6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -11px;
}
.title-priority-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  font-size: var(--font-size-base);
  color: var(--color-base-black);
}
.johnmgmailcom {
  white-space: nowrap;
  color: #e6e6e8;
}
.crm-website,
.johnmgmailcom {
  align-self: stretch;
  position: relative;
  line-height: 16px;
  color: #e6e6e8;
}
.title-description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-2xs);
}
.notes1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xs);
  line-height: 14px;
  font-weight: 500;
}
.this-is-mr {
  margin: 0;
  color: #e6e6e8;
}
.move-to,
.this-is-mr-container {
  position: relative;
  line-height: 16px;
  display: inline-block;
}
.this-is-mr-container {
  align-self: stretch;
  height: 64px;
  color: #e6e6e8;
}
.move-to {
  min-width: 45px;
}
.iconexbrokendown-2 {
  height: 21px;
  width: 21px;
  position: relative;
}
.component-7,
.lp-card-button {
  display: flex;
  flex-direction: row;
}
.lp-card-button {
  flex: 1;
  border: 1px solid var(--color-black);
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.component-7 {
  width: 93px;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-black);
}
.notes {
  align-self: stretch;
  flex-direction: column;
  gap: var(--spacing-2xs);
}
.frame-group,
.notes,
.title-description-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title-description-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-group {
  width: 249px;
  flex-direction: row;
  gap: var(--gap-sm);
}
.notes2 {
  align-self: stretch;
  height: 0;
  display: none;
}
.notes-child {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-20);
  box-sizing: border-box;
}
.card,
.notes3 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.notes3 {
  height: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.card {
  box-shadow: var(--shadow);
  border-radius: var(--spacing-md);
  background-color: #4c4b6b;
  border: 1px solid var(--color-gray-20);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-sm) var(--spacing-lg) var(--padding-7xl);
  gap: var(--spacing-md);
}
.frame-item {
  width: 3px;
  flex: 1;
  position: relative;
  border-radius: var(--br-9980xl);
  background-color: var(--color-base-main);
}
.rectangle-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
}
.john-m1 {
  flex: 1;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  color: #e6e6e8;
}
.title-priority1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-ionicons-sharp-elli1 {
  height: 20px;
  width: 6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -11px;
}
.title-priority-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  font-size: var(--font-size-base);
  color: var(--color-base-black);
}
.johnmgmailcom1 {
  white-space: nowrap;
  color: #e6e6e8;
}
.crm-website1,
.johnmgmailcom1 {
  align-self: stretch;
  position: relative;
  line-height: 16px;
  color: #e6e6e8;
}
.title-description1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-2xs);
}
.notes5 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xs);
  line-height: 14px;
  font-weight: 500;
}
.this-is-mr1 {
  margin: 0;
  color: #e6e6e8;
}
.move-to1,
.this-is-mr-container1 {
  position: relative;
  line-height: 16px;
  display: inline-block;
}
.this-is-mr-container1 {
  align-self: stretch;
  height: 64px;
  color: #e6e6e8;
}
.move-to1 {
  min-width: 45px;
}
.iconexbrokendown-21 {
  height: 21px;
  width: 21px;
  position: relative;
  object-fit: contain;
}
.lp-card-button1 {
  flex: 1;
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.component-71 {
  width: 93px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-black);
}
.notes4 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--spacing-2xs);
}
.frame-container,
.notes4,
.title-description-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title-description-group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-container {
  width: 249px;
  flex-direction: row;
  gap: var(--gap-sm);
}
.notes6 {
  align-self: stretch;
  height: 0;
  display: none;
}
.notes-item {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-20);
  box-sizing: border-box;
}
.card1,
.column,
.notes7 {
  display: flex;
  justify-content: flex-start;
}
.notes7 {
  align-self: stretch;
  height: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.card1,
.column {
  border-radius: var(--spacing-md);
  flex-direction: column;
}
.card1 {
  align-self: stretch;
  box-shadow: var(--shadow);
  background-color: #4c4b6b;
  border: 1px solid var(--color-gray-20);
  align-items: flex-end;
  padding: var(--padding-sm) var(--spacing-lg) var(--padding-7xl);
  gap: var(--spacing-md);
}
.column {
  width: 290px;
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.01);
  background-color: #dddcff;
  border: 1px solid var(--color-gray-10);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 0 var(--padding-xs) var(--spacing-2xl);
  gap: var(--spacing-lg);
  text-align: left;
  font-size: var(--font-size-xs);
  color: #e6e6e8;
}
.column-name1 {
  flex: 1;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  color:whitesmoke;
}
.column-header1 {
  margin-left: -24px;
  width: 312px;
  background-color: var(--neutrals-neutrals-5);
  border-bottom: 1px solid var(--color-gray-10);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--spacing-md) var(--spacing-2xl) var(--padding-3xs);
  white-space: nowrap;
}
.column-header:hover,
.column-header1:hover,
.column-header2:hover,
.column-header3:hover {
  background-color: var(--color-dimgray-100);
}
.frame-inner {
  width: 3px;
  flex: 1;
  position: relative;
  border-radius: var(--br-9980xl);
  background-color: var(--color-base-main);
}
.rectangle-frame {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
}
.john-m2 {
  flex: 1;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  color: #e6e6e8;
}
.title-priority2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-ionicons-sharp-elli2 {
  height: 20px;
  width: 6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -11px;
}
.title-priority-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  font-size: var(--font-size-base);
  color: var(--color-base-black);
}
.johnmgmailcom2 {
  white-space: nowrap;
  color: #e6e6e8;
}
.crm-website2,
.johnmgmailcom2 {
  align-self: stretch;
  position: relative;
  line-height: 16px;
  color: #e6e6e8;
}
.title-description2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-2xs);
}
.notes9 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xs);
  line-height: 14px;
  font-weight: 500;
  color: #e6e6e8;
}
.this-is-mr2 {
  margin: 0;
  color: #e6e6e8;
}
.move-to2,
.this-is-mr-container2 {
  position: relative;
  line-height: 16px;
  display: inline-block;
}
.this-is-mr-container2 {
  align-self: stretch;
  height: 64px;
  color: #e6e6e8;;
}
.move-to2 {
  min-width: 45px;
}
.iconexbrokendown-22 {
  height: 21px;
  width: 21px;
  position: relative;
  object-fit: contain;
}
.lp-card-button2 {
  flex: 1;
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.component-72 {
  width: 93px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-black);
}
.notes8 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--spacing-2xs);
  color: #e6e6e8;
}
.frame-div,
.notes8,
.title-description-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title-description-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-div {
  width: 249px;
  flex-direction: row;
  gap: var(--gap-sm);
}
.notes10 {
  align-self: stretch;
  height: 0;
  display: none;
  color: #e6e6e8;
}
.notes-inner {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-20);
  box-sizing: border-box;
}
.card2,
.column1,
.notes11 {
  display: flex;
  justify-content: flex-start;
}
.notes11 {
  align-self: stretch;
  height: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
  color: #e6e6e8;
}
.card2,
.column1 {
  border-radius: var(--spacing-md);
  flex-direction: column;
}
.card2 {
  align-self: stretch;
  box-shadow: var(--shadow);
  background-color: #4c4b6b;
  border: 1px solid var(--color-gray-20);
  align-items: flex-end;
  padding: var(--padding-sm) var(--spacing-lg) var(--padding-7xl);
  gap: var(--spacing-md);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-40);
}
.column1 {
  width: 290px;
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.01);
  background-color: #dddcff;
  border: 1px solid var(--color-gray-10);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 0 var(--padding-xs) var(--spacing-2xl);
  gap: var(--spacing-lg);
}
.column-name2 {
  flex: 1;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  color:whitesmoke;
}
.column-header2 {
  align-self: stretch;
  background-color: var(--neutrals-neutrals-5);
  border-bottom: 1px solid var(--color-gray-10);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--spacing-md) var(--spacing-2xl) var(--padding-3xs);
  white-space: nowrap;
}
.rectangle-div {
  width: 3px;
  flex: 1;
  position: relative;
  border-radius: var(--br-9980xl);
  background-color: var(--color-base-main);
}
.rectangle-wrapper1 {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
}
.john-m3 {
  flex: 1;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  color: #e6e6e8;
}
.title-priority3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-ionicons-sharp-elli3 {
  height: 20px;
  width: 6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -11px;
}
.title-priority-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  font-size: var(--font-size-base);
  color: var(--color-base-black);
}
.johnmgmailcom3 {
  white-space: nowrap;
}
.crm-website3,
.johnmgmailcom3 {
  align-self: stretch;
  position: relative;
  line-height: 16px;
  color: #e6e6e8;
}
.title-description3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-2xs);
}
.notes13 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xs);
  line-height: 14px;
  font-weight: 500;
  color: #e6e6e8;
}
.this-is-mr3 {
  margin: 0;
  color: #e6e6e8;
}
.move-to3,
.this-is-mr-container3 {
  position: relative;
  line-height: 16px;
  display: inline-block;
}
.this-is-mr-container3 {
  align-self: stretch;
  height: 64px;
  color: #e6e6e8;;
}
.move-to3 {
  min-width: 45px;
}
.iconexbrokendown-23 {
  height: 21px;
  width: 21px;
  position: relative;
  object-fit: contain;
}
.lp-card-button3 {
  flex: 1;
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.component-73 {
  width: 93px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-black);
}
.notes12 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--spacing-2xs);
  color: #e6e6e8;
}
.frame-parent1,
.notes12,
.title-description-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title-description-parent1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-parent1 {
  width: 249px;
  flex-direction: row;
  gap: var(--gap-sm);
}
.notes14 {
  align-self: stretch;
  height: 0;
  display: none;
}
.line-div,
.notes15 {
  box-sizing: border-box;
}
.line-div {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-20);
}
.notes15 {
  align-self: stretch;
  height: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  color: #e6e6e8;
}
.card-wrapper,
.card3,
.column2,
.notes15 {
  display: flex;
  justify-content: flex-start;
}
.card3 {
  width: 264px;
  box-shadow: var(--shadow);
  border-radius: var(--spacing-md);
  background-color: #4c4b6b;
  border: 1px solid var(--color-gray-20);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-sm) var(--spacing-lg) var(--padding-7xl);
  gap: var(--spacing-md);
}
.card-wrapper,
.column2 {
  align-items: flex-start;
}
.card-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-7xl) 0 var(--padding-5xl);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-40);
}
.column2 {
  width: 314px;
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.01);
  border-radius: var(--spacing-md);
  background-color: #dddcff;
  border: 1px solid var(--color-gray-10);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 0 var(--spacing-2xl);
  gap: var(--spacing-lg);
}
.column-name3 {
  flex: 1;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  color: whitesmoke;
}
.column-header3 {
  align-self: stretch;
  background-color: var(--neutrals-neutrals-5);
  border-bottom: 1px solid var(--color-gray-10);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--spacing-md) var(--spacing-2xl) var(--padding-3xs);
  white-space: nowrap;
}
.frame-child1 {
  width: 3px;
  flex: 1;
  position: relative;
  border-radius: var(--br-9980xl);
  background-color: var(--color-base-main);
}
.rectangle-wrapper2 {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
}
.john-m4 {
  flex: 1;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  color: #e6e6e8;
}
.title-priority4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-ionicons-sharp-elli4 {
  height: 20px;
  width: 6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -11px;
}
.title-priority-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  font-size: var(--font-size-base);
  color: var(--color-base-black);
}
.johnmgmailcom4 {
  white-space: nowrap;
  color: #e6e6e8;
}
.crm-website4,
.johnmgmailcom4 {
  align-self: stretch;
  position: relative;
  line-height: 16px;
  color: #e6e6e8;
}
.title-description4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-2xs);
}
.notes17 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xs);
  line-height: 14px;
  font-weight: 500;
  color: #e6e6e8;
}
.this-is-mr4 {
  margin: 0;
  color: #e6e6e8;
}
.move-to4,
.this-is-mr-container4 {
  position: relative;
  line-height: 16px;
  display: inline-block;
}
.this-is-mr-container4 {
  align-self: stretch;
  height: 64px;
  color: #e6e6e8;
}
.move-to4 {
  min-width: 45px;
}
.iconexbrokendown-24 {
  height: 21px;
  width: 21px;
  position: relative;
  object-fit: contain;
}
.lp-card-button4 {
  flex: 1;
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.component-74 {
  width: 93px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-black);
}
.notes16 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--spacing-2xs);
}
.frame-parent2,
.notes16,
.title-description-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title-description-parent2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-parent2 {
  width: 249px;
  flex-direction: row;
  gap: var(--gap-sm);
}
.notes18 {
  align-self: stretch;
  height: 0;
  display: none;
}
.notes-child1 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-20);
  box-sizing: border-box;
}
.notes19 {
  align-self: stretch;
  height: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.card-container,
.card4,
.column3,
.notes19 {
  display: flex;
  justify-content: flex-start;
}
.card4 {
  width: 264px;
  box-shadow: var(--shadow);
  border-radius: var(--spacing-md);
  background-color: #4c4b6b;
  border: 1px solid var(--color-gray-20);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-sm) var(--spacing-lg) var(--padding-7xl);
  gap: var(--spacing-md);
}
.card-container,
.column3 {
  align-items: flex-start;
}
.card-container {
  flex-direction: row;
  padding: 0 var(--padding-7xl) 0 var(--padding-5xl);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-40);
}
.column3 {
  width: 314px;
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.01);
  border-radius: var(--spacing-md);
  background-color: #dddcff;
  border: 1px solid var(--color-gray-10);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 0 var(--spacing-2xl);
  gap: var(--spacing-lg);
}
.column-parent {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: 18px var(--padding-xs) 28px;
  row-gap: 20px;
  text-align: center;
  font-size: var(--font-size-base);
  color: #e6e6e8;
  font-family: var(--font-dm-sans);
}
.column-parent,
.frame-parent,
.leads-pipeline,
.leads-pipeline-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 27px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--brand-brand-washedpurple);
  font-family: var(--font-roboto);
}
.leads-pipeline,
.leads-pipeline-inner {
  box-sizing: border-box;
}
.leads-pipeline-inner {
  width: 1254px;
  flex-direction: column;
  padding: 1px 0 0;
  max-width: 100%;
}
.leads-pipeline {
  width: 100%;
  position: relative;
  background-color: var(--brand-brand-dark);
  overflow: hidden;
  flex-direction: row;
  padding: 17px var(--padding-6xs);
  gap: var(--gap-base);
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (max-width: 1300px) {
  .column-parent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .leads-pipeline {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .sidebar {
    padding-top: var(--padding-5xl);
    padding-bottom: var(--padding-352xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .sidebar {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-222xl);
    box-sizing: border-box;
  }
  .leads-pipeline2 {
    font-size: var(--font-size-26xl);
    line-height: 49px;
  }
  .column-parent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .leads-pipeline2 {
    font-size: var(--font-size-15xl);
    line-height: 37px;
  }
}
