.t-signup-subtitle1,
.t-signup-title1 {
  align-self: stretch;
  position: relative;
  font-family: var(--font-inter);
  text-align: left;
}
.t-signup-title1 {
  margin: 0;
  font-size: var(--font-size-11xl);
  line-height: 42px;
  font-weight: 700;
  color: var(--color-black);
}
.t-signup-subtitle1 {
  font-size: var(--font-size-lg);
  line-height: 28px;
  color: var(--color-gray-800);
}
.text1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.input-large3,
.t-email-title1 {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: var(--font-size-lg);
  color: var(--color-gray-800);
}
.t-email-title1 {
  align-self: stretch;
  position: relative;
  line-height: 30px;
  text-align: left;
}
.input-large3 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 28px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 250px;
  max-width: 100%;
}
.helper3,
.icon-r5 {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.helper3 {
  width: 51px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-900);
  text-align: right;
  align-items: center;
  height: 24px;
}
.icon-r5 {
  height: 28px;
  width: 28px;
  overflow: hidden;
  min-height: 28px;
}
.input3 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-mini);
  gap: var(--gap-xs);
  max-width: 100%;
}
.caption6 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-800);
  text-align: left;
}
.caption5 {
  width: 344px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.input-11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
  min-height: 58px;
  max-width: 100%;
}
.input-large4,
.t-username-title1 {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: var(--font-size-lg);
  color: var(--color-gray-800);
}
.t-username-title1 {
  align-self: stretch;
  position: relative;
  line-height: 30px;
  text-align: left;
}
.input-large4 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 28px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 250px;
  max-width: 100%;
}
.helper4,
.icon-r6 {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.helper4 {
  width: 51px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-900);
  text-align: right;
  align-items: center;
  height: 24px;
}
.icon-r6 {
  height: 28px;
  width: 28px;
  overflow: hidden;
  min-height: 28px;
}
.input4 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-mini);
  gap: var(--gap-xs);
  max-width: 100%;
}
.caption8 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-800);
  text-align: left;
}
.caption7 {
  width: 344px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.input-21 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
  min-height: 58px;
  max-width: 100%;
}
.input-large5,
.t-password-title1 {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: var(--font-size-lg);
  color: var(--color-gray-800);
}
.t-password-title1 {
  align-self: stretch;
  position: relative;
  line-height: 30px;
  text-align: left;
}
.input-large5 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 28px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 250px;
  max-width: 100%;
}
.helper5,
.icon-r7 {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.helper5 {
  width: 51px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-900);
  text-align: right;
  align-items: center;
  height: 24px;
}
.icon-r7 {
  height: 28px;
  width: 28px;
  overflow: hidden;
  min-height: 28px;
}
.input5 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-mini);
  gap: var(--gap-xs);
  max-width: 100%;
}
.lock-icon1 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 28px;
}
.t-at-least-8-character1 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-800);
  text-align: left;
}
.caption9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-273xl) 0 0;
  gap: var(--gap-5xs);
}
.container3,
.input-31 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.input-31 {
  justify-content: center;
  gap: var(--gap-xs);
  min-height: 58px;
}
.container3 {
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.icon-l2 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 28px;
}
.t-continue1 {
  width: 80px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
}
.icon-r8 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 28px;
}
.button-21 {
  cursor: pointer;
  border: 1px solid var(--color-royalblue-100);
  padding: var(--padding-7xs) var(--padding-xl);
  background-color: var(--color-royalblue-100);
  align-self: stretch;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  min-height: 44px;
}
.icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.t-signin-with-google1 {
  width: 162px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.button-11 {
  cursor: pointer;
  border: 1px solid var(--color-darkgray);
  padding: var(--padding-7xs) var(--padding-xl);
  background-color: var(--color-gray-100);
  align-self: stretch;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  min-height: 44px;
}
.button-11:hover {
  background-color: var(--color-gray-20);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.actions1,
.modal1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.actions1 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-base);
}
.modal1 {
  margin: 0;
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-3xl) var(--padding-12xl) var(--padding-11xl);
  gap: var(--gap-13xl);
  min-width: 540px;
  max-width: 100%;
}
.icon8 {
  width: 31.1px;
  height: 23.8px;
  position: relative;
}
.t-slogan1 {
  align-self: stretch;
  position: relative;
  line-height: 38px;
  font-weight: 500;
}
.icon-l3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.avatar3 {
  height: 45px;
  width: 45px;
  border-radius: var(--br-981xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.t-slogan-author1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 99px;
}
.t-slogan-author-position1 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-weight: 500;
  color: var(--color-gray-900);
}
.container5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
  min-width: 179px;
}
.icon-r9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.avatar2,
.container4 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.avatar2 {
  width: 336px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.container4 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.frame5,
.login-page,
.signup1 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.frame5 {
  flex: 0.9524;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-25xl);
  min-width: 540px;
  max-width: 100%;
  margin-left: -2px;
}
.login-page,
.signup1 {
  flex-direction: row;
}
.signup1 {
  width: 1200px;
  background-color: var(--coolgray-10);
  border: 1px solid var(--input-box-stroke-thin);
  overflow: hidden;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-11xl) var(--padding-13xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-800);
  font-family: var(--font-inter);
}
.login-page {
  width: 100%;
  position: relative;
  background-color: var(--white);
  align-items: flex-start;
  padding: var(--padding-11xl) var(--padding-xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .t-signup-title1 {
    font-size: var(--font-size-5xl);
    line-height: 34px;
  }
  .modal1,
  .signup1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .caption9 {
    padding-right: var(--padding-127xl);
    box-sizing: border-box;
  }
  .container3,
  .modal1 {
    gap: var(--gap-base);
  }
  .modal1 {
    min-width: 100%;
  }
  .frame5 {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .t-signup-title1 {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .caption9 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .t-slogan1 {
    font-size: var(--font-size-lgi);
    line-height: 30px;
  }
  .avatar2 {
    flex-wrap: wrap;
  }
}
