.logo-icon {
  height: 30px;
  width: 67px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.navigation-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
}
.icon-tabler-icons-user-cir {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: 0 !important;
  right: 29px;
  bottom: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navigation-buttons {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon1,
.navigation-buttons,
.projects-icon {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.projects-icon {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon1 {
  position: relative;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.employees-icon,
.frame,
.icon2 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.employees-icon {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon2 {
  position: relative;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame1 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contacts,
.frame1,
.icon3 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.contacts {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon3 {
  position: relative;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame2 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame2,
.icon4,
.leads-pipeline {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.leads-pipeline {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon4 {
  position: relative;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame3 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame3,
.home,
.navigation-menu {
  align-self: stretch;
  flex: 1;
}
.home {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.navigation-menu {
  margin: 0;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--typography-desktop-h5-size);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.main-interface,
.navigation-menu,
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-1100);
  border: 1px solid var(--color-gray-1000);
  overflow: hidden;
  padding: var(--padding-18xl) 0 var(--padding-552xl);
  position: relative;
  gap: var(--gap-14xl);
}
.main-interface {
  height: 986px;
  width: 83px;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.meeting-scheduler1 {
  margin: 0;
  height: 72px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 800;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.content-header {
  width: 550px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
}
.icon-ionicons-outline-ad {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.add-a-new {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.add-contact-label {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-3xs) var(--padding-base);
  background-color: var(--color-gainsboro-200);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.add-contact-label:hover {
  background-color: var(--color-silver-100);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.icon-jam-icons-outline-l {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.search-input {
  width: calc(100% - 56px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 23px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  min-width: 300px;
  max-width: 100%;
}
.icon-jam-icons-outline-l1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.add-contact-button,
.field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.field {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  padding: var(--padding-2xs) var(--padding-base) var(--padding-3xs);
  gap: var(--gap-5xs);
  min-width: 387px;
}
.add-contact-button {
  align-self: stretch;
  gap: var(--gap-9xl);
}
.contacts-title {
  width: 24px;
  height: 48px;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
}
.contact-information-icon {
  height: 21px;
  width: 20.6px;
  position: relative;
}
.contacts-columns {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-11xs) var(--padding-xs);
}
.contact-information-icon1 {
  height: 21px;
  width: 20.6px;
  position: relative;
}
.contacts-columns1 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-11xs) var(--padding-xs);
}
.contact-information-icon2 {
  height: 21px;
  width: 20.6px;
  position: relative;
}
.contacts-columns2 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-11xs) var(--padding-xs);
}
.contact-information-icon3 {
  height: 21px;
  width: 20.6px;
  position: relative;
}
.contacts-columns3 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-11xs) var(--padding-xs);
}
.contact-information-icon4 {
  height: 21px;
  width: 20.6px;
  position: relative;
}
.contacts-columns4 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-11xs) var(--padding-xs);
}
.contact-information-icon5 {
  height: 21px;
  width: 20.6px;
  position: relative;
}
.contacts-columns5 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-11xs) var(--padding-xs);
}
.contact-information-icon6 {
  height: 21px;
  width: 20.6px;
  position: relative;
}
.contacts-columns6 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-11xs) var(--padding-xs);
}
.contact-information-icon7 {
  height: 21px;
  width: 20.6px;
  position: relative;
}
.contacts-columns7 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-11xs) var(--padding-xs);
}
.contact-information-icon8 {
  height: 21px;
  width: 20.6px;
  position: relative;
}
.contacts-columns8 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-11xs) var(--padding-xs);
}
.contact-information-icon9 {
  height: 21px;
  width: 20.6px;
  position: relative;
}
.contacts-columns9 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-11xs) var(--padding-xs);
}
.logo {
  width: 24px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.building-icon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
}
.company {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 68px;
}
.contacts-title1 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) 46.7px var(--padding-3xs) 46.8px;
  gap: var(--gap-5xs);
}
.google {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.contacts-columns10 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-52xl-2) var(--padding-smi)
    var(--padding-52xl-3);
}
.google1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.contacts-columns11 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-52xl-2) var(--padding-smi)
    var(--padding-52xl-3);
}
.google2 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.contacts-columns12 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-52xl-2) var(--padding-smi)
    var(--padding-52xl-3);
}
.google3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.contacts-columns13 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-52xl-2) var(--padding-smi)
    var(--padding-52xl-3);
}
.google4 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.contacts-columns14 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-52xl-2) var(--padding-smi)
    var(--padding-52xl-3);
}
.google5 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.contacts-columns15 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-52xl-2) var(--padding-smi)
    var(--padding-52xl-3);
}
.google6 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.contacts-columns16 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-52xl-2) var(--padding-smi)
    var(--padding-52xl-3);
}
.google7 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.contacts-columns17 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-52xl-2) var(--padding-smi)
    var(--padding-52xl-3);
}
.google8 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.contacts-columns18 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-52xl-2) var(--padding-smi)
    var(--padding-52xl-3);
}
.google9 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.contacts-columns19 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-52xl-2) var(--padding-smi)
    var(--padding-52xl-3);
}
.company-name {
  width: 193.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.public-relation-icon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
}
.client {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 42px;
}
.contacts-title2 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) 59.7px var(--padding-3xs) 59.8px;
  gap: var(--gap-5xs);
}
.john-doe {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 68px;
}
.contacts-columns20 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-43xl-7) var(--padding-smi)
    var(--padding-43xl-8);
}
.john-doe1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 68px;
}
.contacts-columns21 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-43xl-7) var(--padding-smi)
    var(--padding-43xl-8);
}
.john-doe2 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 68px;
}
.contacts-columns22 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-43xl-7) var(--padding-smi)
    var(--padding-43xl-8);
}
.john-doe3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 68px;
}
.contacts-columns23 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-43xl-7) var(--padding-smi)
    var(--padding-43xl-8);
}
.john-doe4 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 68px;
}
.contacts-columns24 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-43xl-7) var(--padding-smi)
    var(--padding-43xl-8);
}
.john-doe5 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 68px;
}
.contacts-columns25 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-43xl-7) var(--padding-smi)
    var(--padding-43xl-8);
}
.john-doe6 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 68px;
}
.contacts-columns26 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-43xl-7) var(--padding-smi)
    var(--padding-43xl-8);
}
.john-doe7 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 68px;
}
.contacts-columns27 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-43xl-7) var(--padding-smi)
    var(--padding-43xl-8);
}
.john-doe8 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 68px;
}
.contacts-columns28 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-43xl-7) var(--padding-smi)
    var(--padding-43xl-8);
}
.john-doe9 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 68px;
}
.contacts-columns29 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-43xl-7) var(--padding-smi)
    var(--padding-43xl-8);
}
.contact-table-header {
  width: 193.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-1-icon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
}
.email {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.contacts-title3 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) 60.7px var(--padding-3xs) 60.8px;
  gap: var(--gap-5xs);
}
.johndoegmailcom {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns30 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.johndoegmailcom1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns31 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.johndoegmailcom2 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns32 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.johndoegmailcom3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns33 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.johndoegmailcom4 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns34 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.johndoegmailcom5 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns35 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.johndoegmailcom6 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns36 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.johndoegmailcom7 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns37 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.johndoegmailcom8 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns38 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.johndoegmailcom9 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns39 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.music {
  width: 193.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.telephone-icon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
}
.phone-no {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 73px;
}
.contacts-title4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) 44.2px var(--padding-3xs) 44.3px;
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.contacts-title4:hover {
  background-color: var(--color-darkslategray-200);
}
.div {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns40 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.div1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns41 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.div2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns42 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.div3 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns43 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.div4 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns44 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.div5 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns45 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.div6 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns46 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.div7 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns47 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.div8 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns48 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.div9 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.contacts-columns49 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-2xl-7) var(--padding-smi)
    var(--padding-2xl-8);
}
.b {
  width: 193.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contacts-title5 {
  align-self: stretch;
  height: 48px;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
}
.icon-ionicons-sharp-elli {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contacts-columns50 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-mini-5) var(--padding-3xs);
}
.icon-ionicons-sharp-elli1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contacts-columns51 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-mini-5) var(--padding-3xs);
}
.icon-ionicons-sharp-elli2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contacts-columns52 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-mini-5) var(--padding-3xs);
}
.icon-ionicons-sharp-elli3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contacts-columns53 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-mini-5) var(--padding-3xs);
}
.icon-ionicons-sharp-elli4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contacts-columns54 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-mini-5) var(--padding-3xs);
}
.icon-ionicons-sharp-elli5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contacts-columns55 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-mini-5) var(--padding-3xs);
}
.icon-ionicons-sharp-elli6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contacts-columns56 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-mini-5) var(--padding-3xs);
}
.icon-ionicons-sharp-elli7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contacts-columns57 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-mini-5) var(--padding-3xs);
}
.icon-ionicons-sharp-elli8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contacts-columns58 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-mini-5) var(--padding-3xs);
}
.icon-ionicons-sharp-elli9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contacts-columns59 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-mini-5) var(--padding-3xs);
}
.contact-table-header1 {
  width: 53px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-contact-button-parent,
.contacts-chart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contacts-chart {
  width: 851px;
  overflow-x: auto;
  flex-direction: row;
}
.add-contact-button-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xl);
}
.icon-ionicons-outline-ad1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.schedule-a-new {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.schedule-meeting-button {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-3xs) var(--padding-5xs);
  background-color: var(--color-gainsboro-200);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.schedule-meeting-button:hover {
  background-color: var(--color-silver-100);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.schedule-meeting-button-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-4xl) 0 var(--padding-xl);
}
.upcoming-meetings {
  margin: 0;
  position: relative;
  font-size: 40px;
  line-height: 110%;
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-gray-300);
  text-align: left;
}
.meeting-list-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 4.5px;
}
.next-meeting-in {
  width: 148px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 19px;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meeting-schedule-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.meeting-placeholder-child {
  height: 180px;
  width: 372px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div-scbea {
  flex: 1;
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 80px;
  font-family: var(--font-krub);
  color: var(--color-black);
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}
.meeting-placeholder {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 48px var(--padding-6xl);
  max-width: 100%;
}
.with-marshall {
  width: 128px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 19px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 128px;
}
.meeting-schedule-details1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.joining-link {
  color: var(--color-black);
}
.httpszoomlinkjoin {
  color: var(--color-mediumslateblue);
}
.joining-link-httpszoomlink-container1 {
  width: 100%;
}
.joining-link-httpszoomlink-container {
  width: 296px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 19px;
  font-family: var(--font-roboto);
  text-align: center;
  display: flex;
  align-items: center;
}
.meeting-schedule-details2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-19xl);
}
.other-meetings {
  width: 144px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 19px;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meeting-schedule-details3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.meeting-title-crm {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.meeting-title {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-7xs);
  background-color: transparent;
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.meeting-title2:hover,
.meeting-title3:hover,
.meeting-title4:hover,
.meeting-title6:hover,
.meeting-title7:hover,
.meeting-title:hover {
  background-color: var(--color-darkslategray-200);
}
.on-friday-5th {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.meeting-title1 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-7xs);
}
.with-john-doe {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 110px;
}
.meeting-title2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-7xs);
  background-color: transparent;
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.at-800-pm {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 88px;
  white-space: nowrap;
}
.meeting-title3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-7xs);
  background-color: transparent;
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.button-scbea,
.meeting-schedule-details4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.button-scbea {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 1px solid var(--color-black);
  flex-direction: column;
}
.meeting-schedule-details4 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
}
.meeting-title-crm1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.meeting-title4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-7xs);
  background-color: transparent;
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.on-friday-5th1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.meeting-title5 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-7xs);
}
.with-john-doe1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 110px;
}
.meeting-title6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-7xs);
  background-color: transparent;
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.at-800-pm1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 88px;
  white-space: nowrap;
}
.meeting-title7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-7xs);
  background-color: transparent;
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-1300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.meeting-title-parent {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: column;
}
.main,
.meeting-management,
.meeting-schedule-details5,
.meeting-title-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.meeting-schedule-details5 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.main,
.meeting-management {
  flex-direction: column;
}
.main {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-300);
  overflow: hidden;
  padding: var(--padding-7xl) var(--padding-10xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.meeting-management {
  width: 430px;
  gap: 43px;
  min-width: 430px;
}
.contact-management {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
  max-width: 100%;
}
.contact-management,
.content-area,
.meeting-scheduler {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-area {
  width: 1297px;
  flex-direction: column;
  gap: var(--gap-12xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
}
.meeting-scheduler {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-8xs) var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .meeting-scheduler {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .sidebar {
    padding-top: var(--padding-5xl);
    padding-bottom: var(--padding-352xl);
    box-sizing: border-box;
  }
  .meeting-management {
    flex: 1;
  }
  .contact-management {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .sidebar {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-222xl);
    box-sizing: border-box;
  }
  .meeting-scheduler1 {
    font-size: var(--typography-desktop-h1-size);
    line-height: 49px;
  }
  .add-contact-button,
  .field {
    flex-wrap: wrap;
  }
  .add-contact-button-parent {
    min-width: 100%;
  }
  .upcoming-meetings {
    font-size: var(--font-size-13xl);
    line-height: 35px;
  }
  .div-scbea {
    font-size: var(--font-size-19xl);
    line-height: 71px;
  }
  .main {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .meeting-management {
    min-width: 100%;
  }
  .content-area {
    gap: var(--gap-mini);
  }
}
@media screen and (max-width: 450px) {
  .meeting-scheduler1 {
    font-size: var(--font-size-15xl);
    line-height: 37px;
  }
  .field {
    min-width: 100%;
  }
  .add-contact-button-parent {
    gap: var(--gap-mini);
  }
  .upcoming-meetings {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }
  .next-meeting-in {
    font-size: var(--font-size-base);
    line-height: 15px;
  }
  .div-scbea {
    font-size: var(--font-size-10xl);
    line-height: 53px;
  }
  .joining-link-httpszoomlink-container,
  .other-meetings,
  .with-marshall {
    font-size: var(--font-size-base);
    line-height: 15px;
  }
  .meeting-management {
    gap: var(--gap-2xl);
  }
}
