.add-a-new2 {
  margin: 0;
  align-self: stretch;
  height: 72px;
  position: relative;
  font-size: var(--font-size-37xl);
  line-height: 110%;
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.please-fill-out {
  width: 297px;
  height: 26px;
  font-size: var(--font-size-5xl);
  display: flex;
  font-weight: 100;
  align-items: center;
}
.enter-name-of,
.please-fill-out,
.project-name10 {
  font-family: var(--font-roboto);
  position: relative;
  line-height: 110%;
  color: var(--color-black);
  text-align: left;
}
.project-name10 {
  margin: 0;
  font-size: var(--font-size-13xl);
  font-style: italic;
  font-weight: 600;
  white-space: nowrap;
}
.enter-name-of {
  width: 187px;
  border: 0;
  outline: 0;
  font-weight: 100;
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 22px;
  display: flex;
  align-items: center;
  padding: 0;
}
.add-a-new-project {
  width: 658px;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-8xl) var(--padding-2xs);
  max-width: 100%;
}
.client-name10,
.enter-name-of1 {
  font-family: var(--font-roboto);
  position: relative;
  line-height: 110%;
  color: var(--color-black);
  text-align: left;
}
.client-name10 {
  margin: 0;
  font-size: var(--font-size-13xl);
  font-style: italic;
  font-weight: 600;
  white-space: nowrap;
}
.enter-name-of1 {
  width: 173px;
  border: 0;
  outline: 0;
  font-weight: 100;
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 22px;
  display: flex;
  align-items: center;
  padding: 0;
}
.add-a-new-project1 {
  width: 658px;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-8xl) var(--padding-2xs);
  max-width: 100%;
}
.add-a-new-project2,
.due-date10 {
  font-family: var(--font-roboto);
  color: var(--color-black);
}
.due-date10 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 110%;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  text-align: left;
  min-width: 120px;
  white-space: nowrap;
}
.add-a-new-project2 {
  width: 658px;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-8xl) var(--padding-3xs);
  font-weight: 100;
  font-size: var(--font-size-xl);
  max-width: 100%;
  gap: var(--gap-xl);
}
.assigned-to10 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 110%;
  font-style: italic;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
}
.add-a-new-project3,
.assigned-to10,
.enter-tasks-to,
.set-tasks {
  font-family: var(--font-roboto);
  color: var(--color-black);
}
.add-a-new-project3 {
  width: 658px;
  height: 48px;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-8xl) var(--padding-3xs);
  font-weight: 100;
  font-size: var(--font-size-xl);
  max-width: 100%;
  gap: var(--gap-xl);
}
.enter-tasks-to,
.set-tasks {
  position: relative;
  line-height: 110%;
  text-align: left;
}
.set-tasks {
  margin: 0;
  font-size: var(--font-size-13xl);
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  min-width: 128px;
  white-space: nowrap;
}
.enter-tasks-to {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 100;
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 22px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 250px;
  max-width: 100%;
  padding: 0;
}
.add-a-new-project4,
.project-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.add-a-new-project4 {
  width: 658px;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-8xl) var(--padding-3xs);
}
.project-input {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mid);
  min-width: 682px;
}
.icon-ionicons-outline-cl {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.icon-ionicons-outline-cl-wrapper,
.project-details1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-ionicons-outline-cl-wrapper {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.project-details1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
}
.create-a-new {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 110%;
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--white);
  text-align: left;
}
.create-a-new-project-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-smi) var(--padding-10xl);
  background-color: var(--color-mediumslateblue);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.create-a-new-project-wrapper:hover {
  background-color: var(--color-dodgerblue-200);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.projects-add-a-new-project-inner {
  width: 1034px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.projects-add-a-new-project {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-52xl) var(--padding-57xl) 83px var(--padding-61xl);
  box-sizing: border-box;
  gap: 69px;
  letter-spacing: normal;
  line-height: normal;
}



@media screen and (max-width: 900px) {
  .add-a-new2 {
    font-size: var(--typography-desktop-h1-size);
    line-height: 49px;
  }
  .assigned-to10,
  .client-name10,
  .due-date10,
  .project-name10,
  .set-tasks {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
  .project-input {
    min-width: 100%;
  }
}
@media screen and (max-width: 675px) {
  .projects-add-a-new-project {
    gap: var(--gap-15xl);
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .add-a-new2 {
    font-size: var(--font-size-15xl);
    line-height: 37px;
  }
  .please-fill-out,
  .project-name10 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .enter-name-of {
    font-size: var(--font-size-base);
    line-height: 18px;
  }
  .client-name10 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .enter-name-of1 {
    font-size: var(--font-size-base);
    line-height: 18px;
  }
  .assigned-to10,
  .due-date10,
  .set-tasks {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .enter-tasks-to {
    font-size: var(--font-size-base);
    line-height: 18px;
  }
  .projects-add-a-new-project {
    gap: var(--gap-mid);
  }
}
