.project-name {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 97px;
}
.project-name-wrapper {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-40xl-5) var(--padding-smi);
}
.client-name {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.client-name-wrapper {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-59xl-5) var(--padding-smi);
}
.assigned-to {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.assigned-to-wrapper {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
}
.filter-shape,
.filter-shape1 {
  position: absolute;
  top: 0;
  border-radius: var(--br-xl);
}
.filter-shape {
  left: 0.5px;
  background-color: var(--white);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.filter-shape1 {
  left: 0;
  background-color: var(--color-red);
  width: 39px;
  height: 12px;
  z-index: 1;
}
.filter-button {
  height: 12px;
  flex: 1;
  position: relative;
}
.more-filter-options {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 110%;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 23px;
}
.filter-button-parent {
  width: 236px;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-5xs-5) var(--padding-base)
    var(--padding-14xl);
  gap: var(--gap-5xs);
}
.due-date {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.due-date-wrapper {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
}
.remaining-time {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.remaining-time-wrapper {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-42xl) var(--padding-smi);
}
.icon-ionicons-sharp-elli10 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.instance-parent,
.more-actions-projects {
  margin: 0 !important;
  position: absolute;
  display: flex;
  box-sizing: border-box;
}
.more-actions-projects {
  height: 48px;
  width: 65px;
  top: 0;
  right: -18px;
  border-bottom: 1px solid var(--color-gray-1200);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.instance-parent {
  width: 1327px;
  right: 25px;
  bottom: 202px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 528px;
  max-width: 100%;
  row-gap: 20px;
  z-index: 1;
}
.project-management {
  margin: 0;
  height: 72px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-37xl);
  line-height: 110%;
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--brand-brand-washedpurple);
  text-align: left;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.logo-icon2 {
  height: 30px;
  width: 67px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
}
.icon-tabler-icons-user-cir2 {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: 0 !important;
  right: 29px;
  bottom: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--typography-desktop-h5-size);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame10 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame10,
.icon15,
.projects-icon2 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.projects-icon2 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon15 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--typography-desktop-h5-size);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame11 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.employees-icon2,
.frame11,
.icon16 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.employees-icon2 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon16 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--typography-desktop-h5-size);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame12 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contacts2,
.frame12,
.icon17 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.contacts2 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-10xl-5);
}
.icon17 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--typography-desktop-h5-size);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame13,
.leads-pipeline2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame13 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
}
.leads-pipeline2 {
  padding: var(--padding-base) var(--padding-10xl-5);
}
.frame14,
.home2,
.icon18,
.leads-pipeline2 {
  align-self: stretch;
  flex: 1;
}
.icon18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--typography-desktop-h5-size);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame14,
.home2 {
  flex-direction: row;
}
.frame14 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1100);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home2 {
  padding: var(--padding-base) var(--padding-10xl-5);
}
.home2,
.main-content,
.navigation-links1,
.sidebar2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-links1 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.main-content,
.sidebar2 {
  box-sizing: border-box;
}
.sidebar2 {
  height: 983px;
  width: 83px;
  margin: 0 !important;
  position: absolute;
  bottom: -912px;
  left: -81px;
  border-radius: var(--br-11xl);
  background-color: #302e3e;
  border: 1px solid var(--color-gray-1000);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-18xl) 0 var(--padding-552xl);
  gap: var(--gap-14xl);
  z-index: 3;
}
.main-content {
  width: 582px;
  flex-direction: row;
  padding: 0 var(--padding-4xl);
  position: relative;
  max-width: 100%;
}
.icon-ionicons-outline-ad2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.add-a-new1 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.add-project-button {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-3xs) 19px;
  background-color: var(--color-gainsboro-200);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.add-project-button:hover {
  background-color: var(--color-silver-100);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.icon-jam-icons-outline-l2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.search-field {
  width: calc(100% - 56px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 23px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  min-width: 300px;
  max-width: 100%;
}
.icon-jam-icons-outline-l3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.field1 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  padding: var(--padding-2xs) var(--padding-base) var(--padding-3xs);
  gap: var(--gap-5xs);
  min-width: 502px;
}
.field1,
.project-actions,
.project-adder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.project-adder {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-9xl);
}
.project-actions {
  width: 1061px;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.project-name1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color:  antiquewhite;
  text-align: left;
  display: inline-block;
  min-width: 98px;
}
.project-name-container {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 59px var(--padding-smi);
}
.client-name1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: antiquewhite;
  text-align: left;
  display: inline-block;
  min-width: 88px;
}
.client-name-container {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 64px var(--padding-smi);
}
.assigned-to1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 110%;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var antiquewhite;
  text-align: left;
  display: inline-block;
  min-width: 86px;
}
.assigned-to-container {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 65px var(--padding-smi);
}
.instance-child {
  top: 18px;
  left: 33.5px;
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 164px;
  height: 12px;
}
.div24,
.instance-child,
.instance-item {
  position: absolute;
  display: none;
}
.div24 {
  top: 17.5px;
  left: 205.5px;
  font-size: var(--font-size-xs);
  line-height: 110%;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.instance-item {
  top: 18px;
  left: 33px;
  border-radius: var(--br-xl);
  background-color: var(--color-red);
  width: 39px;
  height: 12px;
}
.rectangle-group {
  height: 48px;
  flex: 1;
  color: antiquewhite;
  position: relative;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  min-width: 153px;
}
.due-date1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color:  antiquewhite;
  text-align: left;
  display: inline-block;
  min-width: 65px;
}
.due-date-container {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 75.5px var(--padding-smi);
}
.remaining-time1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color:  antiquewhite;
  text-align: left;
  display: inline-block;
  min-width: 117px;
}
.remaining-time-container {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 30.5px var(--padding-smi);
}
.icon-ionicons-sharp-elli11 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.more-actions-projects1 {
  height: 48px;
  width: 65px;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.instance-group {
  width: 1347px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
}
.progress {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: antiquewhite;
  text-align: left;
  display: inline-block;
  min-width: 65px;
  z-index: 1;
}
.content-wrapper,
.progress-bar,
.project-table {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.progress-bar {
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
  margin-left: -626px;
}
.content-wrapper,
.project-table {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
}
.content-wrapper {
  flex-direction: column;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-12xl);
}
.project-name2 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 97px;
}
.project-name-frame {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-40xl-5) var(--padding-smi);
}
.client-name2 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.client-name-frame {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-59xl-5) var(--padding-smi);
}
.assigned-to2 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.assigned-to-frame {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
}
.progress-shapes,
.progress-shapes1 {
  position: absolute;
  top: 0;
  border-radius: var(--br-xl);
}
.progress-shapes {
  left: 0.5px;
  background-color: var(--white);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.progress-shapes1 {
  left: 0;
  background-color: var(--color-red);
  width: 39px;
  height: 12px;
  z-index: 1;
}
.progress-bar-wrapper {
  height: 12px;
  flex: 1;
  position: relative;
}
.progress-percentage {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 110%;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 23px;
}
.progress-bar-wrapper-parent {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-5xs-5) var(--padding-base)
    var(--padding-14xl);
  gap: var(--gap-5xs);
  min-width: 153px;
}
.due-date2 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.due-date-frame {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
}
.remaining-time2 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.remaining-time-frame {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-42xl) var(--padding-smi);
}
.icon-ionicons-sharp-elli12 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.more-actions-projects2 {
  height: 48px;
  width: 65px;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.instance-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  row-gap: 20px;
  z-index: 2;
}
.project-name3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 97px;
}
.project-name-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-40xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.assigned-to-wrapper1:hover,
.assigned-to-wrapper2:hover,
.assigned-to-wrapper3:hover,
.assigned-to-wrapper4:hover,
.assigned-to-wrapper5:hover,
.assigned-to-wrapper6:hover,
.assigned-to-wrapper7:hover,
.client-name-wrapper1:hover,
.client-name-wrapper2:hover,
.client-name-wrapper3:hover,
.client-name-wrapper4:hover,
.client-name-wrapper5:hover,
.client-name-wrapper6:hover,
.client-name-wrapper7:hover,
.project-name-wrapper1:hover,
.project-name-wrapper2:hover,
.project-name-wrapper3:hover,
.project-name-wrapper4:hover,
.project-name-wrapper5:hover,
.project-name-wrapper6:hover,
.project-name-wrapper7:hover,
.remaining-time-wrapper1:hover,
.remaining-time-wrapper2:hover,
.remaining-time-wrapper3:hover,
.remaining-time-wrapper4:hover,
.remaining-time-wrapper5:hover,
.remaining-time-wrapper6:hover,
.remaining-time-wrapper7:hover {
  background-color: var(--color-darkslategray-200);
}
.client-name3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.client-name-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-59xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.assigned-to3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.assigned-to-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.due-date-shape,
.due-date-shape1 {
  position: absolute;
  top: 0;
  border-radius: var(--br-xl);
}
.due-date-shape {
  left: 0.5px;
  background-color: var(--white);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.due-date-shape1 {
  left: 0;
  background-color: var(--color-red);
  width: 39px;
  height: 12px;
  z-index: 1;
}
.due-dates {
  height: 12px;
  flex: 1;
  position: relative;
}
.spacer {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 110%;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 23px;
}
.due-dates-parent {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-5xs-5) var(--padding-base)
    var(--padding-14xl);
  gap: var(--gap-5xs);
  min-width: 153px;
}
.due-date3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.due-date-wrapper1 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
}
.remaining-time3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.remaining-time-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-42xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-ionicons-sharp-elli13 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.more-actions-projects3 {
  height: 48px;
  width: 65px;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.instance-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  row-gap: 20px;
  z-index: 2;
}
.project-name4 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: gold;
  text-align: left;
  display: inline-block;
  min-width: 97px;
}
.project-name-wrapper2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-40xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.client-name4 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: aquamarine;
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.client-name-wrapper2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-59xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.assigned-to4 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: bisque;
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.assigned-to-wrapper2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.due-date-shape2,
.due-date-shape3 {
  position: absolute;
  top: 0;
  border-radius: var(--br-xl);
}
.due-date-shape2 {
  left: 0.5px;
  background-color: var(--white);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.due-date-shape3 {
  left: 0;
  background-color: var(--color-red);
  width: 39px;
  height: 12px;
  z-index: 1;
}
.due-dates1 {
  height: 12px;
  flex: 1;
  position: relative;
}
.spacer1 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 110%;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 23px;
}
.due-dates-group {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-5xs-5) var(--padding-base)
    var(--padding-14xl);
  gap: var(--gap-5xs);
  min-width: 153px;
}
.due-date4 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: gray;
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.due-date-wrapper2 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
}
.remaining-time4 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: greenyellow;
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.remaining-time-wrapper2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-42xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-ionicons-sharp-elli14 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.more-actions-projects4 {
  height: 48px;
  width: 65px;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:aliceblue;
  justify-content: center;
  padding: var(--padding-5xs);
}
.expanded-rows,
.instance-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.instance-parent2 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  row-gap: 20px;
  z-index: 2;
}
.expanded-rows {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 0;
}
.project-name5 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 97px;
}
.project-name-wrapper3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-40xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.client-name5 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.client-name-wrapper3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-59xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.assigned-to5 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.assigned-to-wrapper3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child5,
.frame-child6 {
  position: absolute;
  top: 0;
  border-radius: var(--br-xl);
}
.frame-child5 {
  left: 0.5px;
  background-color: var(--white);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.frame-child6 {
  left: 0;
  background-color: var(--color-red);
  width: 39px;
  height: 12px;
  z-index: 1;
}
.rectangle-container {
  height: 12px;
  flex: 1;
  position: relative;
}
.div25 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 110%;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 23px;
}
.frame-parent6 {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-5xs-5) var(--padding-base)
    var(--padding-14xl);
  gap: var(--gap-5xs);
  min-width: 153px;
}
.due-date5 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.due-date-wrapper3 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
}
.remaining-time5 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.remaining-time-wrapper3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-42xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-ionicons-sharp-elli15 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.more-actions-projects5 {
  height: 48px;
  width: 65px;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.expanded-rows1,
.instance-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.instance-parent3 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  row-gap: 20px;
  z-index: 2;
}
.expanded-rows1 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 0;
}
.project-name6 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 97px;
}
.project-name-wrapper4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-40xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.client-name6 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.client-name-wrapper4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-59xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.assigned-to6 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.assigned-to-wrapper4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child7,
.frame-child8 {
  position: absolute;
  top: 0;
  border-radius: var(--br-xl);
}
.frame-child7 {
  left: 0.5px;
  background-color: var(--white);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.frame-child8 {
  left: 0;
  background-color: var(--color-red);
  width: 39px;
  height: 12px;
  z-index: 1;
}
.rectangle-parent1 {
  height: 12px;
  flex: 1;
  position: relative;
}
.div26 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 110%;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 23px;
}
.frame-parent7 {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-5xs-5) var(--padding-base)
    var(--padding-14xl);
  gap: var(--gap-5xs);
  min-width: 153px;
}
.due-date6 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.due-date-wrapper4 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
}
.remaining-time6 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.remaining-time-wrapper4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-42xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-ionicons-sharp-elli16 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.more-actions-projects6 {
  height: 48px;
  width: 65px;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.instance-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  row-gap: 20px;
  z-index: 2;
}
.project-name7 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 97px;
}
.project-name-wrapper5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-40xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.client-name7 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.client-name-wrapper5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-59xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.assigned-to7 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.assigned-to-wrapper5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child10,
.frame-child9 {
  position: absolute;
  top: 0;
  border-radius: var(--br-xl);
}
.frame-child9 {
  left: 0.5px;
  background-color: var(--white);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.frame-child10 {
  left: 0;
  background-color: var(--color-red);
  width: 39px;
  height: 12px;
  z-index: 1;
}
.rectangle-parent2 {
  height: 12px;
  flex: 1;
  position: relative;
}
.div27 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 110%;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 23px;
}
.frame-parent8 {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-5xs-5) var(--padding-base)
    var(--padding-14xl);
  gap: var(--gap-5xs);
  min-width: 153px;
}
.due-date7 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.due-date-wrapper5 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
}
.remaining-time7 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.remaining-time-wrapper5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-42xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-ionicons-sharp-elli17 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.more-actions-projects7 {
  height: 48px;
  width: 65px;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.instance-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  row-gap: 20px;
  z-index: 2;
}
.project-name8 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 97px;
}
.project-name-wrapper6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-40xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.client-name8 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.client-name-wrapper6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-59xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}




























.assigned-to8 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.assigned-to-wrapper6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child11,
.frame-child12 {
  position: absolute;
  top: 0;
  border-radius: var(--br-xl);
}
.frame-child11 {
  left: 0.5px;
  background-color: var(--white);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.frame-child12 {
  left: 0;
  background-color: var(--color-red);
  width: 39px;
  height: 12px;
  z-index: 1;
}
.rectangle-parent3 {
  height: 12px;
  flex: 1;
  position: relative;
}
.div28 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 110%;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 23px;
}
.frame-parent9 {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-5xs-5) var(--padding-base)
    var(--padding-14xl);
  gap: var(--gap-5xs);
  min-width: 153px;
}
.due-date8 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.due-date-wrapper6 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
}
.remaining-time8 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.remaining-time-wrapper6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-42xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-ionicons-sharp-elli18 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.more-actions-projects8 {
  height: 48px;
  width: 65px;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.expanded-rows2,
.instance-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.instance-parent6 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  row-gap: 20px;
  z-index: 2;
}
.expanded-rows2 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 0;
}
.project-name9 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 97px;
}
.project-name-wrapper7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-40xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.client-name9 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.client-name-wrapper7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-59xl-5) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.assigned-to9 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.assigned-to-wrapper7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child13,
.frame-child14 {
  position: absolute;
  top: 0;
  border-radius: var(--br-xl);
}
.frame-child13 {
  left: 0.5px;
  background-color: var(--white);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.frame-child14 {
  left: 0;
  background-color: var(--color-red);
  width: 39px;
  height: 12px;
  z-index: 1;
}
.rectangle-parent4 {
  height: 12px;
  flex: 1;
  position: relative;
}
.div29 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 110%;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 23px;
}
.frame-parent10 {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-5xs-5) var(--padding-base)
    var(--padding-14xl);
  gap: var(--gap-5xs);
  min-width: 153px;
}
.due-date9 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.due-date-wrapper7 {
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-47xl) var(--padding-smi);
}
.remaining-time9 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.remaining-time-wrapper7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-42xl) var(--padding-smi);
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-1200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-ionicons-sharp-elli19 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.more-actions-projects9 {
  height: 48px;
  width: 65px;
  border-bottom: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.instance-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  row-gap: 20px;
  z-index: 2;
}
.expanded-table,
.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.expanded-table {
  align-self: stretch;
  align-items: flex-end;
  gap: 15.8px;
  max-width: 100%;
}
.projects {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: var(--brand-brand-dark);
  color:aliceblue;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-mid) var(--padding-10xs) 202px 88px;
  box-sizing: border-box;
  gap: var(--gap-29xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1300px) {
  .instance-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .project-management {
    font-size: var(--typography-desktop-h1-size);
    line-height: 49px;
  }
  .field1 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .content-wrapper {
    gap: var(--gap-mini);
  }
  .projects {
    gap: var(--gap-5xl);
    padding-left: var(--padding-25xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .project-management {
    font-size: var(--font-size-15xl);
    line-height: 37px;
  }
  .projects {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
