.employee-profile {
  margin: 0;
  height: 72px;
  width: 536px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 800;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.icon-ionicons-outline-cl4 {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.employee-profile-parent,
.icon-ionicons-outline-cl-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.employee-profile-parent {
  width: 1467px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: -15px;
  border-radius: var(--br-3xs);
  background-color: #1e2875;
  border: 1px solid var(--white);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-2xl) 160px 99px 118px;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--white);
  font-family: var(--font-roboto);
}
.officer-icon12 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.view-photo {
  position: relative;
  font-size: var(--font-size-3xs);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--dark-all-content);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.link-wrapper,
.link12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link12 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-base);
  background-color: var(--color-ghostwhite);
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.link12:hover {
  background-color: #d6d6e0;
}
.link-wrapper {
  flex-direction: column;
  padding: var(--padding-19xl) 0 0;
}
.officer-details,
.officer-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.officer-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.officer-details {
  width: 317px;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.name,
.sid {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 33px;
}
.sid {
  color: var(--color-gray-500);
  min-width: 17px;
}
.contact-info-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.email1,
.siddxdgrowthxcom {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 30px;
}
.siddxdgrowthxcom {
  color: var(--color-gray-500);
  min-width: 115px;
  white-space: nowrap;
}
.contact-info-labels1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.div31,
.phone-number {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 80px;
}
.div31 {
  color: var(--color-gray-500);
  min-width: 95px;
  white-space: nowrap;
}
.contact-info-details,
.contact-info-labels2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.contact-info-details {
  align-self: stretch;
  border-radius: var(--br-8xs);
  box-shadow: var(--thin-shadow-2-2-10);
  border: 1px solid var(--input-box-stroke-thin);
  overflow: hidden;
  padding: var(--padding-base) var(--padding-base) var(--padding-mini);
  gap: var(--gap-lgi);
}
.span {
  color: var(--color-black);
}
.sid1 {
  color: var(--primary-blue);
}
.about-sid {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 69px;
}
.lorem-ipsum-dolor {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  color: var(--inactive-state-color);
}
.about-sid-parent,
.contact-info-details-parent,
.officer-details-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-sid-parent {
  border-radius: var(--br-8xs);
  box-shadow: var(--thin-shadow-2-2-10);
  border: 1px solid var(--input-box-stroke-thin);
  overflow: hidden;
  padding: var(--padding-base) var(--padding-mini) var(--padding-8xl);
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.contact-info-details-parent,
.officer-details-parent {
  gap: var(--gap-base);
}
.officer-details-parent {
  gap: var(--gap-5xl);
}
.kyc-details,
.kyc-status,
.legal {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
}
.kyc-details,
.kyc-status {
  min-width: 60px;
}
.kyc-details {
  min-width: 63px;
}
.k-y-c-status-details,
.k-y-c-status-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.k-y-c-status-details {
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.k-y-c-status-details-wrapper {
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.verified {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 26px;
}
.k-y-c-verification-details {
  border-radius: 72.66px;
  background-color: #99fdd2;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-mid) var(--padding-9xs);
}
.view {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 17px;
}
.k-y-c-verification-details1 {
  border-radius: 72.66px;
  background-color: var(--color-ghostwhite);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-base) var(--padding-9xs)
    var(--padding-mid);
}
.k-y-c-verification {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-5xs-3);
  color: var(--dark-all-content);
}
.frame-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xs);
}
.emp-profile,
.legal-parent,
.profile-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-parent {
  align-self: stretch;
  border-radius: var(--br-8xs);
  box-shadow: var(--thin-shadow-2-2-10);
  border: 1px solid var(--input-box-stroke-thin);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-mini) var(--padding-sm);
  gap: var(--gap-lg);
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.emp-profile,
.profile-container {
  max-width: 100%;
}
.emp-profile {
  width: 393px;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: var(--default-shadow-4-6-15);
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-8xl) 28px var(--padding-21xl);
  gap: var(--gap-base);
  z-index: 1;
}
.profile-container {
  align-self: stretch;
  flex-direction: row;
}
.professional-details {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 106px;
}
.this-are-the {
  align-self: stretch;
  height: 30px;
  position: relative;
  letter-spacing: 0.01em;
  color: var(--inactive-state-color);
  display: flex;
  align-items: center;
}
.professional-details-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.bold-duotone-astranomy-sta {
  height: 54px;
  width: 54px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 54px;
}
.emp-profile-inner,
.frame-parent13 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent13 {
  flex: 1;
  border-radius: var(--br-3xs);
  box-shadow: var(--thin-shadow-2-2-10);
  border: 1px solid var(--input-box-stroke-thin);
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-2xs) var(--padding-xs);
  gap: 30px;
}
.emp-profile-inner {
  width: 281px;
  align-items: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.expertise-in {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 63px;
}
.bold-duotone-nature-travel {
  width: 16px;
  height: 16px;
  position: relative;
  border-radius: 2.67px;
  overflow: hidden;
  flex-shrink: 0;
}
.travel-money-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.career {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.01em;
  font-family: var(--font-outfit);
  color: var(--inactive-state-color);
  text-align: left;
  display: inline-block;
  min-width: 45px;
}
.finance-skills {
  cursor: pointer;
  border: 1px solid var(--dividers-and-borders-grey-light);
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-9xs)
    var(--padding-3xs);
  background-color: var(--white);
  align-self: stretch;
  border-radius: var(--br-11xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.bold-duotone-text-formatting {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.stock-design-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.stock {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.01em;
  font-family: var(--font-outfit);
  color: var(--inactive-state-color);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.creative-skills,
.skill-categories {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.creative-skills {
  cursor: pointer;
  border: 1px solid var(--dividers-and-borders-grey-light);
  padding: var(--padding-9xs) var(--padding-6xs) var(--padding-9xs)
    var(--padding-3xs);
  background-color: var(--white);
  width: 76px;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-8xs);
}
.skill-categories {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-smi);
}
.bold-duotone-money-wallet {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bold-duotone-money-wallet-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.money {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.01em;
  font-family: var(--font-outfit);
  color: var(--inactive-state-color);
  text-align: left;
  display: inline-block;
  min-width: 43px;
}
.frame-parent14 {
  cursor: pointer;
  border: 1px solid var(--dividers-and-borders-grey-light);
  padding: var(--padding-9xs) var(--padding-4xs);
  background-color: var(--white);
  width: 84px;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.bold-duotone-text-formatting1 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bold-duotone-text-formatting-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.design {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.01em;
  font-family: var(--font-outfit);
  color: var(--inactive-state-color);
  text-align: left;
  display: inline-block;
  min-width: 44px;
}
.frame-parent15,
.skill-categories1 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent15 {
  cursor: pointer;
  border: 1px solid var(--dividers-and-borders-grey-light);
  padding: var(--padding-9xs) var(--padding-3xs);
  background-color: var(--white);
  align-self: stretch;
  border-radius: var(--br-11xl);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.skill-categories1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-smi);
}
.skill-categories-parent {
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.total-experience,
.years {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 89px;
}
.years {
  min-width: 38px;
}
.of-total-experience {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  color: var(--inactive-state-color);
}
.experience-years-reviews,
.years-reviews-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.years-reviews-labels {
  align-self: stretch;
  gap: var(--gap-10xs);
}
.experience-years-reviews {
  flex: 1;
  padding: var(--padding-4xs) 0 0;
}
.see-all-reviews-button {
  height: 51px;
  width: 53.9px;
  position: relative;
  border-radius: 0 var(--br-4xs) var(--br-4xs) 0;
  overflow: hidden;
  flex-shrink: 0;
}
.experience-details,
.experience-ratings {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience-ratings {
  flex: 1;
  border-radius: var(--br-3xs);
  box-shadow: var(--thin-shadow-2-2-10);
  border: 1px solid var(--input-box-stroke-thin);
  overflow: hidden;
  padding: 0 var(--padding-12xs) 0 var(--padding-smi);
  gap: var(--gap-23xl-1);
}
.experience-details {
  width: 281px;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.ratings,
.stars {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 41px;
}
.stars {
  min-width: 38px;
}
.from-34-customers {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  color: var(--inactive-state-color);
}
.frame-wrapper7,
.stars-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.stars-parent {
  align-self: stretch;
  gap: var(--gap-10xs);
}
.frame-wrapper7 {
  flex: 1;
  padding: var(--padding-4xs) 0 0;
}
.frame-icon {
  height: 51px;
  width: 53.9px;
  position: relative;
  border-radius: 0 var(--br-4xs) var(--br-4xs) 0;
  overflow: hidden;
  flex-shrink: 0;
}
.experience-details1,
.frame-parent16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent16 {
  flex: 1;
  border-radius: var(--br-3xs);
  box-shadow: var(--thin-shadow-2-2-10);
  border: 1px solid var(--input-box-stroke-thin);
  overflow: hidden;
  padding: 0 var(--padding-12xs) 0 var(--padding-smi);
  gap: var(--gap-23xl-1);
}
.experience-details1 {
  width: 281px;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.ankit-srivastava,
.customer-reviews {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 98px;
}
.ankit-srivastava {
  letter-spacing: 0.01em;
  min-width: 99px;
}
.ankit-srivastava-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) 0 var(--padding-base-2);
}
.iconttlsvg,
.iconttlsvg-fill,
.p-icon,
.star-icons,
.star-icons1 {
  height: 22.8px;
  width: 22.8px;
  position: relative;
  border-radius: 1.42px;
  min-height: 23px;
}
.divptochisagashicatalogworry {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base-2);
  gap: 9.5px;
}
.excelent-conversation-with {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
}
.excelent-conversation-with-him-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) 0 var(--padding-base-2);
}
.divptochisagashicatalogworry-parent,
.review-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divptochisagashicatalogworry-parent {
  align-self: stretch;
  gap: 11.4px;
  color: var(--inactive-state-color);
}
.review-1 {
  width: 281px;
  border-radius: 10.04px;
  background-color: var(--white);
  box-shadow: 0 3.8px 5.7px rgba(65, 59, 137, 0.1);
  border: 0.9px solid var(--dividers-and-borders-grey-light);
  box-sizing: border-box;
  padding: var(--padding-smi) 0;
  gap: 7.7px;
  font-size: var(--font-size-sm-3);
  color: var(--primary-blue);
}
.see-all-reviews {
  position: relative;
  font-weight: 500;
  color: rgba(193, 11, 14, 0.8);
  display: inline-block;
  min-width: 86px;
}
.emp-profile1,
.view-employee-profile {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.emp-profile1 {
  width: 344px;
  border-radius: var(--br-3xs);
  box-shadow: var(--default-shadow-4-6-15);
  border: 2px solid var(--color-whitesmoke-200);
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-base) var(--padding-5xl);
  gap: var(--gap-sm);
  max-width: 100%;
  z-index: 1;
  margin-top: -667px;
  color: var(--color-gray-500);
}
.view-employee-profile {
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: flex-end;
  padding: 123px 422px 234px 257px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-400);
  font-family: var(--font-outfit);
}
@media screen and (max-width: 750px) {
  .employee-profile {
    font-size: var(--typography-desktop-h1-size);
    line-height: 49px;
  }
  .emp-profile,
  .emp-profile1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .emp-profile1 {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-xl);
  }
  .view-employee-profile {
    padding-left: 128px;
    padding-right: 211px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .employee-profile {
    font-size: var(--font-size-15xl);
    line-height: 37px;
  }
  .frame-parent12,
  .officer-parent {
    flex-wrap: wrap;
  }
  .experience-ratings,
  .frame-parent16 {
    gap: var(--gap-2xl);
  }
  .view-employee-profile {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
