<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/CSS/global.css" />
    <link rel="stylesheet" href="static/CSS/employee-add-a-new-employee.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
  </head>
  <body>
    <form class="employee-add-a-new-employee" action="" method="POST" >
      {% csrf_token %}
      <main class="main-container">
        <section class="content-area1">
          <div class="form-container">
            <h1 class="add-a-new4">Add a New Employee</h1>
            <div class="input-fields">
              <h3 class="please-fill-out1">
                *Please fill out the following form
              </h3>
              <h1 class="employee-name2">Employee Name:</h1>
              <div class="field3">
                <img
                  class="icon-jam-icons-outline-l6"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--search.svg"
                />

                <input
                  class="ref-square"
                  placeholder="Placeholder"
                  type="text"
                  name="name"
                />

                <img
                  class="icon-jam-icons-outline-l7"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--chevrondown.svg"
                />
              </div>
              <h1 class="designation2">Designation:</h1>
              <div class="field4">
                <img
                  class="icon-jam-icons-outline-l8"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--search.svg"
                />

                <input class="size-x" placeholder="Placeholder" type="text" name="designation" />

                <img
                  class="icon-jam-icons-outline-l9"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--chevrondown.svg"
                />
              </div>
              <h1 class="contact-info1">Contact info:</h1>
              <div class="field5">
                <img
                  class="icon-jam-icons-outline-l10"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--search.svg"
                />

                <input class="text2" placeholder="Placeholder" type="text" name="contact"/>

                <img
                  class="icon-jam-icons-outline-l11"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--chevrondown.svg"
                />
              </div>
              <h1 class="email-address">Email address:</h1>
              <div class="field6">
                <img
                  class="icon-jam-icons-outline-l12"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--search.svg"
                />

                <input
                  class="angledownsolid"
                  placeholder="Placeholder"
                  type="text"
                  name="email"
                />

                <img
                  class="icon-jam-icons-outline-l13"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--chevrondown.svg"
                />
              </div>
              <h1 class="salary">Salary:</h1>
              <div class="field7">
                <img
                  class="icon-jam-icons-outline-l14"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--search.svg"
                />

                <input
                  class="screen-shot"
                  placeholder="Placeholder"
                  type="text"
                  name="salary"
                />

                <img
                  class="icon-jam-icons-outline-l15"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--chevrondown.svg"
                />
              </div>
              <h1 class="country">Country:</h1>
              <div class="field8">
                <img
                  class="icon-jam-icons-outline-l16"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--search.svg"
                />

                <input
                  class="follow-us"
                  placeholder="Placeholder"
                  type="text"
                  name="country"
                />

                <img
                  class="icon-jam-icons-outline-l17"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--chevrondown.svg"
                />
              </div>
              <h1 class="gender">Gender:</h1>
              <div class="field9">
                <img
                  class="icon-jam-icons-outline-l18"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--search.svg"
                />

                <input class="tool-box" placeholder="Placeholder" type="text" name="gender" />

                <img
                  class="icon-jam-icons-outline-l19"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--chevrondown.svg"
                />
              </div>
            </div>
          </div>
        </section>
        <img
          class="icon-ionicons-outline-cl3"
          loading="lazy"
          alt=""
          src="static/public/icon--ionicons--outline--closecircleoutline.svg"
        />
      </main>
      <div class="header-area">
        <button class="add-a-new-employee-wrapper" >
          <div class="add-a-new5">Add a new employee</div>
        </button>
      </div>
    </form>
  </body>
</html>
