<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./add-a-new-meeting.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
  </head>
  <body>
    <div class="add-a-new-meeting">
      <div class="add-a-new-meeting-parent">
        <div class="add-a-new">Add a New Meeting</div>
        <i class="please-fill-out">*Please fill out the following form</i>
        <i class="meeting-title">Meeting Title:</i>
        <div class="field">
          <div class="text">Placeholder</div>
        </div>
        <i class="meeting-date">Meeting Date:</i>
        <div class="field1">
          <div class="text">Placeholder</div>
        </div>
        <i class="meeting-time">Meeting Time:</i>
        <div class="field2">
          <div class="text">Placeholder</div>
        </div>
        <i class="with">With:</i>
        <div class="field3">
          <div class="text">Placeholder</div>
        </div>
        <i class="meeting-link">Meeting Link:</i>
        <div class="field4">
          <div class="text">Placeholder</div>
        </div>
        <img
          class="icon-ionicons-outline-cl"
          alt=""
          src="./public/icon--ionicons--outline--closecircleoutline.svg"
        />
      </div>
      <button class="add-a-new-meeting-wrapper">
        <div class="add-a-new1">Add a new meeting</div>
      </button>
    </div>
  </body>
</html>
