<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/CSS/global.css" />
    <link rel="stylesheet" href="static/CSS/projects-add-a-new-project.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
  </head>
  <body>
    <form class="projects-add-a-new-project">
      <main class="project-details1">
        <section class="project-input">
          <h1 class="add-a-new2">Add a New Project</h1>
          <i class="please-fill-out">*Please fill out the following form</i>
          <h2 class="project-name10">Project Name:</h2>
          <div class="add-a-new-project">
            <input
              class="enter-name-of"
              placeholder="Enter name of project"
              type="text"
            />
          </div>
          <h2 class="client-name10">Client Name:</h2>
          <div class="add-a-new-project1">
            <input
              class="enter-name-of1"
              placeholder="Enter name of client"
              type="text"
            />
          </div>
          <h2 class="due-date10">Due Date:</h2>
          <select class="add-a-new-project2"></select>
          <h2 class="assigned-to10">Assigned to:</h2>
          <select class="add-a-new-project3"></select>
          <h2 class="set-tasks">Set Tasks:</h2>
          <div class="add-a-new-project4">
            <input
              class="enter-tasks-to"
              placeholder="Enter Task(s) to be completed by employees"
              type="text"
            />
          </div>
        </section>
        <div class="icon-ionicons-outline-cl-wrapper">
          <img
            class="icon-ionicons-outline-cl"
            loading="lazy"
            alt=""
            src="static/public/icon--ionicons--outline--closecircleoutline.svg"
            id="iconIoniconsOutlineCl"
            onclick="event.preventDefault();window.location.href='/projects';"
          />
        </div>
      </main>
      <div class="projects-add-a-new-project-inner">
        <button class="create-a-new-project-wrapper" onclick="event.preventDefault();window.location.href='/project-added';">
          <div class="create-a-new">Create a new project</div>
        </button>
      </div>
    </form>
  </body>
</html>
