<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/CSS/global.css" />
    <link rel="stylesheet" href="static/CSS/desktop-1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <div class="desktop-1-child"></div>
      <section class="desktop-1-item"></section>
      <section class="desktop-1-inner"></section>
      <section class="ellipse-section"></section>
      <nav class="nav-bar">
        <div class="logo-wrapper">
          <div class="logo">
            <div class="logo-inner">
              <div class="frame-parent">
                <div class="ellipse-wrapper">
                  <div class="frame-child"></div>
                </div>
                <img
                  class="subtract-icon"
                  alt=""
                  src="static/public/subtract@2x.png"
                />
              </div>
            </div>
            <b class="cypress">cypress.</b>
          </div>
        </div>
        <nav class="link-parent">
          <div class="link">
            <div class="link1">Product</div>
          </div>
          <div class="link">
            <div class="link1">Pricing</div>
          </div>
          <div class="link">
            <div class="link1">About</div>
          </div>
          <div class="link">
            <div class="link1">Resources</div>
          </div>
          <div class="link">
            <div class="link1">Download</div>
          </div>
        </nav>
        <div class="link-group">
          <div class="link">
            <div class="link1">Login</div>
          </div>
          <button class="button">
            <div class="button-cta">Signup</div>
          </button>
        </div>
      </nav>
      <button class="pill">
        <div class="section-title">Your Workspace Perfected</div>
      </button>
      <button class="pill1">
        <div class="section-title">Features</div>
      </button>
      <button class="pill2">
        <div class="section-title">Testimonials</div>
      </button>
      <div class="pill3">
        <div class="cypress">Testimonials</div>
      </div>
      <h1 class="all-in-one-collaboration-and-container">
        <p class="all-in-one-collaboration-and">All-in-One Collaboration and</p>
        <p class="all-in-one-collaboration-and">Productivity Platform</p>
      </h1>
      <h1 class="keep-track-of-container">
        <p class="all-in-one-collaboration-and">Keep track of your meetings</p>
        <p class="all-in-one-collaboration-and">all in one place</p>
      </h1>
      <h1 class="trusted-by-all">Trusted by all</h1>
      <h1 class="trusted-by-all1">Trusted by all</h1>
      <button class="button1">
        <div class="button-cta1">Get Cypress Free</div>
      </button>
      <img class="rectangle-icon" alt="" src="static/public/rectangle-9083@2x.png" />

      <div class="frame-div">
        <div class="company-logo-parent">
          <img
            class="company-logo-icon"
            alt=""
            src="static/public/company-logo@2x.png"
          />

          <div class="company-logo-4-wrapper">
            <img
              class="company-logo-4-icon"
              alt=""
              src="static/public/company-logo4@2x.png"
            />
          </div>
          <div class="company-logo-4-wrapper">
            <img
              class="company-logo-3-icon"
              alt=""
              src="static/public/company-logo3@2x.png"
            />
          </div>
          <div class="company-logo-4-wrapper">
            <img
              class="company-logo-2-icon"
              alt=""
              src="static/public/company-logo2@2x.png"
            />
          </div>
          <div class="company-logo-4-wrapper">
            <img
              class="company-logo-1-icon"
              alt=""
              src="static/public/company-logo1@2x.png"
            />
          </div>
        </div>
      </div>
      <div class="capture-your-ideas-container">
        <p class="all-in-one-collaboration-and">
          Capture your ideas, thoughts, and meeting notes in a
        </p>
        <p class="all-in-one-collaboration-and">
          structured and organized manner.
        </p>
      </div>
      <div class="join-thousands-of-container">
        <p class="all-in-one-collaboration-and">
          Join thousands of satisfied users who rely on our platform for their
        </p>
        <p class="all-in-one-collaboration-and">
          personal and professional productivity needs.
        </p>
      </div>
      <div class="join-thousands-of-container1">
        <p class="all-in-one-collaboration-and">
          Join thousands of satisfied users who rely on our platform for their
        </p>
        <p class="all-in-one-collaboration-and">
          personal and professional productivity needs.
        </p>
      </div>
      <section class="testimonial-card-parent">
        <div class="testimonial-card">
          <div class="frame-group">
            <div class="ellipse-parent">
              <div class="frame-item"></div>
              <img
                class="unsplashrdeovte7vos-icon"
                alt=""
                src="static/public/unsplashrdeovte7vos@2x.png"
              />
            </div>
            <div class="web-prodigies-parent">
              <div class="cypress">Web Prodigies</div>
              <i class="webprodigies">@webprodigies</i>
            </div>
          </div>
          <div class="this-platform-has">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
        <div class="testimonial-card">
          <div class="frame-group">
            <div class="ellipse-parent">
              <div class="frame-item"></div>
              <img
                class="unsplashrdeovte7vos-icon"
                alt=""
                src="static/public/unsplashrdeovte7vos@2x.png"
              />
            </div>
            <div class="web-prodigies-parent">
              <div class="cypress">Web Prodigies</div>
              <i class="webprodigies">@webprodigies</i>
            </div>
          </div>
          <div class="this-platform-has">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
        <div class="testimonial-card">
          <div class="frame-group">
            <div class="ellipse-parent">
              <div class="frame-item"></div>
              <img
                class="unsplashrdeovte7vos-icon"
                alt=""
                src="static/public/unsplashrdeovte7vos@2x.png"
              />
            </div>
            <div class="web-prodigies-parent">
              <div class="cypress">Web Prodigies</div>
              <i class="webprodigies">@webprodigies</i>
            </div>
          </div>
          <div class="this-platform-has">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
        <div class="testimonial-card">
          <div class="frame-group">
            <div class="ellipse-parent">
              <div class="frame-item"></div>
              <img
                class="unsplashrdeovte7vos-icon"
                alt=""
                src="static/public/unsplashrdeovte7vos@2x.png"
              />
            </div>
            <div class="web-prodigies-parent">
              <div class="cypress">Web Prodigies</div>
              <i class="webprodigies">@webprodigies</i>
            </div>
          </div>
          <div class="this-platform-has">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
      </section>
      <section class="testimonial-card-group">
        <div class="testimonial-card">
          <div class="frame-group">
            <div class="ellipse-parent">
              <div class="frame-item"></div>
              <img
                class="unsplashrdeovte7vos-icon"
                alt=""
                src="static/public/unsplashrdeovte7vos@2x.png"
              />
            </div>
            <div class="web-prodigies-parent">
              <div class="cypress">Web Prodigies</div>
              <i class="webprodigies">@webprodigies</i>
            </div>
          </div>
          <div class="this-platform-has">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
        <div class="testimonial-card">
          <div class="frame-group">
            <div class="ellipse-parent">
              <div class="frame-item"></div>
              <img
                class="unsplashrdeovte7vos-icon"
                alt=""
                src="static/public/unsplashrdeovte7vos@2x.png"
              />
            </div>
            <div class="web-prodigies-parent">
              <div class="cypress">Web Prodigies</div>
              <i class="webprodigies">@webprodigies</i>
            </div>
          </div>
          <div class="this-platform-has">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
        <div class="testimonial-card">
          <div class="frame-group">
            <div class="ellipse-parent">
              <div class="frame-item"></div>
              <img
                class="unsplashrdeovte7vos-icon"
                alt=""
                src="static/public/unsplashrdeovte7vos@2x.png"
              />
            </div>
            <div class="web-prodigies-parent">
              <div class="cypress">Web Prodigies</div>
              <i class="webprodigies">@webprodigies</i>
            </div>
          </div>
          <div class="this-platform-has">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
        <div class="testimonial-card">
          <div class="frame-group">
            <div class="ellipse-parent">
              <div class="frame-item"></div>
              <img
                class="unsplashrdeovte7vos-icon"
                alt=""
                src="static/public/unsplashrdeovte7vos@2x.png"
              />
            </div>
            <div class="web-prodigies-parent">
              <div class="cypress">Web Prodigies</div>
              <i class="webprodigies">@webprodigies</i>
            </div>
          </div>
          <div class="this-platform-has">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
      </section>
      <div class="pricing-card">
        <div class="pro-plan-wrapper">
          <h2 class="pro-plan">Pro Plan</h2>
        </div>
        <div class="parent">
          <div class="div">$12.99</div>
          <div class="mo">/mo</div>
        </div>
        <div class="billed-monthly-parent">
          <div class="cypress">billed monthly</div>
          <div class="billed-monthly1">$17 billed monthly</div>
        </div>
        <button class="button2">
          <div class="button-cta">Get Started</div>
        </button>
        <div class="everything-in-free-parent">
          <div class="cypress">Everything in free +</div>
          <div class="button3">
            <img
              class="vector-stroke-icon"
              alt=""
              src="static/public/vector-stroke@2x.png"
            />

            <div class="unlimited-blocks-for">Unlimited blocks for teams</div>
          </div>
          <div class="button3">
            <img
              class="vector-stroke-icon"
              alt=""
              src="static/public/vector-stroke@2x.png"
            />

            <div class="unlimited-blocks-for">Unlimited file uploads</div>
          </div>
          <div class="button3">
            <img
              class="vector-stroke-icon"
              alt=""
              src="static/public/vector-stroke@2x.png"
            />

            <div class="unlimited-blocks-for">30 day page history</div>
          </div>
          <div class="button3">
            <img
              class="vector-stroke-icon"
              alt=""
              src="static/public/vector-stroke@2x.png"
            />

            <div class="unlimited-blocks-for">Invite 100 guests</div>
          </div>
        </div>
        <img
          class="iconexglassheart"
          alt=""
          src="static/public/iconexglassheart@2x.png"
        />
      </div>
      <div class="pricing-card1">
        <div class="free-plan-wrapper">
          <h2 class="pro-plan">Free Plan</h2>
        </div>
        <div class="wrapper">
          <div class="div">$0</div>
        </div>
        <div class="billed-monthly-group">
          <div class="cypress">billed monthly</div>
          <div class="billed-monthly1">$17 billed monthly</div>
        </div>
        <div class="button7">
          <div class="button-cta3">Get Started</div>
        </div>
        <div class="button-parent">
          <div class="button3">
            <img
              class="vector-stroke-icon4"
              alt=""
              src="static/public/vector-stroke1.svg"
            />

            <div class="unlimited-blocks-for">Unlimited blocks for teams</div>
          </div>
          <div class="button3">
            <img
              class="vector-stroke-icon4"
              alt=""
              src="static/public/vector-stroke1.svg"
            />

            <div class="unlimited-blocks-for">Unlimited file uploads</div>
          </div>
          <div class="button3">
            <img
              class="vector-stroke-icon4"
              alt=""
              src="static/public/vector-stroke1.svg"
            />

            <div class="unlimited-blocks-for">30 day page history</div>
          </div>
          <div class="button3">
            <img
              class="vector-stroke-icon4"
              alt=""
              src="static/public/vector-stroke1.svg"
            />

            <div class="unlimited-blocks-for">Invite 100 guests</div>
          </div>
        </div>
      </div>
      <img class="calendar-1-icon" alt="" src="static/public/calendar-1@3x.png" />
    </div>
  </body>
</html>
