<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./desktop-1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <section class="nav-bar-wrapper">
        <header class="nav-bar">
          <div class="nav-container">
            <div class="logo1">
              <div class="logo-wrapper">
                <div class="logo-shape-parent">
                  <div class="logo-shape">
                    <div class="logo2"></div>
                  </div>
                  <img
                    class="subtract-icon"
                    loading="lazy"
                    alt=""
                    src="./public/subtract@2x.png"
                  />
                </div>
              </div>
              <b class="cypress">cypress.</b>
            </div>
          </div>
          <nav class="link-parent">
            <div class="link">
              <div class="link1">Product</div>
            </div>
            <div class="link2">
              <div class="link3">Pricing</div>
            </div>
            <div class="link4">
              <div class="link5">About</div>
            </div>
            <div class="link6">
              <div class="link7">Resources</div>
            </div>
            <div class="link8">
              <div class="link9">Download</div>
            </div>
          </nav>
          <div class="link-group">
            <button class="link10">
              <div class="link11">Login</div>
            </button>
            <button class="button">
              <img
                class="iconexglassright"
                alt=""
                src="./public/iconexglassright@2x.png"
              />

              <div class="button-cta">Signup</div>
            </button>
          </div>
        </header>
      </section>
      <section class="desktop-1-inner">
        <div class="hero-container-parent">
          <div class="hero-container">
            <div class="hero-content">
              <div class="hero-messaging">
                <button class="pill">
                  <div class="section-title">Your Workspace Perfected</div>
                </button>
              </div>
              <h1 class="all-in-one-collaboration-and-container">
                <p class="all-in-one-collaboration-and">
                  All-in-One Collaboration and
                </p>
                <p class="productivity-platform">Productivity Platform</p>
              </h1>
              <div class="hero-c-t-a">
                <button class="button1">
                  <img
                    class="iconexglassright1"
                    alt=""
                    src="./public/iconexglassright@2x.png"
                  />

                  <div class="button-cta1">Get Cypress Free</div>
                </button>
              </div>
            </div>
          </div>
          <div class="hero-image">
            <div class="hero-image-child"></div>
            <img
              class="hero-image-item"
              rows="{15}"
              cols="{46}"
              alt=""
              src="./public/rectangle-9083@2x.png"
            />
          </div>
        </div>
      </section>
      <section class="company-content-wrapper">
        <div class="company-content">
          <div class="company-logos">
            <img
              class="company-logo-icon"
              loading="lazy"
              alt=""
              src="./public/company-logo@2x.png"
            />

            <div class="company-logo-4-wrapper">
              <img
                class="company-logo-4-icon"
                loading="lazy"
                alt=""
                src="./public/company-logo4@2x.png"
              />
            </div>
            <div class="company-logo-pair">
              <img
                class="company-logo-3-icon"
                loading="lazy"
                alt=""
                src="./public/company-logo3@2x.png"
              />
            </div>
            <div class="company-logo-2-wrapper">
              <img
                class="company-logo-2-icon"
                loading="lazy"
                alt=""
                src="./public/company-logo2@2x.png"
              />
            </div>
            <div class="company-logo-pair1">
              <img
                class="company-logo-1-icon"
                loading="lazy"
                alt=""
                src="./public/company-logo1@2x.png"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="feature-container-wrapper">
        <div class="feature-container">
          <div class="feature-content">
            <div class="feature-one">
              <div class="feature-one-details">
                <button class="pill1">
                  <div class="section-title1">Features</div>
                </button>
              </div>
              <h1 class="keep-track-of-container">
                <p class="keep-track-of">Keep track of your meetings</p>
                <p class="all-in-one">all in one place</p>
              </h1>
              <div class="feature-one-caption">
                <div class="capture-your-ideas-container">
                  <p class="capture-your-ideas">
                    Capture your ideas, thoughts, and meeting notes in a
                  </p>
                  <p class="structured-and-organized">
                    structured and organized manner.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="feature-one-image">
            <div class="feature-one-image-child"></div>
            <img
              class="calendar-1-icon"
              loading="lazy"
              alt=""
              src="./public/calendar-1@2x.png"
            />
          </div>
        </div>
      </section>
      <section class="trust-container-wrapper">
        <div class="trust-container">
          <div class="trust-content">
            <button class="pill2">
              <div class="section-title2">Testimonials</div>
            </button>
          </div>
          <div class="trusted-by-all-wrapper">
            <h1 class="trusted-by-all">Trusted by all</h1>
          </div>
          <div class="trust-image">
            <div class="trust-image-child"></div>
            <div class="join-thousands-of-container">
              <p class="join-thousands-of">
                Join thousands of satisfied users who rely on our platform for
                their
              </p>
              <p class="personal-and-professional">
                personal and professional productivity needs.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="testimonial-card-parent">
        <div class="testimonial-card">
          <div class="testimonial-card-set">
            <div class="individual-card">
              <div class="user-image"></div>
              <img
                class="unsplashrdeovte7vos-icon"
                loading="lazy"
                alt=""
                src="./public/unsplashrdeovte7vos@2x.png"
              />
            </div>
            <div class="user-description">
              <div class="user-nameand-company">
                <div class="web-prodigies">Web Prodigies</div>
                <i class="webprodigies">@webprodigies</i>
              </div>
            </div>
          </div>
          <div class="this-platform-has">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
        <div class="testimonial-card1">
          <div class="frame-parent">
            <button class="ellipse-parent">
              <div class="frame-child"></div>
              <img
                class="unsplashrdeovte7vos-icon1"
                alt=""
                src="./public/unsplashrdeovte7vos@2x.png"
              />
            </button>
            <div class="frame-wrapper">
              <div class="web-prodigies-parent">
                <div class="web-prodigies1">Web Prodigies</div>
                <i class="webprodigies1">@webprodigies</i>
              </div>
            </div>
          </div>
          <div class="this-platform-has1">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
        <div class="testimonial-card2">
          <div class="frame-group">
            <button class="ellipse-group">
              <div class="frame-item"></div>
              <img
                class="unsplashrdeovte7vos-icon2"
                alt=""
                src="./public/unsplashrdeovte7vos@2x.png"
              />
            </button>
            <div class="frame-container">
              <div class="web-prodigies-group">
                <div class="web-prodigies2">Web Prodigies</div>
                <i class="webprodigies2">@webprodigies</i>
              </div>
            </div>
          </div>
          <div class="this-platform-has2">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
        <div class="testimonial-card3">
          <div class="frame-div">
            <button class="ellipse-container">
              <div class="frame-inner"></div>
              <img
                class="unsplashrdeovte7vos-icon3"
                alt=""
                src="./public/unsplashrdeovte7vos@2x.png"
              />
            </button>
            <div class="frame-wrapper1">
              <div class="web-prodigies-container">
                <div class="web-prodigies3">Web Prodigies</div>
                <i class="webprodigies3">@webprodigies</i>
              </div>
            </div>
          </div>
          <div class="this-platform-has3">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
        <div class="testimonial-card4">
          <div class="frame-parent1">
            <div class="ellipse-parent1">
              <div class="ellipse-div"></div>
              <img
                class="unsplashrdeovte7vos-icon4"
                loading="lazy"
                alt=""
                src="./public/unsplashrdeovte7vos@2x.png"
              />
            </div>
            <div class="frame-wrapper2">
              <div class="web-prodigies-parent1">
                <div class="web-prodigies4">Web Prodigies</div>
                <i class="webprodigies4">@webprodigies</i>
              </div>
            </div>
          </div>
          <div class="this-platform-has4">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
        <div class="testimonial-card5">
          <div class="frame-parent2">
            <button class="frame-button">
              <div class="frame-child1"></div>
              <img
                class="unsplashrdeovte7vos-icon5"
                alt=""
                src="./public/unsplashrdeovte7vos@2x.png"
              />
            </button>
            <div class="frame-wrapper3">
              <div class="web-prodigies-parent2">
                <div class="web-prodigies5">Web Prodigies</div>
                <i class="webprodigies5">@webprodigies</i>
              </div>
            </div>
          </div>
          <div class="this-platform-has5">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
        <div class="testimonial-card6">
          <div class="frame-parent3">
            <button class="ellipse-parent2">
              <div class="frame-child2"></div>
              <img
                class="unsplashrdeovte7vos-icon6"
                alt=""
                src="./public/unsplashrdeovte7vos@2x.png"
              />
            </button>
            <div class="frame-wrapper4">
              <div class="web-prodigies-parent3">
                <div class="web-prodigies6">Web Prodigies</div>
                <i class="webprodigies6">@webprodigies</i>
              </div>
            </div>
          </div>
          <div class="this-platform-has6">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
        <div class="testimonial-card7">
          <div class="frame-parent4">
            <button class="ellipse-parent3">
              <div class="frame-child3"></div>
              <img
                class="unsplashrdeovte7vos-icon7"
                alt=""
                src="./public/unsplashrdeovte7vos@2x.png"
              />
            </button>
            <div class="frame-wrapper5">
              <div class="web-prodigies-parent4">
                <div class="web-prodigies7">Web Prodigies</div>
                <i class="webprodigies7">@webprodigies</i>
              </div>
            </div>
          </div>
          <div class="this-platform-has7">
            This platform has revolutionized the way I work. It’s intuitive,
            flexible and made me more productive than ever before.
          </div>
        </div>
      </section>
      <section class="pricing-container-wrapper">
        <div class="pricing-container">
          <div class="pricing-content">
            <div class="pricing-cards">
              <div class="pricing-card-details">
                <button class="pill3">
                  <div class="section-title3">Testimonials</div>
                </button>
              </div>
              <div class="trusted-by-all-container">
                <h1 class="trusted-by-all1">Trusted by all</h1>
              </div>
              <div class="pricing-image">
                <div class="pricing-image-child"></div>
                <div class="join-thousands-of-container1">
                  <p class="join-thousands-of1">
                    Join thousands of satisfied users who rely on our platform
                    for their
                  </p>
                  <p class="personal-and-professional1">
                    personal and professional productivity needs.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="pricing-card-comparison">
            <div class="pricing-card">
              <div class="plan-names">
                <h2 class="free-plan">Free Plan</h2>
              </div>
              <div class="plan-price">
                <div class="price-symbol">$0</div>
                <div class="mo">/mo</div>
              </div>
              <div class="price-frequency">
                <div class="billed-monthly">billed monthly</div>
                <div class="billed-monthly1">$17 billed monthly</div>
              </div>
              <button class="button2">
                <img
                  class="iconexglassright2"
                  alt=""
                  src="./public/iconexglassright@2x.png"
                />

                <div class="button-cta2">Get Started</div>
              </button>
              <div class="team-plan-features">
                <div class="everything-in-free">Everything in free +</div>
                <div class="button3">
                  <img
                    class="vector-stroke-icon"
                    loading="lazy"
                    alt=""
                    src="./public/vector-stroke.svg"
                  />

                  <div class="unlimited-blocks-for">
                    Unlimited blocks for teams
                  </div>
                </div>
                <div class="button4">
                  <img
                    class="vector-stroke-icon1"
                    loading="lazy"
                    alt=""
                    src="./public/vector-stroke.svg"
                  />

                  <div class="unlimited-file-uploads">
                    Unlimited file uploads
                  </div>
                </div>
                <div class="button5">
                  <img
                    class="vector-stroke-icon2"
                    loading="lazy"
                    alt=""
                    src="./public/vector-stroke.svg"
                  />

                  <div class="day-page-history">30 day page history</div>
                </div>
                <div class="button6">
                  <img
                    class="vector-stroke-icon3"
                    loading="lazy"
                    alt=""
                    src="./public/vector-stroke.svg"
                  />

                  <div class="invite-100-guests">Invite 100 guests</div>
                </div>
              </div>
              <img
                class="iconexglassheart"
                alt=""
                src="./public/iconexglassheart@2x.png"
              />
            </div>
            <div class="pricing-card1">
              <div class="pro-plan-wrapper">
                <h2 class="pro-plan">Pro Plan</h2>
              </div>
              <div class="parent">
                <div class="div10">$12.99</div>
                <div class="mo1">/mo</div>
              </div>
              <div class="billed-monthly-parent">
                <div class="billed-monthly2">billed monthly</div>
                <div class="billed-monthly3">$17 billed monthly</div>
              </div>
              <button class="button7">
                <img
                  class="iconexglassright3"
                  alt=""
                  src="./public/iconexglassright@2x.png"
                />

                <div class="button-cta3">Get Started</div>
              </button>
              <div class="everything-in-free-parent">
                <div class="everything-in-free1">Everything in free +</div>
                <div class="button8">
                  <img
                    class="vector-stroke-icon4"
                    loading="lazy"
                    alt=""
                    src="./public/vector-stroke-4@2x.png"
                  />

                  <div class="unlimited-blocks-for1">
                    Unlimited blocks for teams
                  </div>
                </div>
                <div class="button9">
                  <img
                    class="vector-stroke-icon5"
                    loading="lazy"
                    alt=""
                    src="./public/vector-stroke-4@2x.png"
                  />

                  <div class="unlimited-file-uploads1">
                    Unlimited file uploads
                  </div>
                </div>
                <div class="button10">
                  <img
                    class="vector-stroke-icon6"
                    loading="lazy"
                    alt=""
                    src="./public/vector-stroke-4@2x.png"
                  />

                  <div class="day-page-history1">30 day page history</div>
                </div>
                <div class="button11">
                  <img
                    class="vector-stroke-icon7"
                    loading="lazy"
                    alt=""
                    src="./public/vector-stroke-4@2x.png"
                  />

                  <div class="invite-100-guests1">Invite 100 guests</div>
                </div>
              </div>
              <img
                class="iconexglassheart1"
                loading="lazy"
                alt=""
                src="./public/iconexglassheart@2x.png"
              />
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
