<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./employees.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
  </head>
  <body>
    <div class="employees">
      <button class="frame-button">
        <img
          class="icon-ionicons-outline-ar"
          alt=""
          src="./public/icon--ionicons--outline--addoutline.svg"
        />

        <div class="add-a-new7">Add a new employee</div>
      </button>
      <textarea class="field12"> </textarea>
      <div class="employees-chart">Employees Chart</div>
      <table class="table">
        <thead>
          <tr>
            <th class="th" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/man-1@2x.png" />

                <div class="employee-name">Employee Name</div>
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--outline--arrowupoutline.svg"
                />
              </div>
            </th>
            <th class="th" colspan="{2}">
              <div class="titles">
                <img
                  class="man-1-icon"
                  alt=""
                  src="./public/briefcase-1@2x.png"
                />

                <div class="employee-name">Designation</div>
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--outline--arrowupoutline1.svg"
                />
              </div>
            </th>
            <th class="th" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/startup@2x.png" />

                <div class="employee-name">Projects Assigned</div>
              </div>
            </th>
            <th class="th" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/email-11@2x.png" />

                <div class="employee-name">Contact info</div>
              </div>
            </th>
            <th class="th" colspan="{4}">
              <div class="titles4">
                <div class="employee-name">Availability Status</div>
              </div>
            </th>
            <th class="th" colspan="{4}">
              <div class="titles4"></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="th" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/officer1@2x.png" />

                <div class="crm-web-saas-container">William S.</div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns2">
                <div class="sr-ux-designer-wrapper">
                  <div class="employee-name">Sr. UX Designer</div>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns3">
                <div class="crm-web-saas-container">
                  <ul class="crm-web-saas-ui">
                    <li class="crm-web">CRM Web</li>
                    <li>SaaS UI</li>
                  </ul>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">williams@gmail.com</div>
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="columns4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--filled--ellipse.svg"
                />
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="titles4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="th" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/officer1@2x.png" />

                <div class="crm-web-saas-container">William S.</div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns2">
                <div class="sr-ux-designer-container">
                  <div class="employee-name">Sr. UX Designer</div>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">---</div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">williams@gmail.com</div>
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="columns4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--filled--ellipse1.svg"
                />
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="titles4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="th" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/officer1@2x.png" />

                <div class="crm-web-saas-container">William S.</div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns2">
                <div class="sr-ux-designer-frame">
                  <div class="employee-name">Sr. UX Designer</div>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns3">
                <div class="crm-web-saas-container">
                  <ul class="crm-web-saas-ui">
                    <li class="crm-web">CRM Web</li>
                    <li>SaaS UI</li>
                  </ul>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">williams@gmail.com</div>
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="columns4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--filled--ellipse.svg"
                />
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="titles4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="th" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/officer1@2x.png" />

                <div class="crm-web-saas-container">William S.</div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns2">
                <div class="sr-ux-designer-wrapper">
                  <div class="employee-name">Sr. UX Designer</div>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">---</div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">williams@gmail.com</div>
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="columns4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--filled--ellipse1.svg"
                />
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="titles4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="th" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/officer1@2x.png" />

                <div class="crm-web-saas-container">William S.</div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns2">
                <div class="sr-ux-designer-container">
                  <div class="employee-name">Sr. UX Designer</div>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns3">
                <div class="crm-web-saas-container">
                  <ul class="crm-web-saas-ui">
                    <li class="crm-web">CRM Web</li>
                    <li>SaaS UI</li>
                  </ul>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">williams@gmail.com</div>
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="columns4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--filled--ellipse.svg"
                />
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="titles4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="th" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/officer1@2x.png" />

                <div class="crm-web-saas-container">William S.</div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns2">
                <div class="sr-ux-designer-frame">
                  <div class="employee-name">Sr. UX Designer</div>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns3">
                <div class="crm-web-saas-container">
                  <ul class="crm-web-saas-ui">
                    <li class="crm-web">CRM Web</li>
                    <li>SaaS UI</li>
                  </ul>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">williams@gmail.com</div>
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="columns4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--filled--ellipse.svg"
                />
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="titles4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="th" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/officer1@2x.png" />

                <div class="crm-web-saas-container">William S.</div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns2">
                <div class="sr-ux-designer-wrapper">
                  <div class="employee-name">Sr. UX Designer</div>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns3">
                <div class="crm-web-saas-container">
                  <ul class="crm-web-saas-ui">
                    <li class="crm-web">CRM Web</li>
                    <li>SaaS UI</li>
                  </ul>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">williams@gmail.com</div>
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="columns4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--filled--ellipse.svg"
                />
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="titles4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="th" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/officer1@2x.png" />

                <div class="crm-web-saas-container">William S.</div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns2">
                <div class="sr-ux-designer-container">
                  <div class="employee-name">Sr. UX Designer</div>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns3">
                <div class="crm-web-saas-container">
                  <ul class="crm-web-saas-ui">
                    <li class="crm-web">CRM Web</li>
                    <li>SaaS UI</li>
                  </ul>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">williams@gmail.com</div>
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="columns4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--filled--ellipse.svg"
                />
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="titles4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="th" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/officer1@2x.png" />

                <div class="crm-web-saas-container">William S.</div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns2">
                <div class="sr-ux-designer-frame">
                  <div class="employee-name">Sr. UX Designer</div>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns3">
                <div class="crm-web-saas-container">
                  <ul class="crm-web-saas-ui">
                    <li class="crm-web">CRM Web</li>
                    <li>SaaS UI</li>
                  </ul>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">williams@gmail.com</div>
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="columns4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--filled--ellipse.svg"
                />
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="titles4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="th" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/officer1@2x.png" />

                <div class="crm-web-saas-container">William S.</div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns2">
                <div class="sr-ux-designer-wrapper">
                  <div class="employee-name">Sr. UX Designer</div>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns3">
                <div class="crm-web-saas-container">
                  <ul class="crm-web-saas-ui">
                    <li class="crm-web">CRM Web</li>
                    <li>SaaS UI</li>
                  </ul>
                </div>
              </div>
            </td>
            <td class="th" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">williams@gmail.com</div>
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="columns4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--filled--ellipse.svg"
                />
              </div>
            </td>
            <td class="th" colspan="{4}">
              <div class="titles4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="td60" colspan="{2}">
              <div class="titles">
                <img class="man-1-icon" alt="" src="./public/officer1@2x.png" />

                <div class="crm-web-saas-container">William S.</div>
              </div>
            </td>
            <td class="td60" colspan="{2}">
              <div class="columns2">
                <div class="sr-ux-designer-wrapper">
                  <div class="employee-name">Sr. UX Designer</div>
                </div>
              </div>
            </td>
            <td class="td60" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">---</div>
              </div>
            </td>
            <td class="td60" colspan="{2}">
              <div class="columns4">
                <div class="crm-web-saas-container">williams@gmail.com</div>
              </div>
            </td>
            <td class="td60" colspan="{4}">
              <div class="columns4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--filled--ellipse1.svg"
                />
              </div>
            </td>
            <td class="td60" colspan="{4}">
              <div class="titles4">
                <img
                  class="icon-ionicons-outline-ar"
                  alt=""
                  src="./public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <nav class="sidebar3">
        <div class="projects-icon3">
          <div class="frame15">
            <div class="icon15">🏗️</div>
          </div>
        </div>
        <div class="employees-icon3">
          <div class="frame15">
            <div class="icon15">👥</div>
          </div>
        </div>
        <div class="contacts3">
          <div class="frame15">
            <div class="icon15">📅</div>
          </div>
        </div>
        <div class="leads-pipeline5">
          <div class="frame15">
            <div class="icon15">📊</div>
          </div>
        </div>
        <div class="home3">
          <div class="frame15">
            <div class="icon15">🏠</div>
          </div>
        </div>
        <img
          class="icon-tabler-icons-user-cir3"
          alt=""
          src="./public/icon--tablericons--usercircle.svg"
        />

        <img class="logo-icon3" alt="" src="./public/logo.svg" />
      </nav>
    </div>
  </body>
</html>
