<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/CSS/global.css" />
    <link rel="stylesheet" href="static/CSS/employees.css" />
    <link rel="stylesheet" href="static/CSS/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="employees">
      <div class="sidebar-wrapper">
        <div class="sidebar3">
          <div class="sidebar-content">
            <img
              class="logo-icon3"
              loading="lazy"
              alt=""
              src="static/public/logo.svg"
            />
          </div>
          <img
            class="icon-tabler-icons-user-cir3"
            loading="lazy"
            alt=""
            src="static/public/icon--tablericons--usercircle.svg"
          />

          <nav class="navigation-menu1">
            <div class="projects-icon3">
              <div class="frame15">
                <button class="icon19" onclick="window.location.href='/projects'">🏗️</button>
              </div>
            </div>
            <div class="employees-icon3">
              <div class="frame16">
                <button class="icon20" onclick="window.location.href='/employee'">👥</button>
              </div>
            </div>
            <div class="contacts3">
              <div class="frame17">
                <button class="icon21" onclick="window.location.href='/meeting-scheduler'">📅</button>
              </div>
            </div>
            <div class="leads-pipeline3">
              <div class="frame18">
                <button class="icon22" onclick="window.location.href='/leads-pipeline'">📊</button>
              </div>
            </div>
            <div class="home3">
              <div class="frame19">
                <button class="icon23" onclick="window.location.href='/home'">🏠</button>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <main class="data-visualization-parent">
        <div class="data-visualization">
          <h1 class="employees-chart">Employees Chart</h1>
        </div>
        <div class="data-manipulation">
          <div class="action-panel">
            <button class="add-employee-button" onclick="window.location.href='/add-new-employee'">
              <img
                class="icon-ionicons-outline-ad3"
                alt=""
                src="static/public/icon--ionicons--outline--addoutline1.svg"
              />

              <div class="add-a-new3">Add a new employee</div>
            </button>
            <div class="field2">
              <img
                class="icon-jam-icons-outline-l4"
                alt=""
                src="static/public/icon--jamicons--outline--logos--search.svg"
              />

              <input
                class="search-input1"
                placeholder="Search for any employee"
                type="text"
              />

              <img
                class="icon-jam-icons-outline-l5"
                alt=""
                src="static/public/icon--jamicons--outline--logos--chevrondown.svg"
              />
            </div>
          </div>
        </div>
        <div class="table">
          <div class="employee-name">
            <div class="titles">
              <img class="man-1-icon" alt="" src="static/public/man-1@2x.png" />

              <div class="employee-name1">Employee Name</div>
              <img
                class="icon-ionicons-outline-ar"
                alt=""
                src="static/public/icon--ionicons--outline--arrowupoutline.svg"
              />
            </div>
            {# Loop through employees #}
            {% for i in data %}
            {# Employee details #}
            <div class="columns1">
              <img class="officer-icon1" alt="" src="static/public/officer@2x.png" />

              <div class="william-s1">William S. {{i}}</div>
            </div>
            {% endfor %}
            
          <div class="designation">
            <div class="titles1">
              <img
                class="briefcase-1-icon"
                alt=""
                src="static/public/briefcase-1@2x.png"
              />
              <div class="designation1">Designation</div>
              <img
                class="icon-ionicons-outline-ar1"
                alt=""
                src="static/public/icon--ionicons--outline--arrowupoutline-1.svg"
              />
            </div>
            {# Loop through employees #}
            {% for i in data %}
            {# Employee designation #}
            <div class="columns3">
              <div class="sr-ux-designer-wrapper">
                <div class="sr-ux-designer">Sr. UX Designer{{i}}</div>
              </div>
            </div>
            {% endfor %}
            
          <div class="projects-assigned">
            <div class="titles2">
              <img
                class="start-up-icon"
                loading="lazy"
                alt=""
                src="static/public/startup@2x.png"
              />

              <div class="projects-assigned1">Projects Assigned</div>
            </div>
            {# Loop through employees #}
            {% for i in data %}
            {# Projects assigned to employee #}
            <div class="columns5">
              <div class="crm-web-saas-container">
                <ul class="crm-web-saas-ui">
                  <li class="crm-web">CRM Web{{i}}</li>
                  <li>SaaS UI</li>
                </ul>
              </div>
            </div>
            {% endfor %}
            
          </div>
          <div class="sr">
            <button class="titles4">
              <div class="availability-status">Availability Status</div>
            </button>
            {# Loop through employees #}
            {% for i in data %}
            {# Employee availability status #}
            <div class="columns9">
              <img
                class="icon-ionicons-filled-ell"
                loading="lazy"
                alt=""
                src="static/public/icon--ionicons--filled--ellipse.svg"
              />
            </div>
            {% endfor %}
           
          </div>
          <div class="sr">
            <div class="titles5">
              <div class="availability-status1">Availability Status</div>
            </div>
            {# Loop through employees #}
            {% for i in data %}
            {# Employee availability status #}
            <div class="columns11">
              <img
                class="icon-ionicons-sharp-elli20"
                alt=""
                src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
              />
            </div>
            {% endfor %}
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
