<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/CSS/global.css" />
    <link rel="stylesheet" href="static/CSS/leads-pipeline.css" />
    <link rel="stylesheet" href="static/CSS/dashboard.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="leads-pipeline">
      <div class="sidebar">
        <div class="f-r-a-m-e-t-o-p-l-e-v-e-l">
          <img
            class="logo-icon1"
            loading="lazy"
            alt=""
            src="static/public/logo1.svg"
          />
        </div>
        <img
          class="icon-tabler-icons-user-cir"
          loading="lazy"
          alt=""
          src="static/public/icon--tablericons--usercircle.svg"
        />

        <nav class="main-links">
          <div class="projects-icon1">
            <div class="navigation-links">
              <button class="icon9" onclick="window.location.href='/projects'">🏗️</button>
            </div>
          </div>
          <div class="employees-icon1">
            <div class="frame6">
              <button class="icon10" onclick="window.location.href='/employee'">👥</button>
            </div>
          </div>
          <div class="contacts1">
            <div class="frame7">
              <button class="icon11" onclick="window.location.href='/meeting-scheduler'">📅</button>
            </div>
          </div>
          <div class="leads-pipeline1">
            <div class="frame8">
              <button class="icon12" onclick="window.location.href='/leads-pipeline'">📊</button>
            </div>
          </div>
          <div class="home1">
            <div class="frame9">
              <button class="icon13" onclick="window.location.href='/home'">🏠</button>
            </div>
          </div>
        </nav>

      </div>
      <main class="leads-pipeline-inner">
        <section class="frame-parent">
          <div class="leads-pipeline-wrapper">
            <h1 class="leads-pipeline2">Leads Pipeline</h1>
          </div>
          <div class="frame-wrapper">
            <button class="add-a-new-client-wrapper" onclick="window.location.href='/add-new-contact'">
              <div class="add-a-new">Add a new Client +</div>
            </button>
          </div>
          <div class="column-parent">
            <div class="column">
              <div class="column-header">
                <div class="column-name">Prospects</div>
              </div>
              {%for prosp in prospects%}
              <div class="card">
                <div class="frame-group">
                  <div class="rectangle-wrapper">
                    <div class="frame-child"></div>
                  </div>
                  <div class="title-description-parent">
                    <div class="title-description">
                      <div class="title-priority-parent">
                        <div class="title-priority">
                          <div class="john-m"> {{prosp.0}} </div>
                        </div>
                        <img
                          class="icon-ionicons-sharp-elli"
                          loading="lazy"
                          alt=""
                          src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                        />
                      </div>
                      <div class="johnmgmailcom"> {{prosp.1}} </div>
                      <div class="crm-website"> {{prosp.2}} </div>
                    </div>
                    <div class="notes">
                      <div class="notes1">Notes:</div>
                      <div class="this-is-mr-container">
                        <p class="this-is-mr">
                          This is Mr John M.’s project of CRM Website and he is
                          currently now in this stage.
                        </p>
                      </div>
                      
                      <form method="POST">
                        {% csrf_token %}
                        <select name="cstatus">
                                {% comment %} <option value="prospect">Prospect</option> {% endcomment %}
                                <option value="Qualified lead,{{prosp.0}}">Qualified Lead</option>
                                <option value="call done,{{prosp.0}}">Call Done</option>
                                <option value="client won,{{prosp.0}}">Client Won</option>
                                <option value="Confirmed,{{prosp.0}}">Confirmed</option>
                        </select>
                        <button type="submit">Submit</button>
                    </form>
                    
                    </div>
                  </div>
                </div>
                <div class="notes2"></div>
                <div class="notes3">
                  <div class="notes-child"></div>
                </div>
              </div>
              {%endfor%}
              
            </div>
            <div class="column1">
              <div class="column-header1">
                <div class="column-name1">Qualified lead</div>
              </div>
              {%for lead in leads%}
              <div class="card2">
                <div class="frame-div">
                  <div class="rectangle-frame">
                    <div class="frame-inner"></div>
                  </div>
                  <div class="title-description-container">
                    <div class="title-description2">
                      <div class="title-priority-container">
                        <div class="title-priority2">
                          <div class="john-m2"> {{lead.0}} </div>
                        </div>
                        <img
                          class="icon-ionicons-sharp-elli2"
                          loading="lazy"
                          alt=""
                          src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                        />
                      </div>
                      <div class="johnmgmailcom2"> {{lead.1}} </div>
                      <div class="crm-website2"> {{lead.2}} </div>
                    </div>
                    <div class="notes8">
                      <div class="notes9">Notes:</div>
                      <div class="this-is-mr-container2">
                        <p class="this-is-mr2">
                          This is Mr John M.’s project of CRM Website and he is
                          currently now in this stage.
                        </p>
                      </div>
                      
                      <form method="post">
                        {% csrf_token %}
                        <select name="cstatus">
                          <option value="call done,{{lead.0}}">Call Done</option>
                          <option value="client won,{{lead.0}}">Client Won</option>
                          <option value="Confirmed,{{lead.0}}">Confirmed</option>
                          <option value="prospect,{{lead.0}}">Prospect</option>
                                {% comment %} <option value="qlead">Qualified Lead</option> {% endcomment %}
                        </select>
                        <button type="submit">Submit</button>
                    </form>
                    </div>
                  </div>
                </div>
                <div class="notes10"></div>
                <div class="notes11">
                  <div class="notes-inner"></div>
                </div>
              </div>
              {%endfor%}
            </div>
            <div class="column2">
              <div class="column-header2">
                <div class="column-name2">Sales call done</div>
              </div>
              {%for call in call_done%}
              <div class="card-wrapper">
                <div class="card3">
                  <div class="frame-parent1">
                    <div class="rectangle-wrapper1">
                      <div class="rectangle-div"></div>
                    </div>
                    <div class="title-description-parent1">
                      <div class="title-description3">
                        <div class="title-priority-parent1">
                          <div class="title-priority3">
                            <div class="john-m3"> {{call.0}} </div>
                          </div>
                          <img
                            class="icon-ionicons-sharp-elli3"
                            loading="lazy"
                            alt=""
                            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                          />
                        </div>
                        <div class="johnmgmailcom3"> {{call.1}} </div>
                        <div class="crm-website3"> {{call.2}} </div>
                      </div>
                      <div class="notes12">
                        <div class="notes13">Notes:</div>
                        <div class="this-is-mr-container3">
                          <p class="this-is-mr3">
                            This is Mr John M.’s project of CRM Website and he
                            is currently now in this stage.
                          </p>
                        </div>
                        
                        <form method="post">
                          {% csrf_token %}
                          <select name="cstatus">
                            <option value="client won,{{call.0}}">Client Won</option>
                            <option value="Confirmed,{{call.0}}">Confirmed</option>
                            <option value="Qualified lead,{{call.0}}">Qualified Lead</option>
                            <option value="prospect,{{call.0}}">Prospect</option>
                                  {% comment %} <option value="cdone">Call Done</option> {% endcomment %}
                          </select>
                          <button type="submit">Submit</button>
                      </form>
                      </div>
                    </div>
                  </div>
                  <div class="notes14"></div>
                  <div class="notes15">
                    <div class="line-div"></div>
                  </div>
                </div>
              </div>
              {%endfor%}
            </div>
            <div class="column3">
              <div class="column-header3">
                <div class="column-name3">client won</div>
              </div>
              {%for client in cwon%}
              <div class="card-container">
                <div class="card4">
                  <div class="frame-parent2">
                    <div class="rectangle-wrapper2">
                      <div class="frame-child1"></div>
                    </div>
                    <div class="title-description-parent2">
                      <div class="title-description4">
                        <div class="title-priority-parent2">
                          <div class="title-priority4">
                            <div class="john-m4"> {{client.0}} </div>
                          </div>
                          <img
                            class="icon-ionicons-sharp-elli4"
                            loading="lazy"
                            alt=""
                            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                          />
                        </div>
                        <div class="johnmgmailcom4"> {{client.1}} </div>
                        <div class="crm-website4"> {{client.2}} </div>
                      </div>
                      <div class="notes16">
                        <div class="notes17">Notes:</div>
                        <div class="this-is-mr-container4">
                          <p class="this-is-mr4">
                            This is Mr John M.’s project of CRM Website and he
                            is currently now in this stage.
                          </p>
                        </div>
                       
                        <form method="post">
                          {% csrf_token %}
                          <select name="cstatus">
                            <option value="Confirmed,{{client.0}}">Confirmed</option>
                            <option value="call done,{{client.0}}">Call Done</option>
                            <option value="Qualified lead,{{client.0}}">Qualified Lead</option>
                            <option value="prospect,{{client.0}}">Prospect</option>
                                  {% comment %} <option value="cwon">Client Won</option> {% endcomment %}
                          </select>
                          <button type="submit">Submit</button>
                      </form>
                      </div>
                    </div>
                  </div>
                  <div class="notes18"></div>
                  <div class="notes19">
                    <div class="notes-child1"></div>
                  </div>
                </div>
              </div>
              {%endfor%}
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
