<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/CSS/global.css" />
    <link rel="stylesheet" href="static/CSS/leads-pipeline.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="leads-pipeline">
      <div class="sidebar">
        <div class="f-r-a-m-e-t-o-p-l-e-v-e-l">
          <img
            class="logo-icon"
            loading="lazy"
            alt=""
            src="static/public/logo.svg"
          />
        </div>
        <img
          class="icon-tabler-icons-user-cir"
          loading="lazy"
          alt=""
          src="static/public/icon--tablericons--usercircle.svg"
        />

        <nav class="projects-icon-parent">
          <div class="projects-icon">
            <div class="frame">
              <button class="icon" onclick="window.location.href='/projects'">🏗️</button>
            </div>
          </div>
          <div class="employees-icon">
            <div class="frame1">
              <button class="icon1" onclick="window.location.href='/employee'">👥</button>
            </div>
          </div>
          <div class="contacts">
            <div class="frame2">
              <button class="icon2" onclick="window.location.href='/meeting-scheduler'">📅</button>
            </div>
          </div>
          <div class="leads-pipeline1">
            <div class="frame3">
              <button class="icon3"onclick="window.location.href='/leads-pipeline'" >📊</button>
            </div>
          </div>
          <div class="home">
            <div class="frame4">
              <button class="icon4" onclick="window.location.href='/home'">🏠</butoon>
            </div>
          </div>
        </nav>
      </div>
      <main class="leads-pipeline-inner">
        <section class="frame-parent">
          <div class="leads-pipeline-wrapper">
            <h1 class="leads-pipeline2">Leads Pipeline</h1>
          </div>
          <div class="frame-wrapper">
            <button class="add-a-new-client-wrapper" onclick="window.location.href='/add-new-contact'">
              <div class="add-a-new">Add a new Client +</div>
            </button>
          </div>
          <div class="column-parent">
            <div class="column">
              <div class="column-header">
                <div class="column-name">Prospects</div>
              </div>
              <div class="card">
                <div class="frame-group">
                  <div class="rectangle-wrapper">
                    <div class="frame-child"></div>
                  </div>
                  <div class="title-description-parent">
                    <div class="title-description">
                      <div class="title-priority-parent">
                        <div class="title-priority">
                          <div class="john-m">John M.</div>
                        </div>
                        <img
                          class="icon-ionicons-sharp-elli"
                          loading="lazy"
                          alt=""
                          src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                        />
                      </div>
                      <div class="johnmgmailcom">johnm@gmail.com</div>
                      <div class="crm-website">CRM Website</div>
                    </div>
                    <div class="notes">
                      <div class="notes1">Notes:</div>
                      <div class="this-is-mr-container">
                        <p class="this-is-mr">
                          This is Mr John M.’s project of CRM Website and he is
                          currently now in this stage.
                        </p>
                      </div>
                      <div class="component-7">
                        <div class="lp-card-button">
                          <div class="move-to">Move to</div>
                          <div class="iconexbrokendown-2"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="notes2"></div>
                <div class="notes3">
                  <div class="notes-child"></div>
                </div>
              </div>
              <div class="card1">
                <div class="frame-container">
                  <div class="rectangle-container">
                    <div class="frame-item"></div>
                  </div>
                  <div class="title-description-group">
                    <div class="title-description1">
                      <div class="title-priority-group">
                        <div class="title-priority1">
                          <div class="john-m1">John M.</div>
                        </div>
                        <img
                          class="icon-ionicons-sharp-elli1"
                          loading="lazy"
                          alt=""
                          src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                        />
                      </div>
                      <div class="johnmgmailcom1">johnm@gmail.com</div>
                      <div class="crm-website1">CRM Website</div>
                    </div>
                    <div class="notes4">
                      <div class="notes5">Notes:</div>
                      <div class="this-is-mr-container1">
                        <p class="this-is-mr1">
                          This is Mr John M.’s project of CRM Website and he is
                          currently now in this stage.
                        </p>
                      </div>
                      <div class="component-71">
                        <div class="lp-card-button1">
                          <div class="move-to1">Move to</div>
                          <img
                            class="iconexbrokendown-21"
                            alt=""
                            src="static/public/iconexbrokendown-2-1@2x.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="notes6"></div>
                <div class="notes7">
                  <div class="notes-item"></div>
                </div>
              </div>
            </div>
            <div class="column1">
              <div class="column-header1">
                <div class="column-name1">Qualified lead</div>
              </div>
              <div class="card2">
                <div class="frame-div">
                  <div class="rectangle-frame">
                    <div class="frame-inner"></div>
                  </div>
                  <div class="title-description-container">
                    <div class="title-description2">
                      <div class="title-priority-container">
                        <div class="title-priority2">
                          <div class="john-m2">John M.</div>
                        </div>
                        <img
                          class="icon-ionicons-sharp-elli2"
                          loading="lazy"
                          alt=""
                          src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                        />
                      </div>
                      <div class="johnmgmailcom2">johnm@gmail.com</div>
                      <div class="crm-website2">CRM Website</div>
                    </div>
                    <div class="notes8">
                      <div class="notes9">Notes:</div>
                      <div class="this-is-mr-container2">
                        <p class="this-is-mr2">
                          This is Mr John M.’s project of CRM Website and he is
                          currently now in this stage.
                        </p>
                      </div>
                      <div class="component-72">
                        <div class="lp-card-button2">
                          <div class="move-to2">Move to</div>
                          <img
                            class="iconexbrokendown-22"
                            alt=""
                            src="static/public/iconexbrokendown-2-1@2x.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="notes10"></div>
                <div class="notes11">
                  <div class="notes-inner"></div>
                </div>
              </div>
            </div>
            <div class="column2">
              <div class="column-header2">
                <div class="column-name2">Sales call done</div>
              </div>
              <div class="card-wrapper">
                <div class="card3">
                  <div class="frame-parent1">
                    <div class="rectangle-wrapper1">
                      <div class="rectangle-div"></div>
                    </div>
                    <div class="title-description-parent1">
                      <div class="title-description3">
                        <div class="title-priority-parent1">
                          <div class="title-priority3">
                            <div class="john-m3">John M.</div>
                          </div>
                          <img
                            class="icon-ionicons-sharp-elli3"
                            loading="lazy"
                            alt=""
                            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                          />
                        </div>
                        <div class="johnmgmailcom3">johnm@gmail.com</div>
                        <div class="crm-website3">CRM Website</div>
                      </div>
                      <div class="notes12">
                        <div class="notes13">Notes:</div>
                        <div class="this-is-mr-container3">
                          <p class="this-is-mr3">
                            This is Mr John M.’s project of CRM Website and he
                            is currently now in this stage.
                          </p>
                        </div>
                        <div class="component-73">
                          <div class="lp-card-button3">
                            <div class="move-to3">Move to</div>
                            <img
                              class="iconexbrokendown-23"
                              alt=""
                              src="static/public/iconexbrokendown-2-1@2x.png"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="notes14"></div>
                  <div class="notes15">
                    <div class="line-div"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column3">
              <div class="column-header3">
                <div class="column-name3">client won</div>
              </div>
              <div class="card-container">
                <div class="card4">
                  <div class="frame-parent2">
                    <div class="rectangle-wrapper2">
                      <div class="frame-child1"></div>
                    </div>
                    <div class="title-description-parent2">
                      <div class="title-description4">
                        <div class="title-priority-parent2">
                          <div class="title-priority4">
                            <div class="john-m4">John M.</div>
                          </div>
                          <img
                            class="icon-ionicons-sharp-elli4"
                            loading="lazy"
                            alt=""
                            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                          />
                        </div>
                        <div class="johnmgmailcom4">johnm@gmail.com</div>
                        <div class="crm-website4">CRM Website</div>
                      </div>
                      <div class="notes16">
                        <div class="notes17">Notes:</div>
                        <div class="this-is-mr-container4">
                          <p class="this-is-mr4">
                            This is Mr John M.’s project of CRM Website and he
                            is currently now in this stage.
                          </p>
                        </div>
                        <div class="component-74">
                          <div class="lp-card-button4">
                            <div class="move-to4">Move to</div>
                            <img
                              class="iconexbrokendown-24"
                              alt=""
                              src="static/public/iconexbrokendown-2-1@2x.png"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="notes18"></div>
                  <div class="notes19">
                    <div class="notes-child1"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
