<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/CSS/global.css" />
    <link rel="stylesheet" href="static/CSS/meeting-scheduler.css" />
    <link rel="stylesheet" href="static/CSS/dashboard.css" />
    <link rel="stylesheet" href="static/CSS/tables.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="meeting-scheduler">
      <div class="main-interface">
        <div class="sidebar">
          <div class="navigation-panel">
            <img
              class="logo-icon"
              loading="lazy"
              alt=""
              src="static/public/logo1.svg"
            />
          </div>
          <img
            class="icon-tabler-icons-user-cir"
            loading="lazy"
            alt=""
            src="static/public/icon--tablericons--usercircle.svg"
          />

          <nav class="main-links">
            <div class="projects-icon1">
              <div class="navigation-links">
                <button class="icon9" onclick="window.location.href='/projects'">🏗️</button>
              </div>
            </div>
            <div class="employees-icon1">
              <div class="frame6">
                <button class="icon10" onclick="window.location.href='/employee'">👥</button>
              </div>
            </div>
            <div class="contacts1">
              <div class="frame7">
                <button class="icon11" onclick="window.location.href='/meeting-scheduler'">📅</button>
              </div>
            </div>
            <div class="leads-pipeline1">
              <div class="frame8">
                <button class="icon12" onclick="window.location.href='/leads-pipeline'">📊</button>
              </div>
            </div>
            <div class="home1">
              <div class="frame9">
                <button class="icon13" onclick="window.location.href='/home'">🏠</button>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <main class="content-area">
        <div class="content-header">
          <h1 class="meeting-scheduler1">Meeting Scheduler</h1>
        </div>
        <form class="contact-management">
          <div class="add-contact-button-parent">
            <div class="add-contact-button">
              </button>
              <div class="field">
                <img
                  class="icon-jam-icons-outline-l"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--search.svg"
                />

                <input
                  class="search-input"
                  placeholder="Search for any contact"
                  type="text"
                />

                <img
                  class="icon-jam-icons-outline-l1"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--chevrondown.svg"
                />
              </div>
            </div>
            <table class="employee-table">
              <thead>
                  <tr>
                      <th>Company</th>
                      <th>Client</th>
                      <th>Email</th>
                      <th>Phone Number</th>
                  </tr>
              </thead>
              <tbody>
                  {% for employee in data %}
                  <tr>
                      <td>{{ employee.3 }}</td>
                      <td>{{ employee.0 }}</td>
                      <td>{{ employee.1 }} </td>
                      <td>{{ employee.2 }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>

          
          </div> 
          <div class="meeting-management">
            <div class="schedule-meeting-button-wrapper">
              <button class="schedule-meeting-button" onclick="event.preventDefault();window.location.href='/add-new-meeting';">
                <img
                  class="icon-ionicons-outline-ad1"
                  alt=""
                  src="static/public/icon--ionicons--outline--addoutline.svg"
                />

                <div class="schedule-a-new">Schedule a new meeting</div>
              </button>
            </div>
            <div class="main">
              <div class="meeting-list-header">
                <h1 class="upcoming-meetings">Upcoming Meetings</h1>
              </div>
              <div class="meeting-schedule-details">
                <div class="next-meeting-in">Next Meeting Today:</div>
              </div>
              <div class="meeting-placeholder">
                <div class="meeting-placeholder-child"></div>
                <div class="div-scbea"> {{now.2}} </div>
              </div>
              <div class="meeting-schedule-details1">
                <div class="with-marshall"> {{now.0}} </div>
              </div>
              <div class="meeting-schedule-details2">
                <div class="joining-link-httpszoomlink-container">
                  <span class="joining-link-httpszoomlink-container1">
                    <span class="joining-link">Joining Link: </span>
                    <span class="httpszoomlinkjoin"> {{now.4}} </span>
                  </span>
                </div>
              </div>
              <div class="meeting-schedule-details3">
                <div class="other-meetings">Other Meetings:</div>
              </div>
              <div class="meeting-schedule-details4">
                {%for meet in meetings%}
                <div class="button-scbea">
                  <button class="meeting-title">
                    <div class="meeting-title-crm">
                      Meeting Title: {{meet.0}}
                    </div>
                  </button>
                  <div class="meeting-title1">
                    <div class="on-friday-5th">ON: {{meet.1}}</div>
                  </div>
                  <button class="meeting-title2">
                    <div class="with-john-doe">With: {{meet.3}} </div>
                  </button>
                  <button class="meeting-title3">
                    <div class="at-800-pm">AT: {{meet.2}} </div>
                  </button>
                </div>
                {%endfor%}
              </div>
              </div>
            </div>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
