<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/CSS/global.css" />
    <link rel="stylesheet" href="static/CSS/meeting-scheduler.css" />
    <link rel="stylesheet" href="static/CSS/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="meeting-scheduler">
      <div class="main-interface">
        <div class="sidebar">
          <div class="navigation-panel">
            <img
              class="logo-icon"
              loading="lazy"
              alt=""
              src="static/public/logo.svg"
            />
          </div>
          <img
            class="icon-tabler-icons-user-cir"
            loading="lazy"
            alt=""
            src="static/public/icon--tablericons--usercircle.svg"
          />

          <nav class="main-links">
            <div class="projects-icon1">
              <div class="navigation-links">
                <button class="icon9" onclick="window.location.href='/projects'">🏗️</button>
              </div>
            </div>
            <div class="employees-icon1">
              <div class="frame6">
                <button class="icon10" onclick="window.location.href='/employee'">👥</button>
              </div>
            </div>
            <div class="contacts1">
              <div class="frame7">
                <button class="icon11" onclick="window.location.href='/meeting-scheduler'">📅</button>
              </div>
            </div>
            <div class="leads-pipeline1">
              <div class="frame8">
                <button class="icon12" onclick="window.location.href='/leads-pipeline'">📊</button>
              </div>
            </div>
            <div class="home1">
              <div class="frame9">
                <button class="icon13" onclick="window.location.href='/home'">🏠</button>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <main class="content-area">
        <div class="content-header">
          <h1 class="meeting-scheduler1">Meeting Scheduler</h1>
        </div>
        <form class="contact-management">
          <div class="add-contact-button-parent">
            <div class="add-contact-button">
              <button class="add-contact-label" onclick="event.preventDefault();window.location.href='/add-new-contact';">
                <img
                  class="icon-ionicons-outline-ad"
                  alt=""
                  src="static/public/icon--ionicons--outline--addoutline.svg"
                />

                <div class="add-a-new">Add a new contact</div>
              </button>
              <div class="field">
                <img
                  class="icon-jam-icons-outline-l"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--search.svg"
                />

                <input
                  class="search-input"
                  placeholder="Search for any contact"
                  type="text"
                />

                <img
                  class="icon-jam-icons-outline-l1"
                  alt=""
                  src="static/public/icon--jamicons--outline--logos--chevrondown.svg"
                />
              </div>
            </div>
            <div class="contacts-chart">
              <div class="logo">
                <div class="contacts-title"></div>
                {%for contact in data%}
                <div class="contacts-columns">
                  <img
                    class="contact-information-icon"
                    loading="lazy"
                    alt=""
                    src="static/public/vector.svg"
                  />
                </div>
                {%endfor%}
                
              </div>
              <div class="company-name">
                <div class="contacts-title1">
                  <img
                    class="building-icon"
                    alt=""
                    src="static/public/building@2x.png"
                  />

                  <div class="company">Company</div>
                </div>
                {%for client in data%}
                <div class="contacts-columns10">
                  <div class="google">{{client.3}}</div>
                </div>
                {%endfor%}
               
              </div>
              <div class="contact-table-header">
                <div class="contacts-title2">
                  <img
                    class="public-relation-icon"
                    alt=""
                    src="static/public/publicrelation@2x.png"
                  />

                  <div class="client">Client</div>
                </div>
                {%for client in data%}
                <div class="contacts-columns20">
                  <div class="john-doe">{{client.0}}</div>
                </div>
                {%endfor%}
               
              </div>
              <div class="music">
                <div class="contacts-title3">
                  <img
                    class="email-1-icon"
                    alt=""
                    src="static/public/email-1@2x.png"
                  />

                  <div class="email">Email</div>
                </div>
                {%for client in data%}
                <div class="contacts-columns30">
                  <div class="johndoegmailcom">{{client.1}}</div>
                </div>
                {%endfor%}
                
              </div>
              <div class="b">
                <div class="contacts-title4">
                  <img
                    class="telephone-icon"
                    alt=""
                    src="static/public/telephone@2x.png"
                  />

                  <div class="phone-no">Phone no.</div>
                </div>
                {%for client in data%}
                <div class="contacts-columns40">
                  <div class="div">{{client.2}}</div>
                </div>
                {%endfor%}
                
              </div>
              <div class="contact-table-header1">
                <div class="contacts-title5"></div>
                {%for client in data%}
                <div class="contacts-columns50">
                  <img
                    class="icon-ionicons-sharp-elli"
                    loading="lazy"
                    alt=""
                    src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
                  />
                </div>
                  {%endfor%}
               
              </div>
            </div>
          </div>
          <div class="meeting-management">
            <div class="schedule-meeting-button-wrapper">
              <button class="schedule-meeting-button" onclick="event.preventDefault();window.location.href='/add-new-meeting';">
                <img
                  class="icon-ionicons-outline-ad1"
                  alt=""
                  src="static/public/icon--ionicons--outline--addoutline.svg"
                />

                <div class="schedule-a-new">Schedule a new meeting</div>
              </button>
            </div>
            <div class="main">
              <div class="meeting-list-header">
                <h1 class="upcoming-meetings">Upcoming Meetings</h1>
              </div>
              <div class="meeting-schedule-details">
                <div class="next-meeting-in">Next Meeting in:</div>
              </div>
              <div class="meeting-placeholder">
                <div class="meeting-placeholder-child"></div>
                <div class="div-scbea">4:04:50:08</div>
              </div>
              <div class="meeting-schedule-details1">
                <div class="with-marshall">With: Marshall</div>
              </div>
              <div class="meeting-schedule-details2">
                <div class="joining-link-httpszoomlink-container">
                  <span class="joining-link-httpszoomlink-container1">
                    <span class="joining-link">Joining Link: </span>
                    <span class="httpszoomlinkjoin">https//zoomlink.join</span>
                  </span>
                </div>
              </div>
              <div class="meeting-schedule-details3">
                <div class="other-meetings">Other Meetings:</div>
              </div>
              <div class="meeting-schedule-details4">
                <div class="button-scbea">
                  <button class="meeting-title">
                    <div class="meeting-title-crm">
                      Meeting Title: CRM Design
                    </div>
                  </button>
                  <div class="meeting-title1">
                    <div class="on-friday-5th">ON: Friday, 5th April,2024</div>
                  </div>
                  <button class="meeting-title2">
                    <div class="with-john-doe">With: John Doe</div>
                  </button>
                  <button class="meeting-title3">
                    <div class="at-800-pm">AT: 8:00 pm</div>
                  </button>
                </div>
              </div>
              <div class="meeting-schedule-details5">
                <div class="meeting-title-parent">
                  <button class="meeting-title4">
                    <div class="meeting-title-crm1">
                      Meeting Title: CRM Design
                    </div>
                  </button>
                  <div class="meeting-title5">
                    <div class="on-friday-5th1">ON: Friday, 5th April,2024</div>
                  </div>
                  <button class="meeting-title6">
                    <div class="with-john-doe1">With: John Doe</div>
                  </button>
                  <button class="meeting-title7">
                    <div class="at-800-pm1">AT: 8:00 pm</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
