<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/CSS/global.css" />
    <link rel="stylesheet" href="static/CSS/projects-view-details.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="projects-view-details">
      <div class="john-m-s-crm-website-parent">
        <h2 class="john-m-s">John M. ‘s CRM Website</h2>
        <i class="project-name11">Project Name:</i>
        <div class="add-a-new-project5">
          <input class="crm-website" placeholder="CRM Website" type="text" />
        </div>
        <i class="client-name11">Client Name:</i>
        <input class="add-a-new-project6" type="text" />

        <i class="due-date11">Due Date:</i>
        <select class="add-a-new-project7"></select>
        <i class="assigned-to11">Assigned to:</i>
        <div class="add-a-new-project8">
          <div class="columns">
            <img class="officer-icon" alt="" src="static/public/officer@2x.png" />

            <div class="william-s">William S.</div>
          </div>
          <img
            class="icon-ionicons-outline-ca"
            alt=""
            src="static/public/icon--ionicons--outline--caretdownoutline-1.svg"
          />
        </div>
        <i class="set-tasks1">Set Tasks:</i>
        <div class="add-a-new-project9">
          <input class="wireframes-mockups-prototypi" type="text" />
        </div>
      </div>
      <div class="task-details-wrapper">
        <div class="task-details">
          <div class="task-header">
            <img
              class="icon-ionicons-outline-cl2"
              loading="lazy"
              alt=""
              src="static/public/icon--ionicons--outline--closecircleoutline.svg"
              id="iconIoniconsOutlineCl"
            />

            <div class="task-progress">
              <div class="task-status-title-parent">
                <div class="task-status-title">
                  <i class="tasks-status">Tasks Status:</i>
                </div>
                <div class="task-status-cards">
                  <div class="task-status">
                    <div class="task-status1">
                      <div class="task-cards">
                        <div class="component-6">
                          <div class="status-markers"></div>
                          <input
                            class="icon-ionicons-filled-che1"
                            type="checkbox"
                          />
                        </div>
                        <div class="task-labels">
                          <div class="wireframes">Wireframes</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="task-status2">
                    <div class="task-status3">
                      <div class="component-6-parent">
                        <div class="component-61">
                          <div class="component-6-child"></div>
                          <input
                            class="icon-ionicons-filled-che2"
                            type="checkbox"
                          />
                        </div>
                        <div class="wireframes-wrapper">
                          <div class="wireframes1">Mockups</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="task-status4">
                    <div class="task-status5">
                      <div class="component-6-group">
                        <div class="component-62">
                          <div class="component-6-item"></div>
                          <input
                            class="icon-ionicons-filled-che3"
                            type="checkbox"
                          />
                        </div>
                        <div class="wireframes-container">
                          <div class="wireframes2">Prototyping</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="task-status6">
                    <input class="rectangle-input" type="checkbox" />

                    <div class="wireframes-frame">
                      <div class="wireframes3">Development</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="progress-details-wrapper">
            <div class="progress-details">
              <i class="overall-progress">Overall Progress:</i>
              <div class="progress-chart">
                <div class="chart-container1">
                  <div class="chart2">
                    <div class="chart-data">
                      <img
                        class="subtract-icon2"
                        alt=""
                        src="static/public/subtract1.svg"
                      />

                      <iframe class="subtract1"> </iframe>
                    </div>
                  </div>
                  <div class="progress-footer">
                    <img class="union-icon2" alt="" src="static/public/union1.svg" />

                    <div class="div30">70%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var iconIoniconsOutlineCl = document.getElementById("iconIoniconsOutlineCl");
      if (iconIoniconsOutlineCl) {
        iconIoniconsOutlineCl.addEventListener("click", function (e) {
          window.location.href = "./projects.html";
        });
      }
      </script>
  </body>
</html>
