<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/CSS/global.css" />
    <link rel="stylesheet" href="static/CSS/projects.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
  </head>
  <body>
    <div class="projects">
      <button class="icon-ionicons-outline-ad-parent" id="frameButton">
        <img
          class="icon-ionicons-outline-ad"
          alt=""
          src="static/public/icon--ionicons--outline--addoutline.svg"
        />

        <div class="add-a-new2">Add a new project</div>
      </button>
      <select class="field5"></select>
      <textarea class="project-management">Project Management</textarea>
      <header class="instance-parent">
        <div class="project-name-wrapper">
          <div class="project-name">Project Name</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">Client Name</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">Assigned to</div>
        </div>
        <div class="instance-child"></div>
        <div class="project-name-wrapper">
          <div class="project-name">Due Date</div>
        </div>
        <div class="remaining-time-wrapper">
          <div class="project-name">Remaining Time</div>
        </div>
        <div class="more-actions-projects">
          <img
            class="icon-ionicons-outline-ad"
            alt=""
            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
          />
        </div>
      </header>
      <ol class="instance-group">
        <div class="project-name-wrapper">
          <div class="project-name">CRM Website</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">John M.</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">Marshall W.</div>
        </div>
        <div class="rectangle-parent">
          <div class="instance-item"></div>
          <div class="div2">30%</div>
          <div class="instance-inner"></div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">20-04-2024</div>
        </div>
        <div class="remaining-time-wrapper">
          <div class="project-name">18 days</div>
        </div>
        <div class="more-actions-projects">
          <img
            class="icon-ionicons-outline-ad"
            alt=""
            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
          />
        </div>
      </ol>
      <div class="instance-container">
        <div class="project-name-wrapper">
          <div class="project-name">CRM Website</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">John M.</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">Marshall W.</div>
        </div>
        <div class="rectangle-parent">
          <div class="instance-item"></div>
          <div class="div2">30%</div>
          <div class="instance-inner"></div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">20-04-2024</div>
        </div>
        <div class="remaining-time-wrapper">
          <div class="project-name">18 days</div>
        </div>
        <div class="more-actions-projects">
          <img
            class="icon-ionicons-outline-ad"
            alt=""
            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
          />
        </div>
      </div>
      <div class="instance-parent1">
        <div class="project-name-wrapper">
          <div class="project-name">CRM Website</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">John M.</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">Marshall W.</div>
        </div>
        <div class="rectangle-parent">
          <div class="instance-item"></div>
          <div class="div2">30%</div>
          <div class="instance-inner"></div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">20-04-2024</div>
        </div>
        <div class="remaining-time-wrapper">
          <div class="project-name">18 days</div>
        </div>
        <div class="more-actions-projects">
          <img
            class="icon-ionicons-outline-ad"
            alt=""
            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
          />
        </div>
      </div>
      <div class="instance-parent2">
        <div class="project-name-wrapper">
          <div class="project-name">CRM Website</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">John M.</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">Marshall W.</div>
        </div>
        <div class="rectangle-parent">
          <div class="instance-item"></div>
          <div class="div2">30%</div>
          <div class="instance-inner"></div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">20-04-2024</div>
        </div>
        <div class="remaining-time-wrapper">
          <div class="project-name">18 days</div>
        </div>
        <div class="more-actions-projects">
          <img
            class="icon-ionicons-outline-ad"
            alt=""
            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
          />
        </div>
      </div>
      <div class="instance-parent3">
        <div class="project-name-wrapper">
          <div class="project-name">CRM Website</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">John M.</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">Marshall W.</div>
        </div>
        <div class="rectangle-parent">
          <div class="instance-item"></div>
          <div class="div2">30%</div>
          <div class="instance-inner"></div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">20-04-2024</div>
        </div>
        <div class="remaining-time-wrapper">
          <div class="project-name">18 days</div>
        </div>
        <div class="more-actions-projects">
          <img
            class="icon-ionicons-outline-ad"
            alt=""
            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
          />
        </div>
      </div>
      <div class="instance-parent4">
        <div class="project-name-wrapper">
          <div class="project-name">CRM Website</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">John M.</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">Marshall W.</div>
        </div>
        <div class="rectangle-parent">
          <div class="instance-item"></div>
          <div class="div2">30%</div>
          <div class="instance-inner"></div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">20-04-2024</div>
        </div>
        <div class="remaining-time-wrapper">
          <div class="project-name">18 days</div>
        </div>
        <div class="more-actions-projects">
          <img
            class="icon-ionicons-outline-ad"
            alt=""
            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
          />
        </div>
      </div>
      <div class="instance-parent5">
        <div class="project-name-wrapper">
          <div class="project-name">CRM Website</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">John M.</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">Marshall W.</div>
        </div>
        <div class="rectangle-parent">
          <div class="instance-item"></div>
          <div class="div2">30%</div>
          <div class="instance-inner"></div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">20-04-2024</div>
        </div>
        <div class="remaining-time-wrapper">
          <div class="project-name">18 days</div>
        </div>
        <div class="more-actions-projects">
          <img
            class="icon-ionicons-outline-ad"
            alt=""
            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
          />
        </div>
      </div>
      <div class="instance-parent6">
        <div class="project-name-wrapper">
          <div class="project-name">CRM Website</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">John M.</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">Marshall W.</div>
        </div>
        <div class="rectangle-parent">
          <div class="instance-item"></div>
          <div class="div2">30%</div>
          <div class="instance-inner"></div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">20-04-2024</div>
        </div>
        <div class="remaining-time-wrapper">
          <div class="project-name">18 days</div>
        </div>
        <div class="more-actions-projects">
          <img
            class="icon-ionicons-outline-ad"
            alt=""
            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
          />
        </div>
      </div>
      <div class="instance-parent7">
        <div class="project-name-wrapper">
          <div class="project-name">CRM Website</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">John M.</div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">Marshall W.</div>
        </div>
        <div class="rectangle-parent">
          <div class="instance-item"></div>
          <div class="div2">30%</div>
          <div class="instance-inner"></div>
        </div>
        <div class="project-name-wrapper">
          <div class="project-name">20-04-2024</div>
        </div>
        <div class="remaining-time-wrapper">
          <div class="project-name">18 days</div>
        </div>
        <div class="more-actions-projects">
          <img
            class="icon-ionicons-outline-ad"
            alt=""
            src="static/public/icon--ionicons--sharp--ellipsisverticalsharp.svg"
          />
        </div>
      </div>
      <div class="progress">Progress</div>
      <nav class="sidebar">
        <div class="projects-icon">
          <div class="frame">
            <div class="icon">🏗️</div>
          </div>
        </div>
        <div class="employees-icon">
          <div class="frame">
            <div class="icon">👥</div>
          </div>
        </div>
        <div class="contacts">
          <div class="frame">
            <div class="icon">📅</div>
          </div>
        </div>
        <div class="leads-pipeline">
          <div class="frame">
            <div class="icon">📊</div>
          </div>
        </div>
        <div class="home">
          <div class="frame">
            <div class="icon">🏠</div>
          </div>
        </div>
        <img
          class="icon-tabler-icons-user-cir"
          alt=""
          src="static/public/icon--tablericons--usercircle.svg"
        />

        <img class="logo-icon" alt="" src="static/public/logo.svg" />
      </nav>
    </div>

    <script>
      var frameButton = document.getElementById("frameButton");
      if (frameButton) {
        frameButton.addEventListener("click", function (e) {
          window.location.href = "./projects-add-a-new-project.html";
        });
      }
      </script>
  </body>
</html>
