<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/CSS/global.css" />
    <link rel="stylesheet" href="static/CSS/sign-up-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
  </head>
  <body>
    <div class="sign-up-page">
      <div class="signup">
        <div class="modal">
          <div class="text17">
            <b class="t-signup-title">Join Us Now</b>
            <div class="t-signup-subtitle">
              Start your journey with us today.
            </div>
          </div>
          <form class="container">
            <div class="input-1">
              <div class="t-email-title">Email Address</div>
              <div class="input">
                <div class="input-large">
                  <div class="t-email-holdplace">Enter your email</div>
                </div>
              </div>
            </div>
            <div class="input-1">
              <div class="t-email-title">Full Name</div>
              <div class="input">
                <div class="input-large">
                  <div class="t-email-holdplace">Your full name here</div>
                </div>
              </div>
            </div>
            <div class="input-1">
              <div class="t-email-title">Company Name</div>
              <div class="input">
                <div class="input-large">
                  <div class="t-email-holdplace">••••••••••</div>
                </div>
              </div>
              <div class="caption">
                <img class="lock-icon" alt="" src="static/public/lock.svg" />

                <div class="t-at-least-8-character">Your company name</div>
              </div>
            </div>
          </form>
          <div class="actions">
            <button class="button-2">
              <div class="t-continue">Continue</div>
            </button>
            <button class="button-1">
              <img class="icon20" alt="" src="static/public/icon.svg" />

              <div class="t-signin-with-google">Sign in with Google</div>
            </button>
            <a class="t-signup">
              <span>
                <span class="already-have-an">Already have an account? </span>
                <span class="login">Login</span>
                <span class="already-have-an"> here</span>
              </span>
            </a>
          </div>
        </div>
        <div class="frame20">
          <div class="container1">
            <img class="icon21" alt="" src="static/public/.svg" />

            <div class="t-slogan">
              Connecting the dots between today and your future. Join us to be a
              part of the transformation.
            </div>
            <div class="avatar">
              <div class="avatar1"></div>
              <div class="container2">
                <div class="t-slogan-author">Elena Gilbert</div>
                <div class="t-slogan-author-position">CEO, VisionTech</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
