<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/CSS/global.css" />
    <link rel="stylesheet" href="static/CSS/view-employee-profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
  </head>
  <body>
    <div class="view-employee-profile">
      <header class="employee-profile-parent">
        <div class="employee-profile">Employee Profile</div>
        <img
          class="icon-ionicons-outline-cl7"
          alt=""
          src="static/public/icon--ionicons--outline--closecircleoutline1.svg"
        />
      </header>
      <section class="emp-profile">
        <div class="view-photo-wrapper">
          <div class="view-photo">View Photo</div>
        </div>
        <div class="name-parent">
          <div class="name">Name</div>
          <div class="sid">Sid</div>
          <div class="email1">Email</div>
          <div class="siddxdgrowthxcom">siddxd@growthx.com</div>
          <div class="phone-number">Phone Number</div>
          <div class="div24">+92 49652845732</div>
        </div>
        <div class="about-sid-parent">
          <div class="name">
            <span>About</span>
            <span class="span"> </span>
            <span class="sid1">Sid</span>
          </div>
          <div class="lorem-ipsum-dolor">
            Lorem ipsum dolor sit amet consectetur. Erat auctor a aliquam vel
            congue luctus. Leo diam cras neque mauris ac arcu elit ipsum dolor
            sit amet consectetur.
          </div>
        </div>
        <div class="legal-parent">
          <div class="legal">Legal</div>
          <div class="kyc-status">KYC Status</div>
          <div class="verified-wrapper">
            <div class="verified">Verified</div>
          </div>
          <div class="kyc-details">KYC Details</div>
          <div class="view-wrapper">
            <div class="view">View</div>
          </div>
        </div>
        <img class="officer-icon12" alt="" src="static/public/officer2@2x.png" />
      </section>
      <section class="emp-profile1">
        <div class="professional-details-parent">
          <div class="professional-details">Professional Details</div>
          <img
            class="bold-duotone-astranomy-sta"
            alt=""
            src="static/public/bold-duotone--astranomy--stars.svg"
          />

          <div class="this-are-the">
            This are the professional details shown to users in the app.
          </div>
        </div>
        <div class="expertise-in">Expertise In</div>
        <div class="total-experience">Total Experience</div>
        <div class="bold-duotone-nature-travel-parent">
          <img
            class="bold-duotone-nature-travel"
            alt=""
            src="static/public/bold-duotone--nature-travel--suitcase.svg"
          />

          <div class="career">Career</div>
        </div>
        <div class="bold-duotone-money-wallet-parent">
          <img
            class="bold-duotone-money-wallet"
            alt=""
            src="static/public/bold-duotone--money--wallet-money.svg"
          />

          <div class="career">Money</div>
        </div>
        <div class="bold-duotone-text-formatting-parent">
          <img
            class="bold-duotone-money-wallet"
            alt=""
            src="static/public/bold-duotone--text-formatting--link-round.svg"
          />

          <div class="career">Design</div>
        </div>
        <div class="bold-duotone-text-formatting-group">
          <img
            class="bold-duotone-money-wallet"
            alt=""
            src="static/public/bold-duotone--text-formatting--link-round1.svg"
          />

          <div class="career">Stock</div>
        </div>
        <div class="frame-parent7">
          <img class="frame-icon" alt="" src="static/public/frame-1321314479.svg" />

          <div class="years">7 Years</div>
          <div class="of-total-experience">of total experience</div>
        </div>
        <div class="ratings">Ratings</div>
        <div class="customer-reviews">Customer Reviews</div>
        <div class="see-all-reviews">See all reviews -</div>
        <div class="frame-parent8">
          <img class="frame-icon" alt="" src="static/public/frame-13213144791.svg" />

          <div class="years">4 Stars</div>
          <div class="of-total-experience">from 34 customers</div>
        </div>
        <div class="review-1">
          <div class="ankit-srivastava-wrapper">
            <div class="ankit-srivastava">Ankit Srivastava</div>
          </div>
          <div class="star-parent">
            <img class="star-icon" alt="" src="static/public/star-4.svg" />

            <img class="frame-child8" alt="" src="static/public/star-3.svg" />

            <img class="frame-child9" alt="" src="static/public/star-5.svg" />

            <img class="frame-child10" alt="" src="static/public/star-6.svg" />

            <img class="frame-child11" alt="" src="static/public/star-51.svg" />
          </div>
          <div class="excelent-conversation-with-him-wrapper">
            <div class="excelent-conversation-with">
              excelent conversation with him.. very knowledgeble personhappy to
              talk towith him
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
