<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/CSS/global.css" />
    <link rel="stylesheet" href="static/CSS/view-employee-profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,600;0,800;1,100;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="view-employee-profile">
      <section class="employee-profile-parent">
        <h1 class="employee-profile">Employee Profile</h1>
        <div class="icon-ionicons-outline-cl-container">
          <img
            class="icon-ionicons-outline-cl4"
            loading="lazy"
            alt=""
            src="static/public/icon--ionicons--outline--closecircleoutline1.svg"
          />
        </div>
      </section>
      <div class="profile-container">
        <div class="emp-profile">
          <div class="officer-details-parent">
            <div class="officer-details">
              <div class="officer-parent">
                <img
                  class="officer-icon12"
                  loading="lazy"
                  alt=""
                  src="static/public/officer@2x.png"
                />

                <div class="link-wrapper">
                  <button class="link12">
                    <div class="view-photo">View Photo</div>
                  </button>
                </div>
              </div>
            </div>
            <div class="contact-info-details-parent">
              <div class="contact-info-details">
                <div class="contact-info-labels">
                  <div class="name">Name</div>
                  <div class="sid">Sid</div>
                </div>
                <div class="contact-info-labels1">
                  <div class="email1">Email</div>
                  <div class="siddxdgrowthxcom">siddxd@growthx.com</div>
                </div>
                <div class="contact-info-labels2">
                  <div class="phone-number">Phone Number</div>
                  <div class="div31">+92 49652845732</div>
                </div>
              </div>
              <div class="about-sid-parent">
                <div class="about-sid">
                  <span>About</span>
                  <span class="span"> </span>
                  <span class="sid1">Sid</span>
                </div>
                <div class="lorem-ipsum-dolor">
                  Lorem ipsum dolor sit amet consectetur. Erat auctor a aliquam
                  vel congue luctus. Leo diam cras neque mauris ac arcu elit
                  ipsum dolor sit amet consectetur.
                </div>
              </div>
            </div>
          </div>
          <div class="legal-parent">
            <div class="legal">Legal</div>
            <div class="frame-parent12">
              <div class="k-y-c-status-details-wrapper">
                <div class="k-y-c-status-details">
                  <div class="kyc-status">KYC Status</div>
                  <div class="kyc-details">KYC Details</div>
                </div>
              </div>
              <div class="k-y-c-verification">
                <div class="k-y-c-verification-details">
                  <div class="verified">Verified</div>
                </div>
                <div class="k-y-c-verification-details1">
                  <div class="view">View</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="emp-profile1">
        <div class="emp-profile-inner">
          <div class="frame-parent13">
            <div class="professional-details-parent">
              <div class="professional-details">Professional Details</div>
              <div class="this-are-the">
                This are the professional details shown to users in the app.
              </div>
            </div>
            <img
              class="bold-duotone-astranomy-sta"
              loading="lazy"
              alt=""
              src="static/public/bold-duotone--astranomy--stars.svg"
            />
          </div>
        </div>
        <div class="expertise-in">Expertise In</div>
        <div class="skill-categories-parent">
          <div class="skill-categories">
            <button class="finance-skills">
              <div class="travel-money-skills">
                <img
                  class="bold-duotone-nature-travel"
                  alt=""
                  src="static/public/bold-duotone--nature-travel--suitcase.svg"
                />
              </div>
              <div class="career">Career</div>
            </button>
            <button class="creative-skills">
              <div class="stock-design-skills">
                <img
                  class="bold-duotone-text-formatting"
                  alt=""
                  src="static/public/bold-duotone--text-formatting--link-round.svg"
                />
              </div>
              <div class="stock">Stock</div>
            </button>
          </div>
          <div class="skill-categories1">
            <button class="frame-parent14">
              <div class="bold-duotone-money-wallet-wrapper">
                <img
                  class="bold-duotone-money-wallet"
                  alt=""
                  src="static/public/bold-duotone--money--wallet-money.svg"
                />
              </div>
              <div class="money">Money</div>
            </button>
            <button class="frame-parent15">
              <div class="bold-duotone-text-formatting-wrapper">
                <img
                  class="bold-duotone-text-formatting1"
                  alt=""
                  src="static/public/bold-duotone--text-formatting--link-round-1.svg"
                />
              </div>
              <div class="design">Design</div>
            </button>
          </div>
        </div>
        <div class="total-experience">Total Experience</div>
        <div class="experience-details">
          <div class="experience-ratings">
            <div class="experience-years-reviews">
              <div class="years-reviews-labels">
                <div class="years">7 Years</div>
                <div class="of-total-experience">of total experience</div>
              </div>
            </div>
            <img
              class="see-all-reviews-button"
              loading="lazy"
              alt=""
              src="static/public/frame-1321314479.svg"
            />
          </div>
        </div>
        <div class="ratings">Ratings</div>
        <div class="experience-details1">
          <div class="frame-parent16">
            <div class="frame-wrapper7">
              <div class="stars-parent">
                <div class="stars">4 Stars</div>
                <div class="from-34-customers">from 34 customers</div>
              </div>
            </div>
            <img
              class="frame-icon"
              loading="lazy"
              alt=""
              src="static/public/frame-1321314479-1.svg"
            />
          </div>
        </div>
        <div class="customer-reviews">Customer Reviews</div>
        <div class="review-1">
          <div class="ankit-srivastava-wrapper">
            <div class="ankit-srivastava">Ankit Srivastava</div>
          </div>
          <div class="divptochisagashicatalogworry-parent">
            <div class="divptochisagashicatalogworry">
              <img
                class="star-icons"
                loading="lazy"
                alt=""
                src="static/public/star-4.svg"
              />

              <img
                class="p-icon"
                loading="lazy"
                alt=""
                src="static/public/star-3.svg"
              />

              <img
                class="star-icons1"
                loading="lazy"
                alt=""
                src="static/public/star-5.svg"
              />

              <img
                class="iconttlsvg-fill"
                loading="lazy"
                alt=""
                src="static/public/star-6.svg"
              />

              <img
                class="iconttlsvg"
                loading="lazy"
                alt=""
                src="static/public/star-5-1.svg"
              />
            </div>
            <div class="excelent-conversation-with-him-wrapper">
              <div class="excelent-conversation-with">
                excelent conversation with him.. very knowledgeble personhappy
                to talk towith him
              </div>
            </div>
          </div>
        </div>
        <div class="see-all-reviews">See all reviews -</div>
      </div>
    </div>
  </body>
</html>
